<body class="image-layout">
  <section class="section login-hero-size" style="padding-top: 10px;">
    <% if user_signed_in? %>
      <% current_user.facilities.each do |facility| %> <!--current_user.facilitiesでログイン中のユーザが登録済みの施設を全て取得-->
        <% @facility = facility.id %>
        <%= link_to facility.facility_name, user_facility_home_path(current_user.id, facility_id: @facility), class: "has-text-weight-bold is-size-5 has-text-link" %>/
      <% end %>
    <% end %>
    <div class="container">
      <article class="media">
        <div class="media-content">
          <div class="content has-text-centered">
            <h1 class="main-title">
              <strong class="top-title">Online Visit</strong>
            </h1>
            <h5 class="is-size-2">
              <% if facility_signed_in? %>
              管理者 <%= current_facility.facility_name %> 様
              <% elsif user_signed_in? %>
              <%= current_user.name %> 様
              <% end %>
            </h5>
            <h2 class="sub-title" style="font-size: 40px;">オンラインで大切な家族との時間を共有</h2>
            <% unless user_signed_in? || facility_signed_in? %>
            <%= link_to "ログイン", user_session_path, class: "button is-success is-rounded is-large has-text-weight-bold center-login" %>
            <% end %>
          </div>
          <% if user_signed_in? && current_user.admin == false && current_user.floor_authority == false %>
          <div class="button-position">
            <div class="columns is-centered">
              <div class="column is-3 top-btn-position">
                <div class="top-btn">
                  <button class="button is-large is-primary is-rounded has-text-weight-bold">予約する</button>
                </div>
                <div class="top-btn">
                  <button class="button is-large is-success is-rounded has-text-weight-bold" id="open">予約情報確認</button>
                </div>
                <div class="top-btn">
                  <button class="button is-large is-info is-rounded has-text-weight-bold">通話を開始する</button>
                </div>
              </div>
              <div class="top-btn">
                <p id="explanation">ご利用前に<span id="span-color">ご入居者様の登録申請</span>をして下さい。<br>入力情報確認後、システム利用可能になります。</p>
                <button class="button is-large is-danger is-rounded has-text-weight-bold red-btn">ご入居者様の登録申請</button><br>
                <div class="notice-btn">
                  <button class="button is-large is-warning is-rounded has-text-weight-bold">
                    <%= link_to_unless_current "お知らせ表示", class: "notice-link" %>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <% end %>
        </div>
      </article>
      <div class="columns is-centered">
        <div class="column is-3">
          <div class="admin-btn">
            <% if facility_signed_in? %>
              <% if current_facility.facility_admin == true %>
                <%= form_with(model: @facility, url: facility_change_admin_path(current_facility.id), local: true, method: :patch) do |f| %>
                <%= f.hidden_field :facility_admin, :value => false %>
                <%= f.submit "一般職員専用画面へ変更", class: "button is-large is-info has-text-weight-bold" %>
                <% end %>
              <% elsif current_facility.facility_admin == false %>
                <%= form_with(model: @facility, url: facility_change_admin_path(current_facility.id), local: true, method: :patch) do |f| %>
                <%= f.hidden_field :facility_admin, :value => true %>
                <%= f.submit "管理者専用画面へ変更", class: "button is-large is-success has-text-weight-bold" %>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>

<!--ご入居者様の登録申請ボタンのモーダル-->
<div>
  <div class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title is-half has-text-weight-bold reserve-modal">予約情報</p>
        <button class="delete" aria-label="close" id="close"></button>
      </header>
      <section class="modal-card-body">
        <p class="image is-3by2">

        </p>
      </section>
      <footer class="modal-card-foot">
        <button class="button is-danger has-text-weight-bold" style="float: right">予約を取り消し</button>
      </footer>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

<script>
  $(document).ready(function() {
    $("#open").on("click", function() {
      $("div.modal").addClass("is-active");
    })

    $("#close, div.modal-background").on("click", function() {
      $("div.modal").removeClass("is-active");
    })
  });
</script>