<section class="hero is-medium" id="hero-2">
  <div class="main_img" style="background-image: url('/static_pages5.jpg')"></div>
  <div class="main_img" style="background-image: url('/video_room.jpg')"></div>
  <div class="main_img" style="background-image: url('/static_pages9.jpg')"></div>
  <div class="main_img" style="background-image: url('/static_pages1.jpg')"></div>
  <div class="hero-body">
    <div class="container has-text-centered" style="font-family: 'Quicksand', sans-serif;">
      <h1 class="has-text-centered" style="font-size: 80px;">
        <font color="#DAA520">O</font><font color="#fff">nli<font color="#FA8072">n</font></font><font color="#4682B4">e</font> <font color="#4DADA1">V</font><font color="#fff">isi</font><font color="#DF907C">t</font>
      </h1>
      <p class="is-size-3">
        大切な人と結ぶ出会いの時間
      </p>
    </div>
  </div>
</section>


<section class="hero is-medium has-text-centered" id="hero-4">
  <div class="hero-body" style="padding-top:100px; padding-bottom: 100px;">
    <% if user_signed_in? %>
      <div class="cp_tab">
        <input type="radio" name="cp_tab" id="tab1_1" aria-controls="first_tab01" checked>
        <label for="tab1_1"><i class="far fa-building"></i>&nbsp;施設（登録済）</label>
        <input type="radio" name="cp_tab" id="tab1_2" aria-controls="second_tab01">
        <label for="tab1_2"><i class="fas fa-home"></i>&nbsp;施設登録</label>
        <input type="radio" name="cp_tab" id="tab1_3" aria-controls="third_tab01">
        <label for="tab1_3"><i class="fas fa-home"></i>&nbsp;マイページ</label>

        <div class="cp_tabpanels">
          <div id="first_tab01" class="cp_tabpanel">
          </div>

          <div id="second_tab01" class="cp_tabpanel">
            <div class="inline-block_tab">
              <img src="user_mypage.jpg" width="400" height="300">
            </div>&emsp;&emsp;
            <div class="inline-block_tab">
              <p class="content1 has-text-left is-size-9 has-text-weight-semibold">
                介護施設、病院、保育園などを様々なジャンルから<br>
                利用したい施設を登録することで<br>
                ビデオチャットの予約をすることができます。
              </p><br>
              <%= link_to "#", class: "btn-animation-facility" do %>
                <span class="icon">
                  <i class="far fa-building"></i>
                </span>&nbsp;
                <span>
                  施設登録
                </span>
              <% end %>
            </div>
          </div>
        
          <div id="third_tab01" class="cp_tabpanel">
            <div class="inline-block_tab">
              <img src="facility_registration.jpg" width="400" height="300">
            </div>&emsp;&emsp;
            <div class="inline-block_tab">
              <p class="content1 has-text-left is-size-9 has-text-weight-semibold">
                登録した施設、予約の確認、写真の閲覧ができます。<br>
              </p><br>
              <%= link_to "#", class: "btn-animation-login" do %>
                <span class="icon">
                  <i class="fas fa-home"></i>
                </span>&nbsp;
                <span>
                  マイページ
                </span>
              <% end %>
            </div>
          </div>
        </div>
      </div>

      <div class="about-title is-size-3 has-text-centered">お知らせ</div>
      <article class="panel" id="panel-content">
        <div class="columns is-multiline has-text-left">
          <% @informations.each do |information| %>
            <div class="column is-3">
              <div class="card">
                <div class="card-content">
                  <p><%= l( information.created_at, format: :hyphen) %></p>
                  <p class="has-text-weight-bold">
                    <%= information.title %>
                  </p><br>
                  <%= information.news.truncate(12) %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </article>
    <% elsif facility_signed_in? %>
      <div class="about-title-2 is-size-3 has-text-centered">お知らせ</div>
      <article class="panel" id="panel-content">
        <div class="columns is-multiline has-text-left">
          <% @informations.each do |information| %>
            <div class="column is-3">
              <div class="card">
                <div class="card-content">
                  <p><%= l( information.created_at, format: :hyphen) %></p>
                  <p class="has-text-weight-bold">
                    <%= information.title %>
                  </p><br>
                  <%= information.news.truncate(12) %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </article>
    <% elsif !user_signed_in? && !facility_signed_in? %>
      <div class="about-title-2 is-size-3">Online Visitについて</div>
      <div class="inline-block_content">
        <p class="content1 has-text-left is-size-9 has-text-weight-semibold">
          これからの暮らしに欠かすことのできない要素として<br>
          オンラインをとらえ離れていてもすぐに繋がれる<br>
          <strong>“Online Visit(オンラインビジット)”</strong>を作りました。<br>
          ログインすることで 面会予約、ビデオチャット、<br>
          写真の閲覧 が可能になります。<br>
          ユーザの新規登録がお済みでない方も<br>
          こちらの<font color="#4DADA1">ログインボタン</font>よりお入りください<br>
        </p><br>
        <%= link_to user_session_path, class: "btn-animation-login" do %>
          <span class="icon">
            <i class="fas fa-users"></i>
          </span>&nbsp;
          <span>
            ログイン
          </span>
        <% end %>
      </div>&emsp;&emsp;
      <div class="inline-block_content">
        <img src="static_pages5.jpg" width="400" height="300">
      </div>

      <div class="about-title is-size-3 has-text-centered">お知らせ</div>
      <article class="panel" id="panel-content">
        <div class="columns is-multiline has-text-left">
          <% @informations.each do |information| %>
            <div class="column is-3">
              <div class="card">
                <div class="card-content">
                  <p><%= l( information.created_at, format: :hyphen) %></p>
                  <p class="has-text-weight-bold">
                    <%= information.title %>
                  </p><br>
                  <%= information.news.truncate(12) %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </article>
    <% end %>
  </div>
</section>

<script>
  $(function(){
    ScrollReveal().reveal('.inline-block_content', { delay: 100, distance: '50px', origin: 'right', duration: 800, viewFactor: 0.5 });
    ScrollReveal().reveal('.about-title', { delay: 100, distance: '50px', origin: 'right', duration: 800, viewFactor: 0.5 });
    ScrollReveal().reveal('#panel-content', { delay: 100, distance: '50px', origin: 'right', duration: 800, viewFactor: 0.5 });
    ScrollReveal().reveal('.cp_tab', { delay: 100, distance: '50px', origin: 'right', duration: 800, viewFactor: 0.5 });
    ScrollReveal().reveal('.about-title-2', { delay: 100, distance: '50px', origin: 'right', duration: 800, viewFactor: 0.5 });
  });
</script>