<body class="image-layout">
  <section class="hero login-hero-size" >
    <div class="container">
      <article class="media">
        <div class="media-content">
          <div class="content has-text-centered">
            <div class="signup-title">
              <strong class="new-title">新規登録</strong>
            </div>
          </div>
            <div class="button-position">
              <div class="columns is-centered">
                <div class="column is-6 top-btn-position">
                <%= form_for @user, url: signup_index_path, method: :get do |f| %>
                  <%= render "users/shared/error_messages", resource: resource %>

                  <div class="field">
                    <%= f.label :address, "あなたの住所", class: "label" %><br />
                    <%= f.text_field :address, :placeholder => "\uf2b9 住所を入力してください", autocomplete: "address", class: "fa input is-medium input-top" %>
                  </div>

                  <div class="field">
                    <%= f.label :phone, "電話番号", class: "label" %><br />
                    <%= f.text_field :phone, :placeholder => "\uf098電話番号を入力してください", autocomplete: "phone", class: "fa input is-medium input-top" %>
                  </div>

                  <div class="actions">
                    <%= f.submit "新規登録", class: "button is-link is-medium is-fullwidth new-btn has-text-weight-bold" %>
                  </div>
                <% end %>

                </div>
              </div>
            </div>
        </div>
      </article>
      <div class="columns is-centered">
        <div class="column">
        </div>
      </div>
    </div>
  </section>
</body>


