<body class="image-layout">
  <section class="hero comfirm-hero-size" >
    <div class="container-fruid">
      <article class="media">
        <div class="media-content">
          <div class="content has-text-centered">
            <div class="signup-upper">  
              <div class="signups-title">
                <strong class="new-title">追加情報登録</strong><br>                         
              </div>              
              <div class="page-display">
                <div class="page-number">
                  <span class="fa-stack fa-lg" style="font-size: 1.5em; color: gainsboro;">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-inverse fa-stack-1x">1</i>    
                </div>
                ・・・
                <div class="page-number">
                  <span class="fa-stack fa-lg" style="font-size: 1.5em; color: fuchsia;">
                  <i class="fa fa-circle fa-stack-2x faa-tada animated"></i>
                  <i class="fa fa-inverse fa-stack-1x faa-tada animated" style="color: white;">2</i>    
                </div>
                ・・・
                <div class="page-number">
                  <span class="fa-stack fa-lg" style="font-size: 1.5em; color: white;">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-inverse fa-stack-1x" style="color: black;">3</i>    
                </div>
              </div>
            </div>
          </div>
            <div class="button-position">
              <div class="columns is-centered">
                <div class="column is-6 top-btn-position">
                <%= form_for @user, url: step3_signup_index_path, method: :get do |f| %>
                  <%= render "users/shared/error_messages", resource: @user %>

                  <div class="field">
                    <%= f.label :address, "あなたの住所", class: "label" %><br />
                    <%= f.text_field :address, :placeholder => "\uf2b9 住所を入力してください", value: session[:address], autocomplete: "address", class: "fa input is-medium input-top", :size=>"100px" %>
                  </div>

                  <div class="field">
                    <%= f.label :phone, "電話番号", class: "label" %><br />
                    <%= f.text_field :phone, :placeholder => "\uf098電話番号を入力してください", value: session[:phone], autocomplete: "phone", class: "fa input is-medium input-top" %>
                  </div>

                  <div class="actions">
                    <%= f.submit "次へ", class: "button is-link is-medium is-fullwidth new-btn has-text-weight-bold" %>
                  </div>
                <% end %>

                </div>
              </div>
            </div>
        </div>
      </article>
      <div class="columns is-centered">
        <div class="column">
        </div>
      </div>
    </div>
  </section>
</body>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome-animation/0.2.1/font-awesome-animation.min.css">
