<ul class="image-layout">
</ul>
  <section class="hero login-hero-size">
    <div class="container is-fluid">
      <article class="media">
        <div class="media-content">
          <div class="content has-text-centered">
            <div class="signup-upper">
              <div class="signups-title">
                <strong class="new-title">基本情報登録</strong><br>
              </div>
              <div class="page-display">
                <div class="page-number">
                  <span class="fa-stack fa-lg" style="font-size: 1.5em; color: fuchsia;">
                    <i class="fa fa-circle fa-stack-2x faa-tada animated"></i>
                    <i class="fa fa-inverse fa-stack-1x faa-tada animated">1</i>
                  </span>
                </div>
                ・・・
                <div class="page-number">
                  <span class="fa-stack fa-lg" style="font-size: 1.5em; color: white;">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-inverse fa-stack-1x" style="color: black;">2</i>
                </div>
                ・・・
                <div class="page-number">
                  <span class="fa-stack fa-lg" style="font-size: 1.5em; color: white;">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-inverse fa-stack-1x" style="color: black;">3</i>
                </div>
              </div>
            </div>
          </div>
            <div class="button-position">
              <div class="columns is-centered">
                <div class="column is-6 top-btn-position">
                <%= form_with model: @user, url: step2_signup_index_path, local: true, method: :get do |f| %>
                  <%= render "users/shared/error_messages", resource: @user %>

                  <div class="field-signup">
                    <%= f.label :name, "あなたのお名前", class: "label" %><br />
                    <%= f.text_field :name, :placeholder => "\uf304 お名前を入力してください", value: session[:name], autofocus: true, autocomplete: "name", class: "fa input is-medium input-top", :size=>"100px", style: "ime-mode:disabled;" %>
                  </div>

                  <div class="field-signup">
                    <%= f.label :email, class: "label" %><br />
                    <%= f.email_field :email, :placeholder => "\uf0e0 メールアドレスを入力してください", value: session[:email], autofocus: true, autocomplete: "email", class: "fa input is-medium input-top", style: "ime-mode:disabled;" %>
                  </div>

                  <div class="field-signup">
                    <%= f.label :password, class: "label" %><br />
                    <%= f.password_field :password, :placeholder => "\uf13e パスワードを入力してください", autocomplete: "new-password", class: " fa input is-medium input-top", style: "ime-mode:disabled;" %>
                  </div>

                  <div class="field-signup">
                    <%= f.label :password_confirmation, "パスワード再確認", class: "label" %><br />
                    <%= f.password_field :password_confirmation, :placeholder => "\uf13e パスワードを再入力してください", autocomplete: "new-password", class: "fa input is-medium input-top" %>
                  </div>

                  <div class="field-signup">
                    <%= f.submit "次へ", class: "button is-link is-medium is-fullwidth new-btn has-text-weight-bold" %>
                  </div>
                <% end %>
                </div>
              </div>
            </div>
        </div>
      </article>
      <div class="columns is-centered">
        <div class="column">
        </div>
      </div>
    </div>
  </section>
