<ul class="image-layout">
</ul>
  <section class="hero login-hero-size">
    <div class="container is-fluid">
      <div class="columns has-text-centered">
        <div class="column is-10 is-offset-1 has-text-black">
          <div class="step3-title is-size-2 has-text-weight-bold" style="margin-top:20px;">入力情報確認</div>
          <div class="confirm-message">（入力項目を確認後、合っていれば新規作成ボタンを押してください）</div>
          <div class="page-display">
            <div class="page-number">
              <span class="fa-stack fa-lg" style="font-size: 1.5em; color: gainsboro;">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-inverse fa-stack-1x">1</i></span>
            </div>
            ・・・
            <div class="page-number">
              <span class="fa-stack fa-lg" style="font-size: 1.5em; color: gainsboro;">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-inverse fa-stack-1x">2</i></span>
            </div>
            ・・・
            <div class="page-number">
              <span class="fa-stack fa-lg" style="font-size: 1.5em; color: fuchsia;">
                <i class="fa fa-circle fa-stack-2x faa-tada animated"></i>
                <i class="fa fa-inverse fa-stack-1x faa-tada animated" style="color: white;">3</i></span>
            </div>
          </div>
        </div>
      </div>
      <div class="columns">
        <div class="column is-6 is-offset-3 comfirm-page">
          <%= form_with model: @user, url: signup_index_path, local: true, method: :post do |f| %>
            <%= render "users/shared/error_messages", resource: @user %>

            <div class="comfirm">
              <%= f.label :name, "あなたのお名前", class: "label" %><br />
              <div class="confirm-newuser"><%= session[:name] %>
              </div>
            </div>

            <div class="comfirm">
              <%= f.label :email, class: "label" %><br />
              <div class="confirm-newuser"><%= session[:email] %>
              </div>
            </div>

            <div class="comfirm">
              <%= f.label :password, class: "label" %><br />
              <div class="confirm-newuser"><%= session[:password] %>
              </div>
            </div>

            <div class="comfirm">
              <%= f.label :postal_code, "郵便番号", class: "label" %><br />
              <div class="confirm-newuser"><%= session[:postal_code] %>
              </div>
            </div>

            <div class="comfirm">
              <%= f.label :prefecture_name, "都道府県", class: "label" %><br />
              <div class="confirm-newuser"><%= session[:prefecture_name] %>
              </div>
            </div>

            <div class="comfirm">
              <%= f.label :address_city, "市区町村", class: "label" %><br />
              <div class="confirm-newuser"><%= session[:address_city] %>
              </div>
            </div>

            <div class="comfirm">
              <%= f.label :address_street, "町域", class: "label" %><br />
              <div class="confirm-newuser"><%= session[:address_street] %>
              </div>
            </div>

            <div class="comfirm">
              <%= f.label :phone, "電話番号", class: "label" %><br />
              <div class="confirm-newuser"><%= session[:phone] %>
              </div>
            </div>

            <div class="comfirm">
              <%= f.submit "新規登録", class: "button is-link is-medium success-btn has-text-weight-bold", style: "width:45%;" %>
              <%= link_to "修正する", step1_signup_index_path, class: "button is-light is-medium basic_btn has-text-weight-bold", style: "width:45%;" %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="columns">
        <div class="column blank-frank" style="height:100px;">
        </div>
      </div>
    </div>
  </section>
