<h1>申請内容の確認</h1>
  <% @request_user = User.find(@my_request.user_id) %>
  <%= @request_user.name %>
  <%= @my_request.req_name %>
  <%= @my_request.req_phone %>
  <%= @my_request.req_approval %>
  <%= @my_request.req_address %>
