<div class="relative-confirm-body">
  <% @request_residents.each do |user, r_ids| %>
    <% current_facility.acceptance_requests(user, current_facility).each do |request| %>
      <div class="card">
        <div class="relative-new-container">
          <div class="relative-confirm-section">
          <nav class="level" id="level-bottom">
            <p class="has-text-weight-bold is-size-5">
              <h1 class="has-text-weight-bold is-size-4"><%= request.user.name %><span class="is-size-5 req-name"> 様からの申請</span></h1>
            </p>
          </nav>
            <table class="table is-narrow user-edit-table is-bordered" id="relative-confirm-table">
              <tbody>
                <tr>
                  <th>利用者名</th>
                  <td>
                    <%= simple_format(request.req_name) %>
                  </td>
                </tr>
                <tr>
                  <th>連絡先</th>
                  <td>
                    <%= simple_format(request.req_phone) %>
                  </td>
                </tr>
                <tr>
                  <th>住所</th>
                  <td>
                    <%= simple_format(request.req_address) %>
                  </td>
                </tr>
                <tr>
                  <th>紐付け</th>
                  <td>
                    <p class="is-size-7">（登録済み入居者）</p>
                    <% request.user.residents.each do |resident| %>
                      <span class="registered-name"><%= resident.name %></span>
                    <% end %><br><br>

                    <p>↓↓</p>

                    <p class="is-size-7">（承認後の入居者）</p>
                    <% if @newly_resident.count == request.user.residents.count %>
                      <p class="c-red has-text-weight-bold">申請を保留します</p>
                    <% else %>
                      <% @newly_resident.each do |resident| %>
                        <span class="approval-name"><%= resident.name %></span>
                      <% end %>
                    <% end %>

                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
  <%= link_to 'まとめて承認', update_relatives_relatives_path(update_relatives: @request_residents), method: :patch, class: "button is-primary is-light has-text-weight-bold", id: "req-submit" %>
</div>
