<%= form_with(url: relatives_path, method: :get, local: true) do |f| %>
  <div class="field is-grouped is-grouped-right">
    <div class="control has-icons-left">
      <%= f.text_field :search, :placeholder => "申請者を入力..", class: "input is-rounded" %>
      <span class="icon is-left">
        <i class="fas fa-search" aria-hidden="true"></i>
      </span>
    </div>
    <div class="control">
      <%= f.submit "\uf002検索", class: "fa button is-link is-outlined is-rounded" %>
    </div>
  </div>
<% end %>

<div class="relative-index-container">
  <div class="relative-index-section">
    <div>
      <h1>※過去の申請一覧が表示されます。</h1>
    </div>
    <table class="table is-bordered is-fullwidth" id="relative-index-table">
      <thead>
        <tr>
          <th rowspan="2" width="10%">申請日</th>
          <th rowspan="2" width="20%">申請者</th>
          <th rowspan="2" width="20%">承認/否認</th>
          <th colspan="5" width="50%">申請内容</th>
        </tr>
        <tr>
          <th colspan="2" width="20%" class="is-size-6">利用者名</th>
          <th colspan="1" width="10%" class="is-size-6">電話番号</th>
          <th colspan="2" width="20%" class="is-size-6">住所</th>
        </tr>
      </thead>

      <tbody>
      <% @approvals.each do |approval| %>
        <tr>
          <td><%= l(approval.created_at, format: :dot) %></td>
          <td>
            <%= approval.user_name %>
          </td>
          <td>
            <%= approval.status %>
          </td>
          <td colspan="2"><%= approval.req_name %></td>
          <td><%= approval.req_phone %></td>
          <td colspan="2"><%= approval.req_address %></td>
        </tr>
      <% end %>
      <tbody>
    </table>
  </div>
</div>
