<h1>承認済み申請一覧</h1>
<table class="table is-striped is-hoverable is-fullwidth" id="req-index-table">
  <thead>
    <tr>
      <th>申請日</th>
      <th>申請者</th>
      <th>入居者</th>
      <th>電話番号</th>
      <th>住所</th>
    </tr>
  </thead>
  <tbody>
  <% @approvals.each do |approval| %>
  <% @request_user = User.find(approval.user_id) %>
    <tr>
      <td><%= approval.created_at %></td>
      <td><%= @request_user.name %></td>
      <td><%= approval.req_name %></td>
      <td><%= approval.req_phone %></td>
      <td><%= approval.req_address %></td>
    </tr>
  <% end %>
  <tbody>
</table>
