<div class="relative-new-body">
  <%= form_with(url: new_relative_path, method: :get, local: true) do |f| %>
    <div class="field is-grouped is-grouped-right">
      <div class="control has-icons-left">
        <%= f.text_field :search, :placeholder => "入居者名を入力..", class: "input is-rounded" %>
        <span class="icon is-left">
          <i class="fas fa-search" aria-hidden="true"></i>
        </span>
      </div>
      <div class="control">
        <%= f.submit "\uf002検索", class: "fa button is-link is-outlined is-rounded" %>
      </div>
    </div>
  <% end %>

  <%= form_with(model: current_facility, url: confirm_relative_path(current_facility), local: true) do |f| %>
    <% @requests.each do |request| %>
      <% if request.req_approval == "request" %>
        <div class="card">
          <div class="relative-new-container">
            <div class="relative-new-section">
            <nav class="level" id="level-bottom">
            </nav>
              <table class="table is-narrow user-edit-table is-bordered" id="relative-table">
                <tbody>
                  <tr>
                    <th colspan="2">
                      <div class="relative-new-req-name">
                        <h1 class="has-text-weight-bold is-size-4"><%= request.user.name %><span class="is-size-5 req-name"> 様からの申請</span></h1>
                          <div>
                            <%= link_to request_mail_preview_path(denial: request), method: :get, class:"button" do %>
                              <i class="far fa-envelope"></i><span>メール</span>
                            <% end %>
                          </div>

                          <div class="new-cancel-btn">
                            <%= link_to relative_path(request, denial: request), method: :patch,
                              data: { confirm: "#{request.user.name}の申請を否認してよろしいですか？" }, class:"button is-rounded new-denial-btn" do %>
                              <div class="relative_cp_tooltip"><i class="fas fa-times"></i>否認する<span class="relative_cp_tooltiptext">※否認と同時にメール送信されます</span></div>
                            <% end %>
                          </div>
                      </div>
                    </th>
                  </tr>
                  <tr>
                    <th>利用者名</th>
                    <td>
                      <%= simple_format(request.req_name) %>
                    </td>
                  </tr>
                  <tr>
                    <th>連絡先</th>
                    <td>
                      <%= simple_format(request.req_phone) %>
                    </td>
                  </tr>
                  <tr>
                    <th>住所</th>
                    <td>
                      <%= simple_format(request.req_address) %>
                    </td>
                  </tr>
                  <tr>
                    <th>紐付け</th>
                    <td>
                      <%= render partial: 'shared/error_messages', locals: { obj: @request_user } if @request_user.present? %>

                      <%= f.fields_for "request_residents[]", request.user do |i| %>
                      <div class="new-checkbox">
                        <%= i.collection_check_boxes :resident_ids, @residents, :id, :name do |b| %>
                          <span class="r-check-box"><%= b.label { b.check_box + " " + b.text } %></span>
                        <% end %><br>
                      </div>
                      <div class="tag-apply">
                        <%= i.collection_check_boxes :resident_ids, request.user.residents, :id, :name, class: 'd-none' do |b| %>
                          <span class="tag is-warning r-tag"><%= b.label { b.text } %>承認済</span>
                        <% end %>
                      </div>
                      <% end %>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
    <%= f.submit "確認画面へ", class: "button is-link is-light has-text-weight-bold", id: "req-submit" if @requests.present? %>
  <% end %>
</div>
