<div class="column is-2-desktop is-0-mobile" style="padding-right: 0px; padding-top: 0px; background: -webkit-linear-gradient(top,#4E6F8B,#0A203F);
                                                    background: -moz-linear-gradient(top,#4E6F8B,#0A203F);">
  <section id="vertical_tab_nav">
    <ul>
      <li>
        <%= link_to facility_home_facility_path(id: current_facility) do %>
          <span class="icon">
            <i class="fas fa-home"></i>
          </span>&nbsp;
        <% end %>
      <li>
        <%= link_to "利用者一覧", facility_residents_path(facility_id: current_facility) %>
      </li>
      <li>
        <%= link_to "ご家族一覧", facility_users_path(facility_id: current_facility) %>
      </li>
      <li>
        <%= link_to "予約状況一覧", "#" %>
      </li>
      <li>
        <%= link_to "お知らせ", facility_informations_path(facility_id: current_facility) %>
      </li>
      <li>
        <%= link_to "お問い合わせ", "#" %>
      </li>
    </ul>
  </section>
</div>