<div class="container">
  <div id="WebDev" class="content-tab">
    <section class="hero is-medium">
      <div class="hero-body search-img">
        <h1 class="title has-text-centered is-size-1 search-title" style="">
          ご利用施設登録
        </h1>
        <div class="container">
          <%= form_with(url: user_facilities_used_path, method: :get, local: true) do |f| %>
            <div class="field is-grouped is-grouped-centered">
              <div class="control search-input">
                <%= f.text_field :search, :placeholder => "\uf304 ご利用の施設名を入力してください", class: "fa input is-focused is-medium is-rounded is-black" %>
              </div>
              <div class="control">
                <%= f.submit "\uf002検索", class: "fa button is-focused is-medium is-success is-rounded search-btn" %>
              </div>
            </div>
          <% end %>
          </div>
      </div>
    </section>
    <div id="tabs-with-content">
      <div class="tabs is-centered is-large has-text-weight-bold">
        <ul>
          <li class="is-active">
            <a>
              <span class="icon is-small"><i class="fas fa-search-minus"  aria-hidden="true"></i></span>
              <span>検索結果</span>
            </a>
          </li>
          <li>
            <a>
              <span class="icon is-small"><i class="fas fa-laptop-house"  aria-hidden="true"></i></span>
              <span>登録施設</span>
            </a>
          </li>
        </ul>
      </div>
      <div>
        <section class="tab-content">
          <%= form_with model: @user, url: user_update_facilities_used_path(@user), local: true do |f| %>
            <div class="field" style="margin-left: 60px; margin-right: 80px"> <!--施設テーブルとの関連付けのため追加-->
              <%= f.collection_check_boxes :facility_ids, @facilities, :id, :facility_name do |b| %>
                <div class="card card-style">
                  <div class="card-image">
                    <figure class="image is-4by3">
                      <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
                    </figure>
                  </div>
                  <div class="card-content">
                    <div class="media">
                      <div class="media-left">
                        <figure class="image is-48x48">
                          <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
                        </figure>
                      </div>
                      <div class="media-content">
                        <%= b.label { b.check_box + " " + b.text } %>
                        <p class="title is-4">John Smith</p>
                        <p class="subtitle is-6">@johnsmith</p>
                      </div>
                    </div>
                    <div class="content">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      Phasellus nec iaculis mauris. <a>@bulmaio</a>.
                      <a href="#">#css</a> <a href="#">#responsive</a>
                      <br>
                      <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>

            <div class="field" style="margin-left: 60px; margin-right: 80px"> <!--施設テーブルとの関連付けのため追加-->
              <%= f.collection_check_boxes :facility_ids, current_user.facilities, :id, :facility_name do |b| %>
                <div class="card card-style">
                  <div class="card-image">
                    <figure class="image is-4by3">
                      <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
                    </figure>
                  </div>
                  <div class="card-content">
                    <div class="media">
                      <div class="media-left">
                        <figure class="image is-48x48">
                          <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
                        </figure>
                      </div>
                      <div class="media-content">
                        <%= b.label { b.check_box + " " + b.text } %>
                        <p class="title is-4">John Smith</p>
                        <p class="subtitle is-6">@johnsmith</p>
                      </div>
                    </div>
                    <div class="content">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      Phasellus nec iaculis mauris. <a>@bulmaio</a>.
                      <a href="#">#css</a> <a href="#">#responsive</a>
                      <br>
                      <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>

            <div class="actions btn-width">
              <%= f.submit "利用施設を登録", class: "button is-primary is-medium is-fullwidth new-btn has-text-weight-bold" %>
            </div>
          <% end %>
        </section>

        <section class="tab-content">
          <% current_user.facilities.each do |facility| %>
            <div class="card card-style">
              <div class="card-image">
                <figure class="image is-4by3">
                  <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
                </figure>
              </div>
              <div class="card-content">
                <div class="media">
                  <div class="media-left">
                    <figure class="image is-48x48">
                      <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
                    </figure>
                  </div>
                  <div class="media-content">
                    <p class="title is-4">
                      <% @facility = facility.id %>
                      <%= link_to facility.facility_name, user_facility_home_path(current_user.id, facility_id: @facility), class: "has-text-weight-bold is-size-5 has-text-link" %>
                    </p>
                    <p class="subtitle is-6">@johnsmith</p>
                  </div>
                </div>
                <div class="content">
                  <a>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Phasellus nec iaculis mauris. @bulmaio</a>.
                  <a href="#">#css</a> <a href="#">#responsive</a>
                  <br>
                  <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
                </div>
              </div>
            </div>
          <% end %>
        </section>
      </div>
    </div>
  </div>
</div>

<script>
  let tabsWithContent = (function () {
    let tabs = document.querySelectorAll('.tabs li');
    let tabsContent = document.querySelectorAll('.tab-content');

    let deactvateAllTabs = function () {
      tabs.forEach(function (tab) {
        tab.classList.remove('is-active');
      });
    };

    let hideTabsContent = function () {
      tabsContent.forEach(function (tabContent) {
        tabContent.classList.remove('is-active');
      });
    };

    let activateTabsContent = function (tab) {
      tabsContent[getIndex(tab)].classList.add('is-active');
    };

    let getIndex = function (el) {
      return [...el.parentElement.children].indexOf(el);
    };

    tabs.forEach(function (tab) {
      tab.addEventListener('click', function () {
        deactvateAllTabs();
        hideTabsContent();
        tab.classList.add('is-active');
        activateTabsContent(tab);
      });
    })

    tabs[0].click();
  })();
</script>

