<%= render partial: 'shared/facility_images', locals: { facility: current_facility} %>

<div class="columns is-variable is-0 is-desktop facility-columns" style="margin-right: 0px; margin-top: -1.1rem;">
  <%= render 'shared/side_link' %>
  <div class="column is-10-desktop is-12-mobile" style="padding: 0px;">
    <section class="hero is-primary is-bold">
      <div class="hero-body">
        <div class="container has-text-centered">
          <h1 class="title is-size-3">
            ご家族一覧
          </h1>
        </div>
      </div>
      <div class="hero-foot">
        <div class="tabs is-boxed is-fullwidth">
          <div class="container">
            <ul>
              <li class="tab is-active" onclick="openTab(event,'WebDev')"><a class="has-text-weight-semibold">利用中</a></li>
              <li class="tab" onclick="openTab(event,'WebAud')"><a class="has-text-weight-semibold">退所</a></li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <div class="container section">
      <div id="WebDev" class="content-tab">
        <%= will_paginate @collection, renderer: BulmaPagination::Rails, class: "is-centered is-rounded" %>
        <section class="hero is-small">
          <div class="hero-body">
            <div class="container">
              <%= form_with(url: users_path, method: :get, local: true) do |f| %>
              <div class="field is-grouped is-grouped-right">
                <div class="control">
                  <%= f.text_field :search, :placeholder => "名前を入力", class: "input search-user is-rounded is-black" %>
                </div>
                <div class="control">
                  <%= f.submit "\uf002検索", class: "fa button search-btn-user is-link is-rounded" %>
                </div>
              </div>
              <% end %>
            </div>
          </div>
        </section>

        <div class="table-container">
          <table class="table is-fullwidth is-hoverable is-striped " id="user-table">
            <thead>
              <tr>
                <th>名前</th>
                <th>利用者</th>
                <th>面会予約</th>
                <th>Room設定</th>
                <th>Room Name</th>
                <th>面会</th>
                <th>編集</th>
                <th>削除</th>
              </tr>
            </thead>
            <tbody>
              <% @users.each do |user| %>
              <% room = user.rooms.find_by(facility_id: current_facility.id) %>
              <tr>
                <td class="is-vcentered">
                  <div class="has-text-weight-semibold user-table-tag">
                    <%= user.name %>
                  </div>
                </td>
                <td>
                  <%= link_to "登録", '#', class: "button is-info is-rounded has-text-weight-semibold" %>
                </td>
                <td>
                  <%= link_to "予約", facility_reservations_path(current_facility, user: user), class: "button is-link is-rounded has-text-weight-semibold" %>
                </td>
                <td>
                  <% if room.present? %>
                    <div class=" js-contents--edit-button">
                      <%= link_to edit_user_room_path(user, id: room.id), remote: true, class: "button is-primary is-rounded has-text-weight-semibold" do %>
                        <i class="fas fa-key"></i>
                      <% end %>
                    </div>
                  <% else %>
                    <div class=" js-contents--create-button">
                      <%= link_to new_user_room_path(user), remote: true, class: "button is-primary is-rounded has-text-weight-semibold" do %>
                        <i class="fas fa-key"></i>
                      <% end %>
                    </div>
                  <% end %>
                </td>
                <td class="is-vcentered">
                  <div class="has-text-weight-semibold user-table-tag">
                    <%= room.room_name if room.present? %>
                  </div>
                </td>
                <td>
                  <%= link_to video_room_user_path(user, facility_id: current_facility.id), class: "button is-warning" do %>
                  <span><i class="fas fa-photo-video"></i></span>
                  <% end %>
                </td>
                <td>
                  <%= link_to edit_user_path(user), class: "button is-success" do %>
                  <span><i class="fas fa-user-edit"></i></span>
                  <% end %>
                </td>
                <td>
                  <%= link_to facility_user_path(user), method: :delete, data: { confirm: "削除してよろしいですか?" },
                                  class: "button is-danger" do %>
                  <span><i class="far fa-trash-alt"></i></span>
                  <% end %>
                </td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div><br>
        <%= will_paginate @collection, renderer: BulmaPagination::Rails, class: "is-centered is-rounded" %>
      </div>

      <div id="WebAud" class="content-tab" style="display:none">
        <p>
          test2<br>
          Details Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
          industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled
          it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic
          typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets
          containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including
          versions of Lorem Ipsum.</p>
      </div>
    </div>
  </div>
</div>

<!--モーダル表示-->
<div class="modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <div class="js-contents--content-form"></div>
  </div>
</div>

<script>
  function openTab(evt, tabName) {
    var i, x, tablinks;
    x = document.getElementsByClassName("content-tab");
    for (i = 0; i < x.length; i++) {
      x[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tab");
    for (i = 0; i < x.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" is-active", "");
    }
    document.getElementById(tabName).style.display = "block";
    evt.currentTarget.className += " is-active";
  }
</script>

<script>
  $(function() {
    ScrollReveal().reveal('.facility-icon-image', {
      delay: 600,
      distance: '70%',
      origin: 'top',
      duration: 2000,
      viewFactor: 0.5
    });
    ScrollReveal().reveal('#facility-name', {
      delay: 100,
      distance: '100%',
      origin: 'left',
      duration: 2000,
      viewFactor: 0.5
    });
  });
</script>
