<div class="mypage-main-content">
  <mypage-aside>
    <div>
      <div class="profile-section">
        <%= current_user.user_icon_image %>
        <p class="has-text-centered"><%= current_user.name %></p>
      </div>
    </div>
    <div class="mypage-side-link">
      <a class="panel-tab is-active mypage-links has-text-centered" onclick="openTab(event,'Web')"><i class="far fa-calendar-alt"></i>
        <p>予約</p>
      </a>
      <a class="panel-tab mypage-links has-text-centered" onclick="openTab(event,'Faci')"><i class="fas fa-images"></i>
        <p>写真</p>
      </a>
      <a class="panel-tab mypage-links has-text-centered" onclick="openTab(event,'Resi')"><i class="fas fa-film"></i>
        <p>動画</p>
      </a>
      <a class="panel-tab mypage-links has-text-centered has-text-centered" onclick="openTab(event,'Infor')"><i class="far fa-building"></i>
        <p>施設</p>
      </a>
    </div>
  </mypage-aside>

  <mypage-main>
    <article>
      <section class="hero-image-user">
        <div class="user-home-image">
          <%= current_user.user_background %>
          <div class="user-icon-outline">
            <%= current_user.user_icon_responsive %>
          </div>
        </div>
      </section>

      <div id="Web" class="content-tab">
        <div class="Web-section">
          <div class="columns">
            <% current_user.grouped_facility.each do |facility_id, other| %>
              <div class="card-content" id="my-page-info-content">
                <div class="card" style="display: flex; border-radius: 11px;">
                  <div class="media-left">
                    <small><%= current_user.mypage_facilities_icon(facility_id) %></small>
                  </div>
                  <div class="media-content" id="web-media-section">
                    <% current_user.mypage_informations(facility_id).last(2).each do |information| %>
                      <div class="mypage-information">
                        <div class="show-modal" data-target="my-modal-<%= information.id %>">
                          <div class="box" id="mypage-user-box">
                            <div class="media">
                              <%= current_user.mypage_informations_icon(information) %>
                              <div class="media-content">
                                <div class="content" id="edit-content">
                                  <p class="is-size-7">
                                    <strong><%= information.title.truncate(9) %></strong><br>
                                    <small><%= information.facility.facility_name %></small><br>
                                    <span><%= information.news.truncate(10) %></span>
                                  </p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <!--お知らせモーダル表示-->
                      <div class="modal-info" id="my-modal-<%= information.id %>">
                        <div class="modal-background" data-target="my-modal-<%= information.id %>"></div>
                        <div class="modal-card" id="modal-info-content">
                          <header class="modal-card-head" id="modal-header-title">
                            <p class="modai-facility-icon"><%= current_user.mypage_modal_facilities_icon(facility_id) %></p>
                            <p class="modal-card-title"><%= information.facility.facility_name %>からのお知らせ</p>
                          </header>
                          <section class="modal-card-body" id="modal-body-info">
                            <p class="image is-3by2" id="modal-image-size">
                              <%= current_user.mypage_modal_informations(information) %>
                            </p>
                            <div class="modal-title-info">
                              <%= information.title %>
                            </div>
                            <div class="modal-news-info">
                              <%= information.news %>
                            </div>
                          </section>
                          <footer class="modal-card-foot" id="modal-footer-info">
                            <button type="button" id="modal-info-button" class="button close" data-target="my-modal-<%= information.id %>">マイページへ</button>
                          </footer>
                        </div>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
        <div class="web-container">
          <div class="card" id="mypage-reservations-calendar">
            <div class="has-text-centered">
              <div class="is-centered">
                <%= month_calendar(attribute: :calendar_day, events: current_user.reservation_calendar) do |date, reservations| %>
                  <% if HolidayJapan.check(date) == true %>
                    <p class="user-holiday-color"><%= l(date, format: :short) %></p>
                  <% else %>
                    <p><%= l(date, format: :short) %></p>
                  <% end %>
                  <% @reservations.each do |reservation| %>
                    <% if current_user.present? %>
                      <% if current_user.name == reservation.reservation_user %>
                        <% if reservation.reservation_date == date %>
                          <div id="time-info" class="tag mobile-none">
                            予約<%= l(reservation.started_at, format: :time) %>~
                          </div>
                        <% end %>
                      <% end %>
                    <% end %>
                  <% end %>
                <% end %>
              </div><br>
            </div>
          </div>
        </div>
        <div class="web-info">
          <% current_user.grouped_facility_reservation.each do |facility_id, other| %>
            <div class="card" id="mypage-reservations-list">
              <div class="card-content">
                <div class="media">
                  <div class="media-content" id="facility-reservation-title">
                    <p class="reservation-facility-icon"><%= current_user.mypage_modal_facilities_icon(facility_id) %></p>
                    <% facility = current_user.facilities.find(facility_id) %>
                    <p class="reservation-facility-name">
                      <%= facility.facility_name %>
                    </p>
                  </div>
                </div>
                <div class="content">
                  <div class="reservation-contents">
                    -予約内容-
                  </div>
                  <% @reservations.each do |reservation| %>
                    <% @facility = Facility.find(facility_id) %>
                    <% if (reservation.facility_id == @facility.id) && (current_user.name == reservation.reservation_user) && (reservation.reservation_date >= Date.today) %>
                      <table class="table is-fullwidth is-narrow user-edit-table" id="mypage-reserve-table">
                        <% if current_user.present? %>
                          <% if current_user.name == reservation.reservation_user %>
                            <tbody>
                              <tr>
                                <td>
                                  <%= link_to facility_reservation_path(@facility, reservation), class: "has-text-white has-text-weight-bold" do %>
                                    <%= l(reservation.reservation_date, format: :long) %>
                                    <p><%= l(reservation.started_at, format: :time) %>~</p>
                                  <% end %>
                                </td>
                              </tr>
                            </tbody>
                          <% end %>
                        <% end %>
                      </table>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
        <section class="hero is-small">
          <div class="hero-body">
            <div class="container">
            </div>
          </div>
        </section>
      </div>

      <div id="Faci" class="content-tab" style="display:none">
        <section class="hero is-medium has-text-centered" id="hero-memory">
          <div class="main-index">
            <div id="added-message"></div>
            <div class="tag-container d-flex">
              <ul class="user-show-tags">
                <li id="tag-links"><%= link_to "全ての写真", tag_path(tag: "all"), class: "tag-title tag-panel", remote: true %></li>
                <li id="tag-links"><%= link_to "行事ごとの写真", tag_path(tag: "event"), class: "tag-title tag-panel", remote: true %></li>
                <% current_user.tags.each do |tag| %>
                  <li class="tag-link-<%= tag.id %>" id="tag-links">
                    <div class="tag-panel">
                      <%= link_to tag.title, tag_path(tag), class: "tag-title-branch", remote: true %>
                      <!--（tags/destroy ⇨ destroy.js.erb ⇨ viewを表示）-->
                      <%= link_to tag_path(tag), method: :delete, remote: true, data: { confirm: "#{tag.title}のフォルダを削除してよろしいですか？" }, class:"tag-delete-btn" do %>
                        <i class="fas fa-times"></i>
                      <% end %>
                    </div>
                  </li>
                <% end %>
                <div class="tag-plus-btn">
                  <!--タグを新規作成 （tags/new ⇨ new.js.erb ⇨ 作成フォームをモーダル表示）-->
                  <%= link_to new_tag_path, class: "new-folder-btn", remote: true do %>
                    <i class="fas fa-folder-plus fa-3x"></i>
                  <% end %>
                </div>
              </ul>
            </div>

            <!--モーダル表示-->
            <div class="modal">
              <div class="modal-background"></div>
              <div class="modal-card">
                <div class="js-contents--content-form"></div>
              </div>
            </div>

            <div id="tag-images-view">
              <% @residents.each do |resident| %>
                <%= render 'memories/all_images', { image_columns: resident.image_columns, memories: resident.memories, resident: resident } %>
              <% end %>
            </div>
          </div>
        </section>
      </div>

      <div id="Resi" class="content-tab" style="display:none">
        <p>動画を表示</p>
      </div>

      <div id="Infor" class="content-tab" style="display:none">
        <article class="panel" id="panel-content">
          <div class="columns is-multiline is-narrow-mobile">
            <% current_user.facilities.each do |facility| %>
              <div class="column is-4">
                <%= link_to facility_home_path(facility) do %>
                  <div class="card">
                    <figure class="image is-4by3">
                      <%= facility_season_image(facility) %>
                    </figure>
                    <div class="card-content">
                      <p class="title is-4 content-layout">
                        <% @facility = facility.id %>
                        <%= current_user.mypage_facilities_icon(facility.id) %>
                        <span class="facility-title">
                          <%= facility.facility_name %>
                        </span>
                      </p>
                    </div>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
        </article>
      </div>
    </article>
  </mypage-main>
</div>

<script>
  function openTab(evt, tabName) {
    var i, x, tablinks;
    x = document.getElementsByClassName("content-tab");
    for (i = 0; i < x.length; i++) {
      x[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("panel-tab");
    for (i = 0; i < x.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" is-active", "");
    }
    document.getElementById(tabName).style.display = "block";
    evt.currentTarget.className += " is-active";
  }
</script>

<script>
  for (const element of document.querySelectorAll('.modal-info, .show-modal, .button, .modal-background')) {
    element.addEventListener('click', e => {
      const modalId = element.dataset.target;
      const modal = document.getElementById(modalId);
      modal.classList.toggle('is-active');
    });
  }
</script>
