<div class="mypage-main-content">
  <mypage-aside>
    <div>
      <div class="profile-section">
        <%= current_user.user_icon_image %>
        <p class="has-text-centered"><%= current_user.name %></p>
      </div>
    </div>
    <div class="mypage-side-link">
      <a class="panel-tab is-active mypage-links has-text-centered" onclick="openTab(event,'Web')"><i class="fas fa-home"></i><p>予約</p></a>
      <a class="panel-tab mypage-links has-text-centered" onclick="openTab(event,'Faci')"><i class="fas fa-images"></i><p>写真</p></a>
      <a class="panel-tab mypage-links has-text-centered" onclick="openTab(event,'Resi')"><i class="fas fa-film"></i><p>動画</p></a>
      <a class="panel-tab mypage-links has-text-centered has-text-centered" onclick="openTab(event,'Infor')"><i class="fas fa-phone-volume"></i><p>お問い合わせ</p></a>
    </div>
  </mypage-aside>

  <mypage-main>
    <article>
      <div id="Web" class="content-tab">
        <div class="Web-section">
          <div class="columns">
            <% current_user.grouped_facility.each do |facility_id, other| %>
              <div class="card-content" id="my-page-info-content">
                <div class="card" style="display: flex; border-radius: 11px;">
                  <div class="media-left">
                    <small><%= current_user.mypage_facilities_icon(facility_id) %></small>
                  </div>
                  <div class="media-content" id="web-media-section">
                    <% current_user.mypage_informations(facility_id).last(2).each do |information| %>
                    <div class="mypage-information">
                      <div>
                        <div class="box" id="mypage-user-box">
                          <div class="media">
                            <%= current_user.mypage_informations_icon(information) %>
                            <div class="media-content">
                              <div class="content" id="edit-content">
                                <p class="is-size-7">
                                <strong><%= information.title.truncate(9) %></strong><br>
                                  <small><%= information.facility.facility_name %></small>
                                  <br>
                                  <span><%= information.news.truncate(10) %></span>
                                </p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <% end %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
        <div class="web-container">
          <div class="card" id="mypage-reservations-calendar">
            <div class="has-text-centered">
              <div class="is-centered">
                <%= month_calendar(attribute: :calendar_day, events: current_user.reservation_calendar) do |date, reservations| %>
                  <%= l(date, format: :short) %>
                <% end %>
              </div><br>
            </div>
          </div>
          <div class="card" id="mypage-reservations-list">
            <div class="card-content">
              <div class="media">
                <div class="media-content">
                  <p class="title is-4">予約の確認</p>
                  <p class="subtitle is-6">予約した情報が表示されます</p>
                </div>
              </div>
              <div class="content">
                <table class="table is-fullwidth is-narrow user-edit-table" id="mypage-reserve-table">
                  <tbody>
                    <tr>
                      <th>
                        <figure class="image is-48x48">
                          <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
                        </figure>
                      </th>
                      <td>
                      <strong>山本　太郎</strong><br>
                      <small>2020/12/15 10:00~</small>
                      </td>
                      <td><i class="far fa-times-circle"></i></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="Faci" class="content-tab" style="display:none">
        <p>写真を表示</p>
      </div>

      <div id="Resi" class="content-tab" style="display:none">
        <p>動画を表示</p>
      </div>

      <div id="Infor" class="content-tab" style="display:none">
        <p>お問い合わせ</p>
      </div>
    </article>
  </mypage-main>
</div>

<script>
  function openTab(evt, tabName) {
    var i, x, tablinks;
    x = document.getElementsByClassName("content-tab");
    for (i = 0; i < x.length; i++) {
      x[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("panel-tab");
    for (i = 0; i < x.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" is-active", "");
    }
    document.getElementById(tabName).style.display = "block";
    evt.currentTarget.className += " is-active";
  }
</script>
