<body id="page-back-color"></body>
<%= render partial: 'shared/facility_images', locals: { facility: current_facility} %>

<div class="columns is-variable is-0 is-desktop facility-columns" style="margin-right: 0px; margin-top: -1.1rem;">
  <%= render 'shared/side_link' %>
  <div class="column is-10-desktop is-12-mobile" style="padding: 0px;">
    <div class="container">
      <div class="card card-width" id="reservations-calendar">
        <h1>予約設定変更</h1>

        <%= form_with(model: @calendar_setting, url: calendar_setting_path(@calendar_setting), method: :patch, local: true) do |f| %>
          <%#= render partial: 'shared/error_messages', locals: { obj: @calendar_setting } %>

          <% CalendarSetting::DayOfTheWeek.each do |regular_holiday| %>
            <%= f.check_box :regular_holiday, {multiple: true, checked: @calendar_settings.first.regular_holiday.include?("#{regular_holiday}") ? true : false}, "#{regular_holiday}", nil %><%= regular_holiday %><br>
          <% end%>

          <div style="display:none;"> <!--チェックボックスが全てなし状態でも更新-->
            <%= f.check_box :regular_holiday, {multiple: true, checked: true}, 1, nil %>
          </div>


          <h1>時間の設定</h1>

          <% CalendarSetting::ReservationTimes.each do |time| %>
            <%= f.check_box :cancellation_time, {multiple: true, checked: @calendar_settings.first.cancellation_time.include?("#{time}") ? true : false}, "#{time}", nil %>
            <%= time %><br>
          <% end %>

          <div style="display:none;"> <!--チェックボックスが全てなし状態でも更新-->
            <%= f.check_box :cancellation_time, {multiple: true, checked: true}, 1, nil %>
          </div>

          <%= f.hidden_field :facility_id, :value => current_facility.id %>
          <%= f.submit "設定を変更する", class: "message-btn" %>
        <% end %>

        <%= link_to "デフォルト設定に戻す", calendar_setting_path, method: :delete, data: { confirm: "デフォルト設置に戻してよろしいですか?" } %>
        <%= link_to "戻る", calendar_settings_path %>
      </div>
    </div>
  </div>
</div>
