<h1>予約設定変更</h1>

<%= form_with(model: @calendar_setting, url: calendar_setting_path(@calendar_setting), method: :patch, local: true) do |f| %>
  <%#= render partial: 'shared/error_messages', locals: { obj: @calendar_setting } %>

  <%#= f.number_field :regular_holiday, class: "image_uploading_0 drop-area-mandatory" %>

  <%#= f.check_box :regular_holiday, id: :calendar_settings,:as => :integer %>
  <% youbi =["日曜日", "月曜日", "火曜日", "水曜日", "木曜日", "金曜日", "土曜日"] %>
  <% youbi.each do |regular_holiday| %>
    <%#= f.check_box(:regular_holiday, {:checked=>false}, k ,false) %>


    <%#= check_box_tag :regular_holiday,{multiple: true} %>
    <%= f.check_box :regular_holiday, {multiple: true}, regular_holiday, nil %>
    <%= regular_holiday %><br>
  <% end %>


  <%#= @calendar_settings.map { |set| set.regular_holiday } %>
  <% @calendar_settings.each do |set| %>
    <%= set.regular_holiday %>
  <% end %>

  <h1>時間の設定</h1>
  <% times =["10:00 ~ 10:30", "10:30 ~ 11:00", "11:00 ~ 11:30", "11:30 ~ 12:00", "14:00 ~ 14:30", "14:30 ~ 15:00", "15:00 ~ 15:30", "15:30 ~ 16:00", "16:00 ~ 16:30", "16:30 ~ 17:00"] %>

  <% times.each do |time| %>
    <%= f.check_box :cancellation_time, {multiple: true}, time, nil %>
    <%= time %><br>
  <% end %>

  <% @calendar_settings.each do |set| %>
    <%= set.cancellation_time %>
  <% end %>

  <%= @calendar_settings.where(facility_id: current_facility.id).first.regular_holiday %>

  <%= f.hidden_field :facility_id, :value => current_facility.id %>
  <%= f.submit "設定を変更する", class: "message-btn" %>
<% end %>

<%= link_to "デフォルト設定に戻す", calendar_setting_path, method: :delete, data: { confirm: "デフォルト設置に戻してよろしいですか?" } %>
