<h1>予約設定変更</h1>

<%= form_with(model: @calendar_setting, url: calendar_setting_path(@calendar_setting), method: :patch, local: true) do |f| %>
  <%#= render partial: 'shared/error_messages', locals: { obj: @calendar_setting } %>

  <%#= f.number_field :regular_holiday, class: "image_uploading_0 drop-area-mandatory" %>

  <%#= f.check_box :regular_holiday, id: :calendar_settings,:as => :integer %>
  <% @nums =[0, 1, 2, 3, 4, 5, 6] %>
  <% @nums.each do |regular_holiday| %>
    <%#= f.check_box(:regular_holiday, {:checked=>false}, k ,false) %>
    <%= regular_holiday %>
    <%= f.hidden_field :facility_id, :value => current_facility.id %>
    <%#= check_box_tag :regular_holiday,{multiple: true} %>
    <%= f.check_box :regular_holiday, {multiple: true}, regular_holiday, nil %>
  <% end %>

  <%#= f.text_field :regular_holiday %>
  <%= @calendar_settings.present? %>
  <%= @calendar_settings.map { |set| set.regular_holiday } %>
  <%= @calendar_settings.map { |set| set.regular_holiday.include?("1") } %>
    <%#= set.regular_holiday %>
  <%# end %>

  <%= f.submit "設定を変更する", class: "message-btn" %>
<% end %>

<%= link_to "デフォルト設定に戻す", calendar_setting_path, method: :delete, data: { confirm: "デフォルト設置に戻してよろしいですか?" } %>


