<h1>予約設定変更</h1>

<%= form_with(model: @calendar_setting, url: calendar_setting_path(@calendar_setting), method: :patch, local: true) do |f| %>
  <%#= render partial: 'shared/error_messages', locals: { obj: @calendar_setting } %>

  <%#= f.number_field :regular_holiday, class: "image_uploading_0 drop-area-mandatory" %>

  <%#= f.check_box :regular_holiday, id: :calendar_settings,:as => :integer %>
  <% youbi =["日曜日", "月曜日", "火曜日", "水曜日", "木曜日", "金曜日", "土曜日"] %>
  <% youbi.each do |regular_holiday| %>
    <%#= f.check_box(:regular_holiday, {:checked=>false}, k ,false) %>


    <%#= check_box_tag :regular_holiday,{multiple: true} %>
    <%= f.check_box :regular_holiday, {multiple: true}, regular_holiday, nil %>
    <%= regular_holiday %><br>
  <% end %>


  <%#= @calendar_settings.map { |set| set.regular_holiday } %>
  <% @calendar_settings.each do |set| %>
    <%= set.regular_holiday %>
  <% end %>

  <%= f.hidden_field :facility_id, :value => current_facility.id %>
  <%= f.submit "設定を変更する", class: "message-btn" %>
<% end %>

<%= link_to "デフォルト設定に戻す", calendar_setting_path, method: :delete, data: { confirm: "デフォルト設置に戻してよろしいですか?" } %>
