<body id="page-back-color"></body>
<%= render partial: 'shared/facility_images', locals: { facility: current_facility} %>

<div class="columns is-variable is-0 is-desktop facility-columns" style="margin-right: 0px; margin-top: -1.1rem;">
  <%= render 'shared/side_link' %>
  <div class="column is-10-desktop is-12-mobile" style="padding: 0px;">
    <div class="container">
      <div class="card card-width" id="reservations-calendar">
        <% if @calendar_settings.where(facility_id: current_facility.id).present? %>
          <%= link_to "予約設定", edit_calendar_setting_path(@set_id), class: "button is-warning is-light is-outlined" %>
        <% else %>
          <%= link_to "予約設定", new_calendar_setting_path, class: "button is-warning is-light is-outlined" %>
        <% end %>
        <div class="has-text-centered">
          <div class="is-centered">
            <h1 class="has-text-centered reservation-title">予約状況確認</h1>
            <%= month_calendar(attribute: :calendar_day, events: @reservations) do |date, reservations| %>
              <% if HolidayJapan.check(date) %>
                <p class="holiday-color"><%= l(date, format: :short) %></p>
              <% else %>
                <p><%= l(date, format: :short) %></p>
              <% end %>
              <% @reservations.each do |reservation| %>
                <% if reservation.facility_id == current_facility.id %>
                  <%= link_to "#{reservation.reservation_user}(#{l(reservation.started_at, format: :time)}~)", facility_reservation_path(current_facility, reservation, setting: :setting), class:"tag is-rounded mobile-none", id: "tag-color" if reservation.reservation_date == date %>
                <% end %>
              <% end %>
              <% if @reservations_facility_max.reservation_date(date).length >= 1 %>
                <p class="non-sign"><%= @reservations_facility_max.reservation_date(date).length %>件</p>
              <% end %>
            <% end %>
          </div>
        </div>
        <%= render 'reservations/reservation_list' %>
      </div>
    </div>
  </div>
</div>
