<h1>予約詳細設定ページ</h1>
<%= form_with(model: @calendar_setting, url: calendar_settings_path(@calendar_setting), method: :post, local: true) do |f| %>
<%#= render partial: 'shared/error_messages', locals: { obj: @calendar_setting } %>

  <%#= f.number_field :regular_holiday, class: "image_uploading_0 drop-area-mandatory" %>

  <%#= f.check_box :regular_holiday, id: :calendar_settings,:as => :integer %>

  <% youbi =["日曜日", "月曜日", "火曜日", "水曜日", "木曜日", "金曜日", "土曜日"] %>
  <% youbi.each do |regular_holiday| %>
    <%#= f.check_box(:regular_holiday, {:checked=>false}, k ,false) %>


    <%#= check_box_tag :regular_holiday,{multiple: true} %>
    <%= f.check_box :regular_holiday, {multiple: true}, regular_holiday, nil %>
    <%= regular_holiday %><br>
  <% end %>

  <%#= f.text_field :regular_holiday %>
  <%#= @calendar_settings.present? %>
  <% @calendar_settings.where(facility_id: current_facility.id).each do |set| %>
    <%= set.regular_holiday %>
  <% end %>

  <%= f.submit "設定を変更する", class: "message-btn" %>
<% end %>
