<section class="hero is-medium">
  <figure class="image is-3by1">
    <%= image_tag 'facility_image.jpg', class: "facility-home-image" %>
  </figure>
</section>

<div class="about-title is-size-3 has-text-centered">権限変更</div>
<div class="has-text-centered">
  <div class="inline-block_home">
    <%= image_tag 'authority_change.jpg', class: "facility-home-image" %>
  </div>&emsp;&emsp;&emsp;
  <div class="inline-block_home">
    <p class="content1 has-text-left is-size-9 has-text-weight-semibold">
      表示されているボタンは現在の役職設定になっています。<br>
      権限を変更したい場合は、ボタンにカーソルを合わせ<br>
      ボタンをクリックすることで、管理者または一般職員<br>
      の表示切り替えをすることができます。
    </p>
    <% if facility_signed_in? %>
      <% if current_facility.facility_admin == true %>
        <%= form_with(model: @facility, url: facility_change_admin_path(current_facility.id), local: true, method: :patch) do |f| %>
          <%= f.hidden_field :facility_admin, :value => false %>
          <%= f.button :type => "submit", class: "general-change" do %>
            <i class="far fa-user-circle" id="users"></i>
            <span><i class="fas fa-users"></i>&nbsp;</span>
            <span>一般</span>
          <% end %>
        <% end %>
      <% elsif current_facility.facility_admin == false %>
        <%= form_with(model: @facility, url: facility_change_admin_path(current_facility.id), local: true, method: :patch) do |f| %>
          <%= f.hidden_field :facility_admin, :value => true %>
          <%= f.button :type => "submit", class: "admin-change" do %>
            <i class="fas fa-users" id="admin"></i>
            <span><i class="far fa-user-circle"></i>&nbsp;</span>
            <span>管理者</span>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>

<section class="hero">
  <div class="hero-body">
    <div class="container">
    </div>
  </div>
</section>

<div class="about-title is-size-3 has-text-centered">施設情報</div>
<article class="panel is-primary" id="panel-content">
  <nav class="panel">
    <p class="panel-heading has-text-centered" style="font-size: 30px;">
      <%= current_facility.facility_name %>
      <% if current_facility.facility_admin == true %>
        <span class="has-text-right is-size-5">【&nbsp;<i class="far fa-user-circle"></i>&nbsp;管理者&nbsp;】</span>
      <% elsif current_facility.facility_admin == false %>
        <span class="has-text-right is-size-5">【&nbsp;<i class="fas fa-users"></i>&nbsp;一般&nbsp;】</span>
      <% end %>
    </p>
    <div class="panel-block">
    </div>
    <p class="panel-tabs">
      <a class="panel-tab is-active is-size-5" onclick="openTab(event,'Web')"><i class="far fa-calendar-alt"></i>&nbsp;カレンダー</a>
      <% if current_facility.facility_admin == true %>
        <a class="panel-tab is-size-5" onclick="openTab(event,'Aud')"><i class="fas fa-plus-circle"></i>&nbsp;登録申請</a>
        <a class="panel-tab is-size-5" onclick="openTab(event,'Pic')"><i class="far fa-user"></i>&nbsp;新規ユーザー</a>
      <% end %>
        <a class="panel-tab is-size-5" onclick="openTab(event,'Res')"><i class="fas fa-user-friends"></i>&nbsp;利用者</a>
        <a class="panel-tab is-size-5" onclick="openTab(event,'Mov')">お知らせ</a>
        <a class="panel-tab is-size-5" onclick="openTab(event,'Inq')">お問い合わせ</a>
    </p>
    <div id="Web" class="content-tab" >
      <div class="has-text-centered" id="calendar-reservations">
        <div class="is-centered">
          <%= month_calendar(attribute: :calendar_day, events: @calendar_reservations) do |date, reservations| %>
            <%= l(date, format: :short) %>
          <% end %>
        </div><br>
      </div>
    </div>
    <% if current_facility.facility_admin == true %>
    <div id="Aud" class="content-tab" style="display:none">
      <div class="columns">
        <div class="column is-offset-1 is-10 is-offset-1 table-container">
          <table class="table is-hoverable is-fullwidth is-striped is-narrow" id="new-family-table">
            <thead>
              <tr>
                <th>名前</th>
                <th>利用者</th>
              </tr>
            </thead>
          </table>
        </div>
      </div>
    </div>
    <div id="Pic" class="content-tab" style="display:none">
      <div class="columns">
        <div class="column is-offset-1 is-10 is-offset-1 table-container">
          <table class="table is-hoverable is-fullwidth is-striped is-narrow" id="new-family-table">
            <thead>
              <tr>
                <th>名前</th>
                <th>住所</th>
                <th>TEL</th>
                <th>編集</th>
                <th>削除</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
          <div class="has-text-centered">
            <%= link_to facility_users_path(facility_id: current_facility), class: "btn-tab-user" do %>
              <span class="icon">
                <i class="far fa-user"></i>
              </span>&nbsp;
              <span>
                ご家族一覧
              </span>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <% end %>
    <div id="Res" class="content-tab" style="display:none">
      <div class="has-text-centered">
        <div class="tab-resident">
          <img src="/static_pages1.jpg" width="400" height="300">
        </div>
        <div class="tab-resident">
          <p class="content1 has-text-left is-size-9 has-text-weight-semibold">
            施設利用者の新規登録、編集、退所する場合は<br>
            こちらの<font color="#7596E0">利用者一覧</font>を押してください。
          </p><br>
          <%= link_to facility_residents_path(facility_id: current_facility), class: "btn-tab-resident" do %>
            <span class="icon">
              <i class="fas fa-user-friends"></i>
            </span>&nbsp;
            <span>
              利用者一覧
            </span>
          <% end %>
        </div>
      </div>
    </div>
    <div id="Mov" class="content-tab" style="display:none">
      <div class="has-text-centered is-size-4">
        システムからのお知らせが表示される<br>
        今後実装予定
      </div><br>
    </div>
    <div id="Inq" class="content-tab" style="display:none">
      <div class="has-text-centered is-size-4">
        ユーザーからの問い合わせが表示される<br>
        今後実装予定
      </div><br>
    </div>
  </nav>
</article>

<script>
  function openTab(evt, tabName) {
    var i, x, tablinks;
    x = document.getElementsByClassName("content-tab");
    for (i = 0; i < x.length; i++) {
      x[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("panel-tab");
    for (i = 0; i < x.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" is-active", "");
    }
    document.getElementById(tabName).style.display = "block";
    evt.currentTarget.className += " is-active";
  }
</script>

<script>
  $(function(){
    ScrollReveal().reveal('.inline-block_content', { delay: 100, distance: '50px', origin: 'right', duration: 800, viewFactor: 0.5 });
    ScrollReveal().reveal('.inline-block_home', { delay: 100, distance: '50px', origin: 'right', duration: 800, viewFactor: 0.5 });
  });
</script>