<section class="hero is-medium">
  <figure class="image is-3by1">
    <%= image_tag 'facility_image.jpg', class: "facility-home-image" %>
  </figure>
</section>

<div class="about-title is-size-3 has-text-centered">権限変更</div>
<div class="has-text-centered">
  <div class="inline-block_home">
    <%= image_tag 'authority_change.jpg', class: "facility-home-image" %>
  </div>&emsp;&emsp;&emsp;
  <div class="inline-block_home">
    <p class="content1 has-text-left is-size-9 has-text-weight-semibold">
      表示されているボタンは現在の役職設定になっています。<br>
      権限を変更したい場合は、ボタンにカーソルを合わせ<br>
      ボタンをクリックすることで、管理者または一般職員<br>
      の表示切り替えをすることができます。
    </p>
    <% if facility_signed_in? %>
      <% if current_facility.facility_admin == true %>
        <%= form_with(model: @facility, url: facility_change_admin_path(current_facility.id), local: true, method: :patch) do |f| %>
          <%= f.hidden_field :facility_admin, :value => false %>
          <%= f.button :type => "submit", class: "general-change" do %>
            <i class="far fa-user-circle" id="users"></i>
            <span><i class="fas fa-users"></i>&nbsp;</span>
            <span>一般</span>
          <% end %>
        <% end %>
      <% elsif current_facility.facility_admin == false %>
        <%= form_with(model: @facility, url: facility_change_admin_path(current_facility.id), local: true, method: :patch) do |f| %>
          <%= f.hidden_field :facility_admin, :value => true %>
          <%= f.button :type => "submit", class: "admin-change" do %>
            <i class="fas fa-users" id="admin"></i>
            <span><i class="far fa-user-circle"></i>&nbsp;</span>
            <span>管理者</span>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>

<div class="about-title is-size-3 has-text-centered">お知らせ</div>
<article class="panel" id="panel-content">
  <div class="columns is-multiline has-text-left">
    お知らせ表示が入る
  </div>
</article>

<script>
  $(function(){
    ScrollReveal().reveal('.inline-block_content', { delay: 100, distance: '50px', origin: 'right', duration: 800, viewFactor: 0.5 });
    ScrollReveal().reveal('.about-title', { delay: 100, distance: '50px', origin: 'right', duration: 800, viewFactor: 0.5 });
    ScrollReveal().reveal('#panel-content', { delay: 100, distance: '50px', origin: 'right', duration: 800, viewFactor: 0.5 });
    ScrollReveal().reveal('.inline-block_home', { delay: 100, distance: '50px', origin: 'right', duration: 800, viewFactor: 0.5 });
  });
</script>