<section class="hero is-medium">
  <figure class="image is-3by1">
    <%= image_tag 'facility_image.jpg', class: "facility-home-image" %>
  </figure>
</section>

<div class="about-title is-size-3 has-text-centered">権限変更</div>
<div class="has-text-centered">
  <div class="inline-block_home">
    <%= image_tag 'authority_change.jpg', class: "facility-home-image" %>
  </div>&emsp;&emsp;&emsp;
  <div class="inline-block_home">
    <p class="content1 has-text-left is-size-9 has-text-weight-semibold">
      表示されているボタンは現在の役職設定になっています。<br>
      権限を変更したい場合は、ボタンにカーソルを合わせ<br>
      ボタンをクリックすることで、管理者または一般職員<br>
      の表示切り替えをすることができます。
    </p>
    <% if facility_signed_in? %>
      <% if current_facility.facility_admin == true %>
        <%= form_with(model: @facility, url: facility_change_admin_path(current_facility.id), local: true, method: :patch) do |f| %>
          <%= f.hidden_field :facility_admin, :value => false %>
          <%= f.button :type => "submit", class: "general-change" do %>
            <i class="far fa-user-circle" id="users"></i>
            <span><i class="fas fa-users"></i>&nbsp;</span>
            <span>一般</span>
          <% end %>
        <% end %>
      <% elsif current_facility.facility_admin == false %>
        <%= form_with(model: @facility, url: facility_change_admin_path(current_facility.id), local: true, method: :patch) do |f| %>
          <%= f.hidden_field :facility_admin, :value => true %>
          <%= f.button :type => "submit", class: "admin-change" do %>
            <i class="fas fa-users" id="admin"></i>
            <span><i class="far fa-user-circle"></i>&nbsp;</span>
            <span>管理者</span>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>

<section class="hero">
  <div class="hero-body">
    <div class="container">
    </div>
  </div>
</section>

<article class="panel is-primary" id="panel-content">
  <nav class="panel">
    <p class="panel-heading">
      <%= current_facility.facility_name %>【新着情報】
    </p>
    <div class="panel-block">
      <p class="control has-icons-left">
        <input class="input" type="text" placeholder="Search">
        <span class="icon is-left">
          <i class="fas fa-search" aria-hidden="true"></i>
        </span>
      </p>
    </div>
    <p class="panel-tabs">
      <a class="panel-tab is-active is-size-5" onclick="openTab(event,'Web')">カレンダー</a>
      <a class="panel-tab is-size-5" onclick="openTab(event,'Aud')">新規入居者</a>
      <a class="panel-tab is-size-5" onclick="openTab(event,'Pic')">新規ユーザー</a>
      <a class="panel-tab is-size-5" onclick="openTab(event,'Mov')">システムからのお知らせ</a>
    </p>
    <div id="Web" class="content-tab" >
      <div class="has-text-centered" id="calendar-reservations">
        <div class="is-centered">
        <%= month_calendar(attribute: :calendar_day, events: @calendar_reservations) do |date, reservations| %>
          <%= l(date, format: :short) %>
        <% end %>
        </div>
      </div>
    </div>
    <div id="Aud" class="content-tab" style="display:none">
    </div>
    <div id="Pic" class="content-tab" style="display:none">
    </div>
    <div id="Mov" class="content-tab" style="display:none">
      <div class="has-text-left">
          お知らせ表示が入る
      </div>
    </div>
  </nav>
</article>

<script>
  function openTab(evt, tabName) {
    var i, x, tablinks;
    x = document.getElementsByClassName("content-tab");
    for (i = 0; i < x.length; i++) {
      x[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("panel-tab");
    for (i = 0; i < x.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" is-active", "");
    }
    document.getElementById(tabName).style.display = "block";
    evt.currentTarget.className += " is-active";
  }
</script>

<script>
  $(function(){
    ScrollReveal().reveal('.inline-block_content', { delay: 100, distance: '50px', origin: 'right', duration: 800, viewFactor: 0.5 });
    ScrollReveal().reveal('.about-title', { delay: 100, distance: '50px', origin: 'right', duration: 800, viewFactor: 0.5 });
    ScrollReveal().reveal('#panel-content', { delay: 100, distance: '50px', origin: 'right', duration: 800, viewFactor: 0.5 });
    ScrollReveal().reveal('.inline-block_home', { delay: 100, distance: '50px', origin: 'right', duration: 800, viewFactor: 0.5 });
  });
</script>