<%= render partial: 'shared/facility_images', locals: { facility: @facility} %>

<section class="hero is-small">
  <div class="hero-body">
    <div class="contaniner">
      <div class="has-text-centered">
        <%= image_tag 'user_default.png', class: "facility-user-image" %>
      </div>
      <div class="has-text-centered user-name-layout">
        ようこそ<%= current_user.name %>さん
      </div>
    </div>
  </div>
</section>

<div class="about-title has-text-centered">お知らせ</div>

<section class="hero" style="background-color: #F5F5F5;">
  <article class="panel" id="panel-content">
    <div class="columns is-multiline has-text-left">
      施設のお知らせ表示が入る
    </div>
  </article>
</section>

<div class="about-title has-text-centered">登録申請</div>

<div class="columns .is-variable is-0" style="background-color: #A9A9A9;">
  <div class="column is-9" style="padding: 0px; padding-bottom: 20px;">
    <div class="has-text-centered" id="request-user">
      <figure class="image is-4by3">
        <%= image_tag("https://img-photo.s3-ap-northeast-1.amazonaws.com/uploads/content_image/user_facility_home_application.jpg") %>
      </figure>
      <p><%= link_to "ご利用者様の登録申請", new_request_resident_path(facility_id: @facility), class: "btn-shine" unless @request %></p>
      <%= @request&.approval_link(@facility) %>
    </div>
  </div>

  <div class="column is-3" id="layout-comment">
    <p class="content-request has-text-weight-semibold">
      ホームページをご利用<br>
      される場合は施設を利用<br>
      されている方との<br>
      マッチングをおこなう<br>
      必要があります。まずは<br>
      <font color="#1E90FF">ご利用者様の登録申請</font><br>
      をおこなってください。<br>
      申請が完了した場合、<br>
      <font color="FFDD58">面会予約</font>、<font color="3173DC">ビデオ通話、</font><br>
      <font color="#228B22">写真・動画の閲覧</font>などの<br>
      メニューを使用することが<br>
      できるようになります。
    </p>
  </div>

  <div class="column is-3" id="layout-comment-tablet">
    <p class="content-request has-text-weight-semibold has-text-left">
      ホームページをご利用される場合は施設を<br>
      利用されている方とのマッチングを<br>
      おこなう必要があります。<br>
      まずは<font color="#1E90FF">ご利用者様の登録申請</font>をおこなってください。<br>
      申請が完了した場合、<br>
      <font color="FFDD58">面会予約</font>、<font color="3173DC">ビデオ通話、</font><font color="#228B22">写真・動画の閲覧</font>などの<br>
      メニューを使用することができるようになります。
    </p>
  </div>
</div>


<div class="about-title has-text-centered">Menu</div>

<div class="columns .is-variable is-0" style="margin-top: 20px;">
  <div class="column is-3">
    <div class="card" style="height: auto;">
      <div class="card-image" id="home-images">
        <figure class="image is-4by3">
          <%= link_to image_tag("https://img-photo.s3-ap-northeast-1.amazonaws.com/uploads/content_image/user_facility_home_reservation.jpg"), '#' %>
          <p><%= link_to "面会予約", '#', :style=>"color: #fff;" %></p>
        </figure>
      </div>
      <div class="card-content has-text-centered menu-card">
        <div class="is-size-5">
          <%= link_to '#', class: "button menu-btn is-rounded is-warning is-outlined" do %>
            <span class="icon">
              <i class="far fa-calendar-alt"></i>&nbsp;
            </span>
            <span>
              面会予約
            </span>
          <% end %>
        </div><br>
        <div class="menu-content">
          オンラインでの面会予約の日時の登録、編集、削除ができます。
        </div>
      </div>
    </div>
  </div>

  <div class="column is-3">
    <div class="card" style="height: auto;">
      <div class="card-image" id="home-images">
        <figure class="image is-4by3">
          <%= link_to image_tag("https://img-photo.s3-ap-northeast-1.amazonaws.com/uploads/content_image/user_facility_menu_chat.jpg"), '#' %>
          <p><%= link_to "ビデオ通話", '#', :style=>"color: #fff;" %></p>
        </figure>
      </div>
      <div class="card-content has-text-centered menu-card">
        <div class="is-size-5">
          <%= link_to '#', class: "button menu-btn is-link is-rounded is-outlined" do %>
            <span class="icon">
              <i class="fas fa-video"></i>&nbsp;
            </span>
            <span>
              ビデオ通話
            </span>
          <% end %>
        </div><br>
        <div class="menu-content">
          施設ご利用者様とのビデオ通話をすることができます。
        </div>
      </div>
    </div>
  </div>

  <div class="column is-3">
    <div class="card" style="height: auto;">
      <div class="card-image" id="home-images">
        <figure class="image is-4by3">
          <%= link_to image_tag("https://img-photo.s3-ap-northeast-1.amazonaws.com/uploads/content_image/user_facility_menu_album.jpg"), new_request_resident_path(facility_id: @facility) %>
          <p><%= link_to "写真・動画", '#', :style=>"color: #fff;" %></p>
        </figure>
      </div>
      <div class="card-content has-text-centered menu-card">
        <div class="is-size-5">
          <%= link_to '#', class: "button menu-btn is-rounded is-outlined is-success" do %>
            <span class="icon">
              <i class="fas fa-photo-video"></i>&nbsp;
            </span>
            <span>
              写真・動画
            </span>
          <% end %>
        </div><br>
        <div class="menu-content">
          ご利用者様の写真の閲覧、動画の視聴をすることができます。
        </div>
      </div>
    </div>
  </div>

  <div class="column is-3">
    <div class="card" style="height: auto;">
      <div class="card-image" id="home-images">
        <figure class="image is-4by3">
          <%= link_to image_tag("https://img-photo.s3-ap-northeast-1.amazonaws.com/uploads/content_image/user_facility_home_+contact.jpg"), inquiry_facility_inquiries_path(@facility) %>
          <p><%= link_to "お問い合わせ", inquiry_facility_inquiries_path(@facility), :style=>"color: #fff;" %></p>
        </figure>
      </div>
      <div class="card-content has-text-centered menu-card">
        <div class="is-size-5">
          <%= link_to inquiry_facility_inquiries_path(@facility), class: "button menu-btn is-primary is-rounded is-outlined" do %>
            <span class="icon">
              <i class="far fa-paper-plane"></i>&nbsp;
            </span>
            <span>
              お問い合わせ
            </span>
          <% end %>
        </div><br>
        <div class="menu-content">
          登録申請した施設に問い合わせをすることができます。
        </div>
      </div>
    </div>
  </div><br>
</div>

<script>
  ScrollReveal().reveal('.facility-icon-image', { delay: 600, distance: '70%', origin: 'top', duration: 2000, viewFactor: 0.5 });
  ScrollReveal().reveal('.card', { delay: 10, distance: '50px', origin: 'bottom', duration: 700, viewFactor: 0.2 });
  ScrollReveal().reveal('#facility-name', { delay: 100, distance: '100%', origin: 'left', duration: 2000, viewFactor: 0.5 });
  ScrollReveal().reveal('#layout-comment p', { delay: 100, distance: '100%', origin: 'right', duration: 2000, viewFactor: 0.5 });
</script>
