<%= render partial: 'shared/facility_images', locals: { facility: @facility} %>

<section class="hero is-small">
  <div class="hero-body" id="facility-home-header">
    <div class="contaniner" id="profile">
      <div class="user-name-section">
        <div class="has-text-centered">
          <%= image_tag 'user_default.png', class: "facility-user-image" %>
        </div>
        <div class="has-text-centered user-name-layout">
          ようこそ<%= current_user.name %>さん
        </div>
      </div>

      <div class="home-informations">
        <% @informations.each do |information| %>
          <hr>
          <div class="text-section">
            <p class="information-created_at"><%= l(information.created_at, format: :long_info) %></p>
            <p class="information-title"><%= information.title %></p>
          </div>
        <% end %>
      </div>
    </div>

    <div class="contents-menu">
      <div class="column is-3">
        <div class="card" style="height: auto;">
          <div class="card-image" id="home-images">
            <figure class="image is-4by3">
              <%= link_to image_tag("https://img-photo.s3-ap-northeast-1.amazonaws.com/uploads/content_image/user_facility_home_reservation.jpg"), '#' %>
              <p><%= link_to "面会予約",  facility_reservations_path(facility_id: @facility.id), :style=>"color: #fff;" %></p>
            </figure>
          </div>
          <div class="card-content has-text-centered menu-card">
            <div class="is-size-5">
              <%= link_to facility_reservations_path(facility_id: @facility.id), class: "button menu-btn is-rounded is-warning is-outlined" do %>
                <span class="icon">
                  <i class="far fa-calendar-alt"></i>&nbsp;
                </span>
                <span>
                  面会予約
                </span>
              <% end %>
            </div><br>
            <div class="menu-content">
              オンラインでの面会予約の日時の登録、編集、削除ができます。
            </div>
          </div>
        </div>
      </div>

      <div class="column is-3">
        <div class="card" style="height: auto;">
          <div class="card-image" id="home-images">
            <figure class="image is-4by3">
              <%= link_to image_tag("https://img-photo.s3-ap-northeast-1.amazonaws.com/uploads/content_image/user_facility_menu_chat.jpg"), '#' %>
              <p><%= link_to "ビデオ通話", video_room_user_path(current_user, facility_id: @facility.id), :style=>"color: #fff;" %></p>
            </figure>
          </div>
          <div class="card-content has-text-centered menu-card">
            <div class="is-size-5">
              <%= link_to video_room_user_path(current_user, facility_id: @facility.id), class: "button menu-btn is-link is-rounded is-outlined" do %>
                <span class="icon">
                  <i class="fas fa-video"></i>&nbsp;
                </span>
                <span>
                  ビデオ通話
                </span>
              <% end %>
            </div><br>
            <div class="menu-content">
              施設ご利用者様とのビデオ通話をすることができます。
            </div>
          </div>
        </div>
      </div>

      <div class="column is-3">
        <div class="card" style="height: auto;">
          <div class="card-image" id="home-images">
            <figure class="image is-4by3">
              <%= link_to image_tag("https://img-photo.s3-ap-northeast-1.amazonaws.com/uploads/content_image/user_facility_menu_album.jpg"), user_path(current_user) %>
              <p><%= link_to "マイページ", user_path(current_user), :style=>"color: #fff;" %></p>
            </figure>
          </div>
          <div class="card-content has-text-centered menu-card">
            <div class="is-size-5">
              <%= link_to user_path(current_user), class: "button menu-btn is-rounded is-outlined is-success", id: "menu-linkww" do %>
                <span class="icon">
                  <i class="far fa-user"></i>&nbsp;
                </span>
                <span>
                  マイページ
                </span>
              <% end %>
            </div><br>
            <div class="menu-content">
              ご自身のマイページに移動し、編集、情報の閲覧することができます。
            </div>
          </div>
        </div>
      </div>

      <div class="column is-3">
        <div class="card" style="height: auto;">
          <div class="card-image" id="home-images">
            <figure class="image is-4by3">
              <%= link_to image_tag("https://img-photo.s3-ap-northeast-1.amazonaws.com/uploads/content_image/user_facility_home_+contact.jpg"), inquiry_facility_inquiries_path(@facility) %>
              <p><%= link_to "お問い合わせ", inquiry_facility_inquiries_path(@facility), :style=>"color: #fff;" %></p>
            </figure>
          </div>
          <div class="card-content has-text-centered menu-card">
            <div class="is-size-5">
              <%= link_to inquiry_facility_inquiries_path(@facility), class: "button menu-btn is-primary is-rounded is-outlined" do %>
                <span class="icon">
                  <i class="far fa-paper-plane"></i>&nbsp;
                </span>
                <span>
                  お問い合わせ
                </span>
              <% end %>
            </div><br>
            <div class="menu-content">
              登録申請した施設に問い合わせをすることができます。
            </div>
          </div>
        </div>
      </div><br>
    </div>
  </div>
</section>


<div class="about-title has-text-centered">登録申請</div>

<div class="columns .is-variable is-0" id="home-request-section">
  <div class="column is-9">
    <div class="has-text-centered" id="request-user">
      <figure class="image is-4by3">
        <%= image_tag("https://img-photo.s3-ap-northeast-1.amazonaws.com/uploads/content_image/user_facility_home_application.jpg") %>
      </figure>
      <p><%= link_to "ご利用者様の登録申請", new_request_resident_path(facility_id: @facility), class: "btn-shine" unless @request %></p>
      <%= @request&.approval_link(@facility) %>
    </div>
  </div>

  <div class="column is-3" id="layout-comment">
    <p class="content-request has-text-weight-semibold">
      ホームページをご利用<br>
      される場合は施設を利用<br>
      されている方との<br>
      マッチングをおこなう<br>
      必要があります。まずは<br>
      <font color="#1E90FF">ご利用者様の登録申請</font><br>
      をおこなってください。<br>
      申請が承認された場合、<br>
      <font color="FFDD58">面会予約</font>、<font color="3173DC">ビデオ通話、</font><br>
      <font color="#228B22">写真・動画の閲覧</font>などの<br>
      メニューが表示され<br>
      使用できるようになります。
    </p>
  </div>

  <div class="column is-3" id="layout-comment-tablet">
    <p class="content-request has-text-weight-semibold has-text-left">
      ホームページをご利用される場合は施設を<br>
      利用されている方とのマッチングを<br>
      おこなう必要があります。<br>
      まずは<font color="#1E90FF">ご利用者様の登録申請</font>をおこなってください。<br>
      申請が承認された場合、<br>
      <font color="FFDD58">面会予約</font>、<font color="3173DC">ビデオ通話、</font>
      <font color="#228B22">写真・動画の閲覧</font>などの<br>
      メニューが表示され使用できるようになります。
    </p>
  </div>
</div>

<script>
  ScrollReveal().reveal('.facility-icon-image', {
    delay: 600,
    distance: '70%',
    origin: 'top',
    duration: 2000,
    viewFactor: 0.5
  });
  ScrollReveal().reveal('.card', {
    delay: 10,
    distance: '50px',
    origin: 'bottom',
    duration: 700,
    viewFactor: 0.2
  });
  ScrollReveal().reveal('#facility-name', {
    delay: 100,
    distance: '100%',
    origin: 'left',
    duration: 2000,
    viewFactor: 0.5
  });
  ScrollReveal().reveal('#layout-comment p', {
    delay: 100,
    distance: '100%',
    origin: 'right',
    duration: 2000,
    viewFactor: 0.5
  });

  // 申請が未承認の場合にメニューボタンを非活性
  var menu = '<%= @menu_approval[0]&.id %>'
  if (!menu) {
    $(".contents-menu").children().addClass("changeColor")
    $(".card-content").children().addClass("changeColor2")
    $(".card-content .button").children().addClass("changeColor2")
  };
</script>
