<%= render partial: 'facility_images', locals: { facility_name: @facility.facility_name} %>

<section class="hero is-small">
  <div class="hero-body">
    <div class="contaniner">
      <div class="has-text-centered">
        <%= image_tag 'user_default.png', class: "facility-user-image" %>
      </div>
      <div class="has-text-centered is-size-4">
        ようこそ<%= current_user.name %>さん
      </div>
    </div>
  </div>
</section>

<div class="about-title is-size-3 has-text-centered">お知らせ</div>

<section class="hero" style="background-color: #F5F5F5;">
  <article class="panel" id="panel-content">
    <div class="columns is-multiline has-text-left">
      施設のお知らせ表示が入る
    </div>
  </article>
</section>

<div class="about-title is-size-3 has-text-centered">登録申請</div>

<div class="columns .is-variable is-0" style="background-color: #A9A9A9;">
  <div class="column is-9" style="padding: 0px; padding-bottom: 20px;">
    <div class="has-text-centered" id="request-user">
      <figure class="image is-4by3">
        <%= image_tag("https://img-photo.s3-ap-northeast-1.amazonaws.com/uploads/content_image/user_facility_home_application.jpg") %>
      </figure>
      <% if @requests.present? && @requests.req_approval == "申請中" %>
        <p><%= link_to "利用者登録は #{@requests.req_approval} です", "#", class: "btn-shine", id: "disabled-btn" %></p>
      <% elsif @requests.present? %>
        <p><%= link_to "利用者登録は #{@requests.req_approval} です", new_facility_user_request_resident_path(current_user.id, facility_id: @facility), class: "btn-shine" %></p>
      <% else %>
        <p><%= link_to "ご利用者様の登録申請", new_facility_user_request_resident_path(current_user.id, facility_id: @facility), class: "btn-shine" %></p>
      <% end %>
    </div>
  </div>

  <div class="column is-3" id="layout-comment">
    <p class="content-request has-text-weight-semibold is-size-5" style="color: #fff;">
      ホームページをご利用<br>
      される場合は施設を利用<br>
      されている方との<br>
      マッチングをおこなう<br>
      必要があります。まずは<br>
      <font color="#1E90FF">ご利用者様の登録申請</font><br>
      をおこなってください。<br>
      申請が完了した場合、<br>
      <font color="FFDD58">面会予約</font>、<font color="3173DC">ビデオ通話、</font><br>
      <font color="#228B22">写真・動画の閲覧</font>などの<br>
      メニューを使用することが<br>
      できるようになります。
    </p>
  </div>
</div>


<div class="about-title is-size-3 has-text-centered">Memu</div>

<div class="columns .is-variable is-0" style="margin-top: 20px;">
  <div class="column is-3">
    <div class="card" style="height: auto;">
      <div class="card-image" id="home-images">
        <figure class="image is-4by3">
          <%= link_to image_tag("https://img-photo.s3-ap-northeast-1.amazonaws.com/uploads/content_image/user_facility_home_reservation.jpg"), '#' %>
          <p><%= link_to "面会予約", '#', :style=>"color: #fff;" %></p>
        </figure>
      </div>
      <div class="card-content has-text-centered">
        <div class="is-size-5">
          <%= link_to '#', class: "button is-rounded is-warning is-outlined" do %>
            <span class="icon">
              <i class="far fa-calendar-alt"></i>&nbsp;
            </span>
            <span>
              面会予約
            </span>
          <% end %>  
        </div><br>
        <div class="content">
          オンラインでの面会予約の日時の<br>
          登録、編集、削除ができます。<br>
        </div>
      </div>
    </div>
  </div>

  <div class="column is-3">
    <div class="card" style="height: auto;">
      <div class="card-image" id="home-images">
        <figure class="image is-4by3">
          <%= link_to image_tag("https://img-photo.s3-ap-northeast-1.amazonaws.com/uploads/content_image/user_facility_menu_chat.jpg"), '#' %>
          <p><%= link_to "ビデオ通話", '#', :style=>"color: #fff;" %></p>
        </figure>
      </div>
      <div class="card-content has-text-centered">
        <div class="is-size-5">
          <%= link_to '#', class: "button is-link is-rounded is-outlined" do %>
            <span class="icon">
              <i class="fas fa-video"></i>&nbsp;
            </span>
            <span>
              ビデオ通話
            </span>
          <% end %>  
        </div><br>
        <div class="content">
          施設利用者とのビデオ通話<br>
          ができます。
        </div>
      </div>
    </div>
  </div>

  <div class="column is-3">
    <div class="card" style="height: auto;">
      <div class="card-image" id="home-images">
        <figure class="image is-4by3">
          <%= link_to image_tag("https://img-photo.s3-ap-northeast-1.amazonaws.com/uploads/content_image/user_facility_menu_album.jpg"), new_facility_user_request_resident_path(current_user.id, facility_id: @facility) %>
          <p><%= link_to "写真・動画", '#', :style=>"color: #fff;" %></p>
        </figure>
      </div>
      <div class="card-content has-text-centered">
        <div class="is-size-5">
          <%= link_to '#', class: "button is-rounded is-outlined is-success" do %>
            <span class="icon">
              <i class="fas fa-photo-video"></i>&nbsp;
            </span>
            <span>
              写真・動画
            </span>
          <% end %>  
        </div><br>
        <div class="content">
          ご利用者様の写真の閲覧、動画<br>
          の視聴をすることができます。
        </div>
      </div>
    </div>
  </div>

  <div class="column is-3">
    <div class="card" style="height: auto;">
      <div class="card-image" id="home-images">
        <figure class="image is-4by3">
          <%= link_to image_tag("https://img-photo.s3-ap-northeast-1.amazonaws.com/uploads/content_image/user_facility_home_+contact.jpg"), '#' %>
          <p><%= link_to "お問い合わせ", '#', :style=>"color: #fff;" %></p>
        </figure>
      </div>
      <div class="card-content has-text-centered">
        <div class="is-size-5">
          <%= link_to '#', class: "button is-primary is-rounded is-outlined" do %>
            <span class="icon">
              <i class="far fa-paper-plane"></i>&nbsp;
            </span>
            <span>
              お問い合わせ
            </span>
          <% end %>
        </div><br>
        <div class="content">
          施設に問い合わせをする<br>
          ことができます。
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  ScrollReveal().reveal('.card', { delay: 10, distance: '50px', origin: 'bottom', duration: 700, viewFactor: 0.2 });
</script>