<section class="hero is-medium">
  <figure class="image is-3by1">
    <%= image_tag 'facility_image.jpg', class: "facility-home-image" %>
  </figure>
</section>

<div class="columns .is-variable is-0" style="margin-top: 20px;">
  <div class="column is-3">
    <div class="card" style="height: 450px;">
      <div class="card-image" id="home-images">
        <figure class="image is-4by3">
          <img src="/static_pages2.jpg">
        </figure>
      </div>
      <div class="card-content">
        <div class="has-text-centered is-size-5">
          <button class="button is-rounded has-text-weight-bold">
            <% if @requests.present? && @requests.req_approval == "申請中" %>
              <%= link_to "入居者登録は #{@requests.req_approval} です", "#", class: "has-text-weight-bold is-size-5 is-disabled" , id: 'submit-btn' %>
            <% elsif @requests.present? %>
              <%= link_to "入居者登録は #{@requests.req_approval} です", new_facility_user_request_resident_path(current_user.id, facility_id: @facility), class: "has-text-weight-bold is-size-5" %>
            <% else %>
              <%= link_to "ご入居者様の登録申請", new_facility_user_request_resident_path(current_user.id, facility_id: @facility), class: "has-text-weight-bold is-size-5" %>
            <% end %>
          </button><br>
        </div>
        <div class="content">
          予約、テレビ電話のシステムを<br>
          ご利用する場合は初めに<br>
          利用者登録申請で手続きを行ってください。<br>
        </div>
      </div>
    </div>
  </div>
  <div class="column is-3">
    <div class="card" style="height: 450px;">
      <div class="card-image" id="home-images">
        <figure class="image is-4by3">
          <img src="/static_pages2.jpg">
        </figure>
      </div>
      <div class="card-content">
        <div class="has-text-centered is-size-5">
          <%= link_to '#', class: "button is-rounded is-warning is-outlined" do %>
            <span class="icon">
              <i class="far fa-calendar-alt"></i>&nbsp;
            </span>
            <span>
              面会予約
            </span>
          <% end %>  
        </div>

        <div class="content">
          オンラインでの面会予約の日時<br>
          の登録、編集、削除ができます。<br>
        </div>
      </div>
    </div>
  </div>
  <div class="column is-3">
    <div class="card" style="height: 450px;">
      <div class="card-image" id="home-images">
        <figure class="image is-4by3">
          <img src="/static_pages5.jpg">
        </figure>
      </div>
      <div class="card-content">
        <div class="has-text-centered is-size-5">
          <%= link_to '#', class: "button is-link is-rounded is-outlined" do %>
            <span class="icon">
              <i class="fas fa-video"></i>&nbsp;
            </span>
            <span>
              ビデオ通話
            </span>
          <% end %>  
        </div>
        <div class="content">
          施設利用者とのビデオ通話ができます。
        </div>
      </div>
    </div>
  </div>
  <div class="column is-3">
    <div class="card" style="height: 450px;">
      <div class="card-image" id="home-images">
        <figure class="image is-4by3">
          <img src="/static_pages2.jpg">
        </figure>
      </div>
      <div class="card-content">
        <div class="has-text-centered is-size-5">
          <%= link_to '#', class: "button is-primary is-rounded is-outlined" do %>
            <span class="icon">
              <i class="far fa-paper-plane"></i>&nbsp;
            </span>
            <span>
              お問い合わせ
            </span>
          <% end %>
        </div>
        <div class="content">
          施設に問い合わせをすることができます。
        </div>
      </div>
    </div>
  </div>
</div>







































              <!--<div class="top-btn">
                <p id="explanation">ご利用前に<span id="span-color">ご入居者様の登録申請</span>をして下さい。<br>入力情報確認後、システム利用可能になります。</p>
                <button class="button is-large is-rounded has-text-weight-bold">
                  <% if @requests.present? && @requests.req_approval == "申請中" %>
                    <%= link_to "入居者登録は #{@requests.req_approval} です", "#", class: "has-text-weight-bold is-size-5 is-disabled" , id: 'submit-btn' %>
                  <% elsif @requests.present? %>
                    <%= link_to "入居者登録は #{@requests.req_approval} です", new_facility_user_request_resident_path(current_user.id, facility_id: @facility), class: "has-text-weight-bold is-size-5" %>
                  <% else %>
                    <%= link_to "ご入居者様の登録申請", new_facility_user_request_resident_path(current_user.id, facility_id: @facility), class: "has-text-weight-bold is-size-5" %>
                  <% end %>
                </button><br>
                <div class="notice-btn">
                  <button class="button is-large is-warning is-rounded has-text-weight-bold">
                    <%= link_to "お知らせ表示", top_notice_facility_informations_path(facility_id: @facility), class: "has-text-weight-bold is-size-5 has-text-link" %>
                  </button>
                </div>
              </div>-->
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

<script>
  $(document).ready(function() {
    $("#open").on("click", function() {
      $("div.modal").addClass("is-active");
    })

    $("#close, div.modal-background").on("click", function() {
      $("div.modal").removeClass("is-active");
    })
  });
</script>
