<section class="hero is-medium">
  <figure class="image is-3by1">
    <%= image_tag 'facility_image.jpg', class: "facility-home-image" %>
  </figure>
</section>

<section class="hero is-small is-info is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title has-text-right">
        <%= @facility.facility_name %>
      </h1>
    </div>
  </div>
</section>

<section class="hero is-small is-light bold">
  <div class="hero-body">
    <div class="contaniner">
      <div class="has-text-centered">
        <%= image_tag 'user_default.png', class: "facility-user-image" %>
      </div>
      <div class="has-text-centered is-size-4">
        ようこそ<%= current_user.name %>さん
      </div>
    </div>
  </div>
</section>

<div class="about-title is-size-3 has-text-centered">お知らせ</div>

<section class="hero" style="background-color: #F5F5F5;">
  <article class="panel" id="panel-content">
    <div class="columns is-multiline has-text-left">
      施設のお知らせ表示が入る
    </div>
  </article>
</section>

<div class="about-title is-size-3 has-text-centered">登録申請</div>

<div class="columns .is-variable is-0" style="background-color: #A9A9A9;">
  <div class="column is-9" style="padding: 0px; padding-bottom: 20px;">
    <div class="has-text-centered" id="request-user">
      <%if @requests.present? %>
        <%= link_to image_tag("/assets/user_facility_home_application.jpg"), new_facility_user_request_resident_path(current_user.id, facility_id: @facility), class: "request-image", id: "disabled-btn" %>
      <% else %>
        <%= link_to image_tag("/assets/user_facility_home_application.jpg"), new_facility_user_request_resident_path(current_user.id, facility_id: @facility), class: "request-image" %>
      <% end %>

      <% if @requests.present? && @requests.req_approval == "申請中" %>
        <p><%= link_to "利用者登録は #{@requests.req_approval} です", "#", class: "btn-shine", id: "disabled-btn" %></p>
      <% elsif @requests.present? %>
        <p><%= link_to "利用者登録は #{@requests.req_approval} です", new_facility_user_request_resident_path(current_user.id, facility_id: @facility), class: "btn-shine" %></p>
      <% else %>
        <p><%= link_to "ご利用者様の登録申請", new_facility_user_request_resident_path(current_user.id, facility_id: @facility), class: "btn-shine" %></p>
      <% end %>
    </div>
  </div>

  <div class="column is-3" id="layout-comment">
    <p class="content-request has-text-weight-semibold is-size-6" style="color: #fff;">
      ホームページをご利用される場合は<br>
      施設を利用されている方との<br>
      マッチングをおこなう必要があります。<br>
      まずは、<font color="#FFD700">ご利用者様の登録申請</font><br>
      をおこなってください。<br>
      申請が完了した場合、面会予約、<br>
      ビデオ通話、写真・動画の閲覧<br>
      などのメニューを使用することが<br>
      できるようになります。
    </p>
  </div>
</div> 


<div class="about-title is-size-3 has-text-centered">Memu</div>

<div class="columns .is-variable is-0" style="margin-top: 20px;">
  <div class="column is-3">
    <div class="card" style="height: 450px;">
      <div class="card-image" id="home-images">
        <figure class="image is-4by3">
          <%= link_to image_tag("/assets/user_facility_home_reservation.jpg"), '#' %>
          <p>面会予約</p>
        </figure>
      </div>
      <div class="card-content">
        <div class="has-text-centered is-size-5">
          <%= link_to '#', class: "button is-rounded is-warning is-outlined" do %>
            <span class="icon">
              <i class="far fa-calendar-alt"></i>&nbsp;
            </span>
            <span>
              面会予約
            </span>
          <% end %>  
        </div>
        <div class="content">
          オンラインでの面会予約の日時<br>
          の登録、編集、削除ができます。<br>
        </div>
      </div>
    </div>
  </div>

  <div class="column is-3">
    <div class="card" style="height: 450px;">
      <div class="card-image" id="home-images">
        <figure class="image is-4by3">
          <%= link_to image_tag("/assets/user_facility_menu_chat.jpg"), '#' %>
          <p>ビデオ通話</p>
        </figure>
      </div>
      <div class="card-content">
        <div class="has-text-centered is-size-5">
          <%= link_to '#', class: "button is-link is-rounded is-outlined" do %>
            <span class="icon">
              <i class="fas fa-video"></i>&nbsp;
            </span>
            <span>
              ビデオ通話
            </span>
          <% end %>  
        </div>
        <div class="content">
          施設利用者とのビデオ通話ができます。
        </div>
      </div>
    </div>
  </div>

  <div class="column is-3">
    <div class="card" style="height: 450px;">
      <div class="card-image" id="home-images">
        <figure class="image is-4by3">
          <%= link_to image_tag("/assets/user_facility_menu_album.jpg"), new_facility_user_request_resident_path(current_user.id, facility_id: @facility) %>
          <p>写真・動画</p>
        </figure>
      </div>
      <div class="card-content">
        <div class="has-text-centered is-size-5">
          <%= link_to new_facility_user_request_resident_path(current_user.id, facility_id: @facility), class: "button is-rounded is-outlined is-success" do %>
            <span class="icon">
              <i class="fas fa-photo-video"></i>&nbsp;
            </span>
            <span>
              写真・動画
            </span>
          <% end %>  
        </div>
        <div class="content">
          ご利用者様の写真の閲覧、<br>
          動画の視聴をすることができます。
        </div>
      </div>
    </div>
  </div>

  <div class="column is-3">
    <div class="card" style="height: 450px;">
      <div class="card-image" id="home-images">
        <figure class="image is-4by3">
          <%= link_to image_tag("/assets/user_facility_home_contact.jpg"), '#' %>
          <p>お問い合わせ</p>
        </figure>
      </div>
      <div class="card-content">
        <div class="has-text-centered is-size-5">
          <%= link_to '#', class: "button is-primary is-rounded is-outlined" do %>
            <span class="icon">
              <i class="far fa-paper-plane"></i>&nbsp;
            </span>
            <span>
              お問い合わせ
            </span>
          <% end %>
        </div>
        <div class="content">
          施設に問い合わせをすることができます。
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  ScrollReveal().reveal('.card', { delay: 100, distance: '50px', origin: 'bottom', duration: 800, viewFactor: 0.5 });
</script>




































              <!--<div class="top-btn">
                <p id="explanation">ご利用前に<span id="span-color">ご入居者様の登録申請</span>をして下さい。<br>入力情報確認後、システム利用可能になります。</p>
                <button class="button is-large is-rounded has-text-weight-bold">
                  <% if @requests.present? && @requests.req_approval == "申請中" %>
                    <%= link_to "入居者登録は #{@requests.req_approval} です", "#", class: "has-text-weight-bold is-size-5 is-disabled" , id: 'submit-btn' %>
                  <% elsif @requests.present? %>
                    <%= link_to "入居者登録は #{@requests.req_approval} です", new_facility_user_request_resident_path(current_user.id, facility_id: @facility), class: "has-text-weight-bold is-size-5" %>
                  <% else %>
                    <%= link_to "ご入居者様の登録申請", new_facility_user_request_resident_path(current_user.id, facility_id: @facility), class: "has-text-weight-bold is-size-5" %>
                  <% end %>
                </button><br>
                <div class="notice-btn">
                  <button class="button is-large is-warning is-rounded has-text-weight-bold">
                    <%= link_to "お知らせ表示", top_notice_facility_informations_path(facility_id: @facility), class: "has-text-weight-bold is-size-5 has-text-link" %>
                  </button>
                </div>
              </div>-->
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

<script>
  $(document).ready(function() {
    $("#open").on("click", function() {
      $("div.modal").addClass("is-active");
    })

    $("#close, div.modal-background").on("click", function() {
      $("div.modal").removeClass("is-active");
    })
  });
</script>
