<div class="container">
  <div id="WebDev" class="content-tab">
    <section class="hero is-medium">
      <div class="hero-body search-img">
        <h1 class="title has-text-centered is-size-1 search-title" style="">
          ご利用施設検索
        </h1>
        <div class="container">
          <%= form_with(url: facilities_used_user_facilities_path, method: :get, local: true) do |f| %>
            <div class="field is-grouped is-grouped-centered">
              <div class="control search-input">
                <%= f.text_field :search, :placeholder => "\uf304 ご利用の施設名を入力してください", class: "fa input is-focused is-medium is-rounded is-black" %>
              </div>
              <div class="control">
                <%= f.submit "\uf002検索", class: "fa button is-focused is-medium is-success is-rounded search-btn" %>
              </div>
            </div>
          <% end %>
          </div>
      </div>
    </section>
    <div id="tabs-with-content">
      <div class="tabs is-centered is-large has-text-weight-bold">
        <ul>
          <li class="is-active">
            <a>
              <span class="icon is-small"><i class="fas fa-laptop-house"  aria-hidden="true"></i></span>
              <span>登録施設</span>
            </a>
          </li>
          <%= form_with(url: facilities_used_user_facilities_path, method: :get, local: true) do |f| %>
            <%= f.submit "\uf002登録済施設のみ検索表示", class: "fa tag is-warning" %>
          <% end %>
        </ul>
      </div>
      <div class="field" style="margin-left: 60px; margin-right: 80px;">
        <% current_user.facilities.each do |facility| %>
          <div class="card card-style card-position">
            <div class="card-image">
              <figure class="image is-4by3">
                <%= image_tag 'default.png', class: "info-image" %>
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-content">
                  <p class="title is-4">
                    <% @facility = facility.id %>
                    <%= link_to facility.facility_name, user_facility_home_path(current_user.id, facility_id: @facility), class: "has-text-weight-bold is-size-5 has-text-link" %>
                  </p>
                </div>
              </div>
              <div class="content">
                各施設紹介/お知らせetc検討
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
