<% requests = RequestResident.where(facility_id:current_facility) %>
<% requests.each do |request| %>
  <% if request.req_approval == "申請中" %>
    <div class="req-new-container">
      <div class="req-new-section">
      <nav class="level">
        <div class="level-left">
          <h1 class="has-text-weight-bold is-size-3">入居者登録申請</h1>
        </div>
        <div class="level-right">
          <div class="new-c-container">
            <%= form_with(url: user_facility_new_connection_path, method: :get, local: true) do |f| %>
              <div class="field is-grouped is-grouped-right">
                <div class="control has-icons-left">
                  <%= f.text_field :search, :placeholder => "入居者を入力..", class: "input is-rounded" %>
                  <span class="icon is-left">
                    <i class="fas fa-search" aria-hidden="true"></i>
                  </span>
                </div>
                <div class="control">
                  <%= f.submit "\uf002検索", class: "fa button is-primary is-outlined is-rounded" %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </nav>
        <hr id="new-hr">
        <p class="has-text-weight-bold is-size-5">
          <% @request_user = User.find(request.user_id) %>
          <hr>
          <%= @request_user.name %>様からの申請
        </p>
        <table class="table is-narrow user-edit-table is-bordered" id="req-new-table">
          <tbody>
            <tr>
              <th>入居者名</th>
              <td>
                <%= request.req_name %>
              </td>
            </tr>
            <tr>
              <th>連絡先</th>
              <td>
                <%= request.req_phone %>
              </td>
            </tr>
            <tr>
              <th>住所</th>
              <td>
                <%= request.req_address %>
              </td>
            </tr>
            <tr>
              <th>紐付け</th>
              <td>
                <% @request_user = User.find(request.user_id) %>
                <%= form_with(model: @request_user, url: user_facility_create_connection_path(@request_user, facility_id: params[:facility_id])) do |f| %>
                  <%= f.collection_check_boxes :resident_ids, @residents, :id, :name do |b| %>
                    <%= b.label { b.check_box + " " + b.text } %>
                  <% end %><br><br>
                  <%= f.collection_check_boxes :resident_ids, @request_user.residents, :id, :name, style: 'display:none' do |b| %>
                    <span class="tag is-warning"><%= b.label { b.text } %>登録済</span>
                <% end %>
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <th><abbr title="Position"></abbr></th>
              <td>
              <%= f.submit "入居者様を登録", class: "button is-primary new-btn has-text-weight-bold" %>
                <% end %>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  <% end %>
<% end %>
