<section class="hero is-small">
  <div class="hero-body">
  </div>
</section>

<section class="hero is-info is-bold">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title has-text-centered is-size-1">
        <%= @facility.facility_name %> / 施設マイページ
      </h1>
    </div>
  </div>
</section>

<div class="container section">
  <div id="WebDev" class="content-tab">
    <div class="table-container">
      <table class="table is-fullwidth is-hoverable is-striped is-narrow" id="user-table">
        <thead>
          <tr>
            <th>画像</th>
            <th>施設名</th>
            <th>メールアドレス</th>
            <th>登録ユーザー数</th>
            <th>編集</th>
            <th>削除</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="is-vcentered">
              <div class="has-text-weight-semibold is-size-5">
                <% if @facility.image? %>
                  <%= image_tag @facility.image.url, id: :img_prev, :size => '120x120' %>
                <% else %>
                  <%= image_tag "https://img-photo.s3-ap-northeast-1.amazonaws.com/uploads/content_image/facility_default.jpg", id: :img_prev, :size => '120x120' %>
                <% end %>
              </div>
            </td>
            <td class="is-vcentered">
              <div class="has-text-weight-semibold is-size-5">
                <%= @facility.facility_name %>
              </div>
            </td>
            <td class="is-vcentered">
              <div class="has-text-weight-semibold is-size-5">
                <%= @facility.email %>
              </div>
            </td>
            <td class="is-vcentered">
              <div class="has-text-weight-semibold is-size-5">
                <%= @facility.users.count %>
              </div>
            </td>
            <td class="is-vcentered">
              <%= link_to "#", class: "button is-success is-medium" do %>
              <span><i class="fas fa-user-edit"></i></span>
              <% end %>
            </td>
            <td class="is-vcentered">
              <%= link_to facility_path(@facility), method: :delete, data: { confirm: "「#{@facility.facility_name}」を削除してよろしいですか?" },
                class: "button is-danger is-medium" do %>
              <span><i class="far fa-trash-alt"></i></span>
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <%= link_to "申請者登録画面", new_relative_path, class: "button is-primary is-medium has-text-weight-bold" %>
    <%= link_to "申請一覧(承認済)", relatives_path, class: "button is-small" %>
  </div>
</div>
