<% if HolidayJapan.check(date) %>
  <p class="holiday-color"><%= l(date, format: :short) %></p>
<% else %>
  <p><%= l(date, format: :short) %></p>
<% end %>

<% if calendar_setting(@week, date) %>
  <% if current_facility.present? %>
    <% if @reservations.facility_day_max(@facility, @user).reservation_date(date).length < 1 && @reservations.facility(current_facility).reservation_date(date).length < @current_max_reservation && date >= Date.current %>
      <%= link_to "◯", reservation_time_facility_reservations_path(current_facility, title_date: l(date, format: :long), date: date, user: @user), remote: true, class: "is-link is-light possible-btn" %>
      <p class="remaining">残:<%= @current_max_reservation - @reservations.facility(current_facility).reservation_date(date).length %></p>
    <% elsif date < Date.current %>
      <p class="impossible-btn">✗</p>
    <% else %>
      <p class="non-sign"><%= @reservations.facility(current_facility).reservation_date(date).length %>件</p>
    <% end %>
  <% elsif current_user.present? %>
    <% if @reservations.facility(@facility).reservation_user(current_user.name).reservation_date(date).length < 1 && @reservations.facility(@facility).where(reservation_date: date).length < @current_max_reservation && date >= Date.current %>
      <%= link_to "◯", reservation_time_facility_reservations_path(@facility, title_date: l(date, format: :long), date: date, user: @user), remote: true, class: "is-link is-light possible-btn" %>
      <p class="remaining">残:<%= @current_max_reservation - @reservations.facility(@facility).reservation_date(date).length %></p>
    <% elsif date < Date.current %>
      <p class="impossible-btn">✗</p>
    <% end %>
  <% end %>
<% else %>
  <p class="impossible-btn">✗</p>
<% end%>

<!--モーダル表示-->
<div class="modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <div class="js-contents--content-form mobile-modal"></div>
  </div>
</div>

<% @reservations.each do |reservation| %>
  <% if current_user.present? && reservation.facility_id == @facility.id && current_user.name == reservation.reservation_user && date >= Date.current %>
    <%= link_to "予約情報(#{l(reservation.started_at, format: :time)}~)", facility_reservation_path(@facility, reservation), class:"tag is-rounded mobile-none", id: "tag-color" if reservation.reservation_date == date %>
  <% elsif current_facility.present? && reservation.facility_id == @facility.id && date >= Date.current %>
    <%= link_to "#{reservation.reservation_user}(#{l(reservation.started_at, format: :time)}~)", facility_reservation_path(@facility, reservation, user: reservation.user_id), class:"tag is-rounded mobile-none", id: "tag-color" if reservation.reservation_date == date %>
  <% end %>
<% end %>
