<h1>予約状況一覧画面</h1>

<div class="card" id="mypage-reservations-calendar">
  <div class="has-text-centered">
    <div class="is-centered">

      <%= month_calendar(attribute: :calendar_day, events: @reservations) do |date, reservations| %>
        <%= l(date, format: :short) %>
        <button id=<%= date %>>ボタン</button>

        <!-- 予約時間 モーダル表示 -->
        <div class="modal" id=<%= l(date, format: :short) %>>
          <div class="modal-background"></div>
          <div class="modal-card">
            <header class="modal-card-head" style="background-color: #e3dcca;">
              <p class="modal-card-title is-half has-text-weight-bold reserve-modal is-size-3" style="color: #401c00;">予約画面</p>
              <button class="delete" aria-label="close" id="close"></button>
            </header>
              <section class="modal-card-body">
                <div class="field">
                  <p class="title-in-modal"><%= date %></p>
                  <p class="modal-description">予約時間を選択して下さい。</p>
                </div>
                <div class="field">
                  <p class=" js-contents--edit-button">

                    <%= link_to new_reservation_path(date: date, time: "1000"), class:"button is-info" do %>
                      <i class="far fa-clock"></i>&nbsp;10:00
                    <% end %>
                    <%= link_to new_reservation_path(date: date, time: "1100"), class:"button is-info" do %>
                      <i class="far fa-clock"></i>&nbsp;11:00
                    <% end %>
                    <%= link_to new_reservation_path(date: date, time: "1400"), class:"button is-info" do %>
                      <i class="far fa-clock"></i>&nbsp;14:00
                    <% end %>
                    <%= link_to new_reservation_path(date: date, time: "1500"), class:"button is-info" do %>
                      <i class="far fa-clock"></i>&nbsp;15:00
                    <% end %>
                  </p>

                </div>
              </section>
              <footer class="modal-card-foot">
                <%= link_to "予約確認画面へ", new_reservation_path, class: "fa button img-update-btn" %>
              </footer>
              <script>
                $(document).ready(function () {
                  $("#<%= date %>").on("click", function () {
                    $("div#<%= l(date, format: :short) %>").addClass("is-active");
                  })

                  $("#close, div.modal-background").on("click", function () {
                    $("div#<%= l(date, format: :short) %>").removeClass("is-active");
                  })
                });
              </script>

          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
