<%= render partial: 'shared/facility_images', locals: { facility: @facility} %>
<div class="columns is-variable is-0 is-desktop facility-columns" style="margin-right: 0px; margin-top: -1.1rem;">
  <%= render 'shared/side_link' if current_facility.present? %>
  <% if current_user.present? %>
    <div id="no-side-link"></div>
  <% end %>
  <div class="column is-10-desktop is-12-mobile" style="padding: 0px;">
    <div class="container container-top">
      <body id="page-back-color">
        <div class="container">
          <div class="card card-width" id="reservations-calendar">
            <%= link_to "週間カレンダーへ", index_week_facility_reservations_path(@facility, user: @user), class: "button is-warning is-light is-outlined" %>
            <%= link_to "戻る", facility_home_path(@facility), class: "button is-light" if current_user.present? %>
            <%= link_to "戻る", users_path, class: "button is-light" if current_facility.present? %>
            <div class="has-text-centered">
              <div class="is-centered">
                <h1 class="has-text-centered reservation-title"><%= @user.name if current_facility.present? %>&nbsp;&nbsp;予約日時選択</h1>
                <%= month_calendar(attribute: :calendar_day, events: @reservations) do |date, reservations| %>
                  <%= render partial: 'main_content', locals: { date: date} %>
                <% end %>
              </div>
            </div>
            <%= render 'reservation_list' %>
          </div>
        </div>
      </body>
    </div>
  </div>
</div>
