<h1>【予約内容】</h1>

<p>【ご家族様お名前】</p>
<%= @reservation.reservation_user %>

<p>【メールアドレス】</p>
<%= @reservation.reservation_email %>

<p>【面会予定ご利用者様】</p>

<% eval(@reservation.reservation_residents).each do |resident| %>
  <%= resident %><br>
<% end %>

<p>【予約日】</p>
<%= l(@reservation.reservation_date.to_time, format: :date) %>


<p>【予約時間】</p>
<%= l(@reservation.started_at, format: :time) %><br>

<%= link_to facility_reservation_path(@facility, @reservation), method: :delete,
            data: { confirm: "#{l(@reservation.reservation_date.to_time, format: :date)}/#{l(@reservation.started_at, format: :time)}~の予約を取り消してよろしいですか?" },
            class: "button is-danger is-medium" do %>
            <span><i class="far fa-trash-alt"></i></span>
<% end %>

<%= link_to "戻る", facility_reservations_path(facility_id: @facility.id), class: "button is-light" %>
