$("div.tag-plus-btn").remove();

$('.user-show-tags').append("<li class='tag-link-<%= @tag.id%>' id='tag-links'><div class='tag-panel'><a class='tag-title-branch-ajax' data-remote='true' href='/tags/<%= @tag.id%>'><%= @tag.title %></a><a data-confirm='<%= @tag.title %>のフォルダを削除してよろしいですか？' class='tag-delete-btn' data-remote='true' rel='nofollow' data-method='delete' href='/tags/<%= @tag.id%>'><i class='fas fa-times'></i></a></div></li>");

$('.user-show-tags').append("<div class='tag-plus-btn'><a class='new-folder-btn' data-remote='true' href='/tags/new'><i class='fas fa-folder-plus fa-3x'></i></a></div>");


$("div.modal").removeClass("is-active");

$('.select-tag').append("<option value='<%= @tag.id%>'><%= @tag.title %></option>");

$("#added-message").html("<div class='notification is-success has-text-weight-bold'><p class='notice'><%= notice %></p></div>").hide().fadeIn(250);

$(function(){
  setTimeout("$('#added-message').fadeOut(1200)", 1500)
})
