<div class="modal" id=<%= information_id %> >
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
        <p class="modal-card-title">お知らせ編集</p>
        <button class="delete" aria-label="close" id="close"></button>
    </header>
    <section class="modal-card-body">
      <div class="form-group col-sm-5">
        <%= form_with(model: information, url: information_path(information), method: :patch, local: true) do |f| %>
        <div class="form-group col-sm-5">
          <%= f.text_field :title, class: "input" %>
          <%= f.text_field :news, class: "textarea" %>
          <div style= "text-align: right;"><%= f.submit "編集",class:"button is-info is-outlined" %></div>
        </div>
        <% end %>
      </div>
    </section>
  </div>
</div>

<script>
    $(document).ready(function() {
        $("#<%= information.id %>").on("click", function() {
            $("div#<%= information_id %>").addClass("is-active");
        })

        $("#close, div.modal-background").on("click", function() {
            $("div#<%= information_id %>").removeClass("is-active");
        })
    });
</script>
