
<p>お知らせ編集</p>


<%= form_with(model: @information, url: facility_information_path(current_facility, @information), method: :patch, local: true) do |f| %>
  <%= render partial: 'shared/error_messages', locals: { obj: @information } %>
  <%= f.text_field :title, class: "fa input is-link is-medium is-rounded is-focused" %><br><br>
  <%= f.text_area :news, class: "fa textarea is-link is-medium is-rounded is-focused" %>

  <div class="facility-photo">
    <% if @information.image? %>
      <%= image_tag @information.image.url, id: :img_prev, :size => '800x200' %>
    <% else %>
      <%= image_tag "https://img-photo.s3-ap-northeast-1.amazonaws.com/uploads/content_image/facility_default.jpg", id: :img_prev, :size => '500x200' %>
    <% end %>
  </div>
  <div class="img_confirm">
    <%= f.label :image, "\uf574", class: "fa image_input_comment" %>
    <%= f.file_field :image, value: "upload", class: "image_uploading" %>
    <%= f.check_box :remove_image, id: "img_delete" %>
    <label for="img_delete" class="check_position has-text-weight-bold" style="position:absolute; margin-top: 310px;">使用中の画像を削除してデフォルト画像に戻したい場合のみチェックを入れて下さい。</label>
  </div>
  <div class="img_update">
    <%= f.submit "イメージ画像として登録", class: "button is-link is-medium is-fullwidth new-btn has-text-weight-bold" %>
  </div>



<% end %>
