<%= render partial: 'shared/facility_images', locals: { facility: current_facility} %>

<div class="columns is-variable is-0 is-desktop facility-columns" style="margin-right: 0px; margin-top: -1.1rem;">
  <%= render 'shared/side_link' %>
  <div class="column is-10-desktop is-12-mobile" style="padding: 0px;">
    <nav class="panel" id="panel-style">
      <div class="notification-container" id="notification-mobile">
        <div class="content has-text-centered">
          <div class="columns is-centered">
            <div class="column is-10 top-btn-position is-centered">
              <h3 id="account-title">お知らせの編集ができます。</h3>
              <small style="float: right">最終更新 <%= l(@information.updated_at, format: :short) %></small>
              <h1 class="mini-title" style="font-size: 20px; color: #401c00;">お知らせ画像設定</h1>
              <p class="title-description">ここからお知らせに使用する背景画像の設定ができます。</p>
              <%= form_with(model: @information, url: information_path, method: :patch, local: true) do |f| %>
                <%= render partial: 'shared/error_messages', locals: { obj: @information } %>
                <div class="info-image-layout">
                  <%= @information.information_image %>
                </div>
                <div class="mobile-info-image-layout">
                  <%= @information.info_mobile_image %>
                  <div class="info-image-back">
                    <div class="info-image-camera">
                      <i class="fas fa-camera"></i>
                    </div>
                  </div>
                </div>
                <div class="drop-zone-area-info">
                  <%= f.label :image, "\uf574", class: "fa image_input_comment" %>
                  <%= f.file_field :image, value: "upload", class: "image_uploading" %>
                  <%= f.hidden_field :image_cache %>
                </div>
                <div class="delete-check">
                  <%= f.check_box :remove_image, id: "img_info_delete" %>
                  <label for="img_info_delete" class="check_position">使用中の画像を削除してデフォルト画像に戻したい場合のみチェックを入れて下さい。</label>
                </div>
                <div class="position-control"><h1>位置調整</h1></div>
                <div id="edit-info-sub" class="info-sub-title">
                  <p>お知らせタイトル</p>
                </label>
                <div class="media-content">
                  <div class="content label-space">
                    <%= f.text_field :title, :placeholder => "\uf303 タイトルを入力してください", class: "fa input" %>
                  </div>
                </div>
                <div class="info-sub2-title">
                  <p>本文</p>
                </div>
                <div class="media-content">
                  <div class="content label-space">
                    <%= f.text_area :news, :placeholder => "\uf303 お知らせを入力してください", class: "fa textarea" %>
                  </div>
                </div>
                <%= f.submit "お知らせを更新する", class: "info-btn" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <%= render 'responsive_layout' %> <!--レスポンシブ対応のため記述-->

  </div>
</div>

<script>
  $(function() {
    function readURL(input) {
      if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function (e) {
          $('#img_prev').attr('src', e.target.result);
        }
        reader.readAsDataURL(input.files[0]);
      }
    }
    $(".image_uploading").change(function(){
        readURL(this);
    });
  });
</script>

<script>
  $(function() {
    function readURL(input) {
      if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function (e) {
          $('#img_prev1').attr('src', e.target.result);
        }
        reader.readAsDataURL(input.files[0]);
      }
    }
    $(".image_uploading").change(function(){
        readURL(this);
    });
  });
</script>

<script>
  $(function(){
    ScrollReveal().reveal('.facility-icon-image', { delay: 600, distance: '70%', origin: 'top', duration: 2000, viewFactor: 0.5 });
    ScrollReveal().reveal('#facility-name', { delay: 100, distance: '100%', origin: 'left', duration: 2000, viewFactor: 0.5 });
  });
</script>
