
<p>お知らせ編集</p>


<%= form_with(model: @information, url: facility_information_path(current_facility, @information), method: :patch, local: true) do |f| %>
  <%= render partial: 'shared/error_messages', locals: { obj: @information } %>
      <%= f.text_field :title, class: "fa input is-link is-medium is-rounded is-focused" %><br><br>
      <%= f.text_area :news, class: "fa textarea is-link is-medium is-rounded is-focused" %>

    <%= f.submit "\uf044 編集する",class:"fa button is-info is-medium is-rounded is-focused has-text-weight-semibold" %>&emsp;
    <button type="button" class="button is-black is-outlined is-medium is-rounded has-text-weight-semibold" aria-label="close" id="close">
      キャンセル
    </button>
  </div>
<% end %>

