<h1>お知らせ一覧画面</h1>
<div style= "text-align: right;"><%= link_to "新規お知らせ投稿", new_information_path, class: "button is-info" %></div>

<div class="table-container">
  <table class="table is-bordered is-fullwidth">
    <tr class="tr-top">
      <th class="th time">投稿日時</th>
      <th class="th head">タイトル</th>
      <th class="th content">投稿内容</th>
      <th class="th edit">編集／削除</th>
    </tr>
    <tr class="tr-head">
      <td class="notice" colspan="4">トップお知らせ</td>
    </tr>
    <tr class="tr-content">
      <td class="td-content"><%= @top_info.created_at %></td>
      <td class="td-content"><%= @top_info.title %></td>
      <td class="td-content"><%= @top_info.news %></td>
      <td class="td-content">
        <%= link_to "編集", edit_information_path(@top_info), class: "button is-primary is-outlined" %>
        <%#= link_to "削除", @first_information, method: :delete,
                data: { confirm: "削除してよろしいですか？" }, class:"button is-danger is-outlined" %>
      </td>
    </tr>
    <tr class="tr-others">
      <td class="notice" colspan="4">お知らせ</td>
    </tr>
    <% @informations.each do |information| %>
    <tr class="tr-content">
      <td class="td-content"><%= information.created_at %></td>
      <td class="td-content"><%= information.title %></td>
      <td class="td-content"><%= information.news %></td>
      <td class="td-content">
        <%= link_to "編集", edit_information_path(information), class: "button is-primary is-outlined" %>
        <%= link_to "削除", information, method: :delete,
              data: { confirm: "削除してよろしいですか？" }, class:"button is-danger is-outlined" %>
      </td>
    </tr>
    <% end %>
  </table>
</div>
