<h1 class="information-title">お知らせ投稿</h1>

<div style= "text-align: right;"><button type="button" class="button is-info" id="new">新規お知らせ投稿</button></div>

<div class="table-container">
  <table class="table is-bordered is-fullwidth" id="table-informations">
    <thead>
      <tr>
        <th style="width: 20%;">投稿日時</th>
        <th style="width: 25%;">タイトル</th>
        <th style="width: 35%;">投稿内容</th>
        <th style="width: 20%;">編集／削除</th>
      </tr>
    </thead>
    <tbody>
      <tr class="tr-head">
        <td class="text-color" colspan="4">トップお知らせ</td>
      </tr>
      <tr>
        <td><%= @info_top.created_at %></td>
        <td><%= @info_top.title %></td>
        <td><%= @info_top.news %></td>
        <td>
          <button type="button" class="button is-primary is-outlined" id="edit">編集</button>
        </td>
      </tr>
      <tr class="tr-head">
        <td class="text-color" colspan="4">お知らせ</td>
      </tr>
      <% @informations.each do |information| %>
      <tr>
        <td><%= information.created_at %></td>
        <td><%= information.title %></td>
        <td><%= information.news %></td>
        <td>
          <button type="button" class="button is-primary is-outlined" id=<%= information.id %>>編集</button>
          <%= link_to "削除", information, method: :delete,
                data: { confirm: "削除してよろしいですか？" }, class:"button is-danger is-outlined" %>
          <%= render "notice_edit", {information: information, information_id: information.news} %>
        </td>
      </tr>
      <% end %>
    <tbody>
  </table>
</div>

<%= render 'new' %>
<%= render 'edit' , { information: @info_top } %>
