<article class="panel is-success">
  <div class="level-info">
      <div class="level-center">
        <p class="panel-tabs">
          <a class="panel-tab is-active" onclick="openTab(event,'Web')">お知らせ</a>
          <a class="panel-tab" onclick="openTab(event,'Aud')">システムからのお知らせ</a>
        </p>
      </div>
  </div>

  <div id="Web" class="content-tab" >
    <div style="text-align:center;">
      <div style="display:flex; flex-wrap: wrap; justify-content: center; text-align: left;">
        <% @informations.first(6).each do |information| %>
          <div class="card" style="width:300px; margin: 20px;">
            <div class="card-content">
              <div class="content" style="height:200px;">
                <p><%= l( information.created_at, format: :hyphen) %></p>
                <p style="font-weight:bold;">
                  <%= information.title %>
                </p>
                <%= information.news.truncate(90) %>
              </div>
            </div>
            <footer class="card-footer">
              <div class="card-footer-item">
                <%= link_to "続きを読む", facility_information_path(current_user, information), class: "" %>
              </div>
            </footer>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div id="Aud" class="content-tab" style="display:none">
    <div style="text-align:center;">
      <div style="display:flex; flex-wrap: wrap; justify-content: center; text-align: left;">
        <div class="card" style="width:300px; margin: 20px;">
          <div class="card-content">
            <div class="content" style="height:200px;">
              <p><%= l( @info_top.created_at, format: :hyphen) %></p>
              <p style="font-weight:bold;">
                <%= @info_top.title %>
              </p>
              <%= @info_top.news.truncate(90) %>
            </div>
          </div>
          <footer class="card-footer">
            <div class="card-footer-item">
              <%= link_to "続きを読む", facility_information_path(current_user, @info_top), class: "" %>
            </div>
          </footer>
        </div>
      </div>
    </div>
  </div>
</article>

<script>
  function openTab(evt, tabName) {
    var i, x, tablinks;
    x = document.getElementsByClassName("content-tab");
    for (i = 0; i < x.length; i++) {
      x[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("panel-tab");
    for (i = 0; i < x.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" is-active", "");
    }
    document.getElementById(tabName).style.display = "block";
    evt.currentTarget.className += " is-active";
  }
</script>
