<div class="modal" id=<%= resident_id %> >
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head" style="background-color: #48D1CC;">
      <p class="modal-card-title is-half has-text-weight-bold reserve-modal is-size-3">入居者情報編集</p>
      <button class="delete" aria-label="close" id="close"></button>
    </header>
    <section class="modal-card-body">
      <%= form_with(model: resident, url: "#", method: :patch, local: true) do |f| %>
      <div class="form-group col-sm-5">
        <%= f.label :name, class: "label is-size-4" %>
        <%= f.text_field :name, class: "fa input is-link is-medium is-rounded is-focused" %><br><br>
        <%= f.label :charge_worker, class: "label is-size-4" %>
        <%= f.text_field :charge_worker, class: "fa input is-link is-medium is-rounded" %>
      </div><br>
      <div class="has-text-centered">
        <%= f.submit "\uf044 編集する",class:"fa button is-info is-medium is-rounded is-focused has-text-weight-semibold" %>&emsp;
        <button type="button" class="button is-black is-outlined is-medium is-rounded has-text-weight-semibold" aria-label="close" id="close">
        キャンセル
        </button>
      </div>
      <% end %>
    </section>
  </div>
</div>

<script>
  $(document).ready(function() {
    $("#<%= resident.id %>").on("click", function() {
      $("div#<%= resident_id %>").addClass("is-active");
    })

    $("#close, div.modal-background").on("click", function() {
      $("div#<%= resident_id %>").removeClass("is-active");
    })
  });
</script>
