<div class="modal" id="new">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head" style="background-color: #48D1CC;">
      <p class="modal-card-title is-half has-text-weight-bold reserve-modal is-size-3">入居者新規登録</p>
      <button class="delete" aria-label="close" id="close"></button>
    </header>
    <section class="modal-card-body">
      <%= form_with(model: @resident, url: residents_path, method: :post, local: true) do |f| %>
      <div class="form-group col-sm-5">
        <%#= f.text_field :name, placeholder:"タイトルを入力", class: "input" %>
        <%= f.text_field :name, :placeholder => " \uf304 名前を入力", class: "fa input is-link is-medium is-rounded is-focused" %><br><br>
        <%= f.number_field :floor, :placeholder => " \uf756 フロアを入力", class: "fa input is-link is-medium is-rounded" %><br><br>
        <%= f.text_field :charge_worker, :placeholder => " \uf4c4 担当者を入力", class: "fa input is-link is-medium is-rounded" %>
      </div><br>
      <div class="has-text-centered">
        <%= f.submit "\uf044 投稿する",class:"fa button is-info is-medium is-rounded is-focused has-text-weight-semibold" %>&emsp;
        <button type="button" class="button is-black is-outlined is-medium is-rounded has-text-weight-semibold" aria-label="close" id="close">
        キャンセル
        </button>
      </div>
      <% end %>
    </section>
  </div>
</div>

<script>
    $(document).ready(function() {
        $("#new").on("click", function() {
            $("div#new").addClass("is-active");
        })

        $("#close, div.modal-background").on("click", function() {
            $("div#new").removeClass("is-active");
        })
    });
</script>
