<%= render partial: 'shared/facility_images', locals: { facility: current_facility} %>

<div class="columns is-variable is-0 is-desktop facility-columns" style="margin-right: 0px; margin-top: -1.1rem;">
  <%= render 'shared/side_link' %>
  <div class="column is-10-desktop is-12-mobile" style="padding: 0px;">
    <section class="resident-title hero">
      <div class="hero-body">
        <div class="container has-text-centered">
          <h1 class="title is-size-3 has-text-white" id="table">
            利用者一覧
          </h1>
        </div>
      </div>
      <div class="hero-foot">
        <nav class="tabs is-boxed is-fullwidth is-large">
          <div class="container">
            <ul>
              <li class="tab is-active" onclick="openTab(event,'WebDev')"><a class="has-text-weight--semibold">利用中</a></li>
              <li class="tab" onclick="openTab(event,'WebAud')"><a class="has-text-weight--semibold">退所</a></li>
            </ul>
          </div>
        </nav>
      </div>
    </section>
    <div class="container section">
      <div id="WebDev" class="resident-content-tab">
        <%= will_paginate @collection, renderer: BulmaPagination::Rails, class: "is-centered is-rounded" %>

        <!--CSVインポートエラーログ-->
        <% if params[:error_residents] %>
          <a id="error">インポートエラーログ <%= "#{params[:error_residents].count}件" %></a>
        <% end %>

        <div class="resident-head-button">
          <!--CSVインポート-->
          <%= render partial: 'csv_import' %>
          <div class=" js-contents--create-button">
            <%= link_to "\uf234", new_resident_path, remote: true, class: "resident--create-button fa button is-info is-rounded" %>
          </div>
          <div class="residents-search">
            <%= form_with(url: residents_path(current_facility), method: :get, local: true) do |f| %>
            <div class="field is-grouped is-grouped-right">
              <div class="control">
                <%= f.text_field :search, :placeholder => "名前を入力", class: "input is-rounded is-black" %>
              </div>
              <div class="control">
                <%= f.submit "\uf002検索", class: "fa button is-link is-rounded" %>
              </div>
            </div>
            <% end %>
          </div>
        </div>

        <div class="table-container">
          <table class="table is-striped is-fullwidth" id="table-residents">
            <thead>
              <tr class="has-text-weight-bold">
                <th>
                  利用者名(<%= current_facility.residents.count %>)
                </th>
                <th>ご家族名</th>
                <th>担当者名</th>
                <th>
                  思い出アルバム
                </th>
                <th class="text-left">
                  <div class="js-contents--content">
                    <div class="image-total-count">合計<span class="image-total-count-span"><%= @total_image_count %></span>枚</div>
                      <%= form_with model: current_facility, url:  residents_path(current_facility), class: "residents-month-select", method: :get, remote: true do |f| %>
                        <%= f.select :user_id, [[ @select_month.prev_month.prev_month.strftime("%y年 %m月"), residents_path(anchor: "table", date: @select_month.prev_month.prev_month.all_month)],
                                                [ @select_month.prev_month.strftime("%y年 %m月"), residents_path(anchor: "table", date: @select_month.prev_month.all_month)],
                                                [ @select_month.strftime("%y年 %m月"), residents_path(anchor: "table", date: @select_month.all_month)],
                                                [ @select_month.next_month.strftime("%y年 %m月"), residents_path(anchor: "table", date: @select_month.next_month.all_month)]
                                              ], { selected: residents_path(anchor: "table", date: @select_month.all_month) }, { class: "residents-month-select-form" } %>
                      <% end %>
                  </div>
                </th>
                <th>編集</th>
                <th>退所</th>
                <th>削除</th>
              </tr>
            </thead>
            <tbody>
              <% @residents.each do |resident| %>
              <tr class="has-text-weight-semibold">
                <td><%= resident.name %></td>
                <td>
                  <% resident.users.each do |user| %>
                    <%= user.name %>
                  <% end %>
                </td>
                <td><%= resident.charge_worker %></td>
                <td>
                  <%= link_to resident_memories_path(resident), class:"button is-link" do %>
                    <i class="fas fa-images"></i>
                  <% end %>
                </td>
                <td class="image-count-td">
                  <%= resident.image_count(@select_month.all_month) %>
                </td>
                <td>
                  <div class=" js-contents--edit-button">
                    <%= link_to "\uf4ff", edit_resident_path(resident), remote: true, class: "fa button is-success resident--update-button" %>
                  </div>
                </td>
                <td><button type="button" class="button is-warning" id=""><i class="fas fa-luggage-cart"></i></button></td>
                <td>
                  <%= link_to resident_path(resident), method: :delete, data: { confirm: "#{resident.name}さんの入居者情報を削除してよろしいですか？" }, class:"button is-danger" do %>
                  <i class="far fa-trash-alt"></i>
                  <% end %>
                </td>
              </tr>
              <% end %>
            </tbody>
          </table>
          <%= will_paginate @collection, renderer: BulmaPagination::Rails, class: "is-centered is-rounded" %>
        </div>
      </div>

      <div id="WebAud" class="resident-content-tab" style="display:none">
        <p>
          退所者一覧<br>
          Details Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
      </div>
    </div>
  </div>
</div>


<!--モーダル表示-->
<div class="modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <div class="js-contents--content-form"></div>
  </div>
</div>

<!-- モーダル・インポートエラー -->
<% if params[:error_residents] %>
  <div class="modal" id="error_modal">
    <div class="modal-background">
      <div class="modal-card">
        <div class="modal-card-head">
          <h4 class="modal-card-title">エラーデータログ</h4>
          <button class="delete" aria-label="close" id="close"></button>
        </div>
        <div class="modal-card-body">
        <% num = 1 %>
          <% params[:error_residents].each do |resident| %>
            <%= "#{num}件目" %><br>
            <%= resident %><br><br>
            <% num+= 1 %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<script>
  // エラーモーダル表示
  $(document).ready(function() {
    $("#error").on("click", function() {
      $("div#error_modal").addClass("is-active");
    })

    $("#close, div.modal-background").on("click", function() {
      $("div#error_modal").removeClass("is-active");
    })
  });
</script>

<script>
  //タブの切替
  function openTab(evt, tabName) {
    var i, x, tablinks;
    x = document.getElementsByClassName("resident-content-tab");
    for (i = 0; i < x.length; i++) {
      x[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tab");
    for (i = 0; i < x.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" is-active", "");
    }
    document.getElementById(tabName).style.display = "block";
    evt.currentTarget.className += " is-active";
  }
</script>

<script>
  $(function(){
    ScrollReveal().reveal('.facility-icon-image', { delay: 600, distance: '70%', origin: 'top', duration: 2000, viewFactor: 0.5 });
    ScrollReveal().reveal('#facility-name', { delay: 100, distance: '100%', origin: 'left', duration: 2000, viewFactor: 0.5 });
  });
</script>

<script>
  // select変更時
  $(function() {
    $('select').change(function() {
      var url = $(this).val();

      if(url != '') {
        location.href = url
      }
    })
  });
</script>
