<h1 class="resident-title is-size-1">入居者一覧</h1>

<%= will_paginate @collection, renderer: BulmaPagination::Rails, class: "is-centered is-rounded" %>
<div class="resident-head-button">
    <!--CSVインポート-->
  <%= render partial: 'csv_import' %>
  <div class="head-button"><button type="button" class="button is-info" style="border-radius: 100px; font-weight: bold; font-size: 18px;" id="new">入居者新規登録</button></div>
</div>

<div class="table-container">
  <table class="table is-striped is-fullwidth" id="table-residents">
    <thead>
      <tr class="has-text-weight-bold">
        <th style="width: 24%;">入居者名</th>
        <th style="width: 23%;">ご家族名</th>
        <th style="width: 23%;">担当者名</th>
        <th style="width: 10%;">編集</th>
        <th style="width: 10%;">退所</th>
        <th style="width: 10%;">削除</th>
      </tr>
    </thead>
    <tbody>
      <% @residents.each do |resident| %>
      <tr class="is-size-5">
        <td><%= resident.name %></td>
        <td><%#= resident.users %></td>
        <td><%= resident.charge_worker %></td>
        <td>
          <button type="button" class="button is-success is-medium" id="<%= resident.id %>"><i class="fas fa-user-edit"></i></button>
        </td>
        <td><button type="button" class="button is-warning is-medium" id=""><i class="fas fa-luggage-cart"></i></button></td>
        <td>
        <%= link_to resident, method: :delete,
                data: { confirm: "削除してよろしいですか？" }, class:"button is-danger is-medium" do %>
            <i class="far fa-trash-alt"></i>
        <% end %>
        <%= render 'edit', {resident: resident, resident_id: resident.name} %>
        </td>
      </tr>
      <% end %>
    <tbody>
  </table>
</div>
<%= will_paginate @collection, renderer: BulmaPagination::Rails, class: "is-centered is-rounded" %>

<%= render 'new' %>
