<% @image_columns.each do |image| %>
  <% if Rails.env.production? %>
    <% memory_id = image.url.split("/")[6].to_i %>
    <% column = image.url.split("/")[5] %>
    <% id_column = image.url.split("/")[6] + s[5] %>
    <% column_id = image.url.split("/")[5] + s[6] %>
    <% url = image.url.split("/")[7] %>
    <% @memory = @memories.find(memory_id) %>
  <% else %>
    <% memory_id = image.url.split("/")[4].to_i %>
    <% column = image.url.split("/")[3] %>
    <% id_column = image.url.split("/")[4] + image.url.split("/")[3] %>
    <% column_id = image.url.split("/")[3] + image.url.split("/")[4] %>
    <% url = image.url.split("/")[5] %>
    <% @memory = @memories.find(memory_id) %>
  <% end %>
  <%= image_tag image.url, class: "img-interval index-photo-size", id: id_column %>

  <!-- 画像モーダル表示 -->
  <div class="modal" id="<%= column_id %>">
    <div class="modal-background"></div>
    <div class="modal-card modal-width">
      <header class="modal-card-head modal-title-back">
        <p class="modal-card-title is-half has-text-weight-bold reserve-modal is-size-3 title-color">画像データ詳細</p>
        <button class="delete" aria-label="close" id="close"></button>
      </header>
      <%= form_with(model: @memory, url: resident_memory_path(@resident, @memory), method: :patch, local: true) do |f| %>
        <%= render partial: 'shared/error_messages', locals: { obj: @memory } %>
        <section class="modal-card-body image-position">
          <%= image_tag image.url, id: "img_prev_#{column}_#{memory_id}", class: "img-interval index-photo-size" %>
          <%#= f.file_field :image0, class: "image_uploading_#{column}_#{memory_id} modal-input" %>
        </section>
        <section class="modal-card-body content-back">
          <p class="is-pulled-left word-break"><span class="has-text-weight-bold span-title">画像名</span><%= url %></p>
          <p class="is-pulled-left word-break"><span class="has-text-weight-bold span-title">出来事の日付（行事日等）</span><%= l(image.model.event_date, format: :long) %></p>
          <p class="is-pulled-left word-break"><span class="has-text-weight-bold span-title">思い出画像タイトル</span><%= image.model.title %></p>
          <p class="is-pulled-left word-break"><span class="has-text-weight-bold span-title">ご家族へのメッセージ</span><%= image.model.message %></p>
        </section>

        <footer class="modal-card-foot footer-position res-footer">
          <%= link_to delete_image_resident_memories_path(@resident, memory_id: memory_id, column: column),
                      method: :delete, data: { confirm: "トップ画像(#{url})は削除できません。"}, class: "button is-medium delete-btn" do %>
            <span><i class="far fa-trash-alt"></i></span>
          <% end %>

          <% case image.url.split("/")[3] %>
          <% when "image0" %>
            <%= f.hidden_field :image0_cache %> <!--変更なしの際のエラー解消-->
            <%= f.file_field :image0, class: "image_uploading_#{column}_#{memory_id} drop-zone" %>
          <% when "image1" %>
            <%= f.hidden_field :image1_cache %>
            <%= f.file_field :image1, class: "image_uploading_#{column}_#{memory_id} drop-zone" %>
          <% when "image2" %>
            <%= f.hidden_field :image2_cache %>
            <%= f.file_field :image2, class: "image_uploading_#{column}_#{memory_id} drop-zone" %>
          <% when "image3" %>
            <%= f.hidden_field :image3_cache %>
            <%= f.file_field :image3, class: "image_uploading_#{column}_#{memory_id} drop-zone" %>
          <% when "image4" %>
            <%= f.hidden_field :image4_cache %>
            <%= f.file_field :image4, class: "image_uploading_#{column}_#{memory_id} drop-zone" %>
          <% when "image5" %>
            <%= f.hidden_field :image5_cache %>
            <%= f.file_field :image5, class: "image_uploading_#{column}_#{memory_id} drop-zone" %>
          <% when "image6" %>
            <%= f.hidden_field :image6_cache %>
            <%= f.file_field :image6, class: "image_uploading_#{column}_#{memory_id} drop-zone" %>
          <% else %>
            <%= f.hidden_field :image7_cache %>
            <%= f.file_field :image7, class: "image_uploading_#{column}_#{memory_id} drop-zone" %>
          <% end %>

          <%= f.submit "\uf302 画像変更", class: "fa button img-update-btn" %>
        </footer>
      <% end %>
    </div>
  </div>

  <script>
    $(document).ready(function () {
      $("#<%= id_column %>").on("click", function () {
        $("div#<%= column_id %>").addClass("is-active");
      })
      $("#close, div.modal-background").on("click", function () {
        $("div#<%= column_id %>").removeClass("is-active");
      })
    });

    $(function() {
      function readURL(input) {
        if (input.files && input.files[0]) {
          var reader = new FileReader();
          reader.onload = function (e) {
            $("#img_prev_<%= column %>_<%= memory_id %>").attr('src', e.target.result);
          }
          reader.readAsDataURL(input.files[0]);
        }
      }
      $(".image_uploading_<%= column %>_<%= memory_id %>").change(function(){
        readURL(this);
      });
    });
  </script>
<% end %>

<div class="bottom-control">&nbsp;</div>
