<% @memories.each do |m| %>
  <% if m.image0? %>
    <% memory_id = m.image0.url.split("/")[4].to_i %>
    <% column = m.image0.url.split("/")[3] %>
    <% id_column = m.image0.url.split("/")[4] + m.image0.url.split("/")[3] %>
    <% column_id = m.image0.url.split("/")[3] + m.image0.url.split("/")[4] %>
    <% url = m.image0.url.split("/")[5] %>
    <% @memory = @memories.find(memory_id) %>

    <a><%= image_tag m.image0.url, class: "img-interval index-photo-size", id: id_column if m.image0? %></a>

    <!-- 画像00 モーダル表示 -->
    <div class="modal" id="<%= column_id %>">
      <div class="modal-background"></div>
      <div class="modal-card modal-width">
        <header class="modal-card-head modal-title-back">
          <p class="modal-card-title is-half has-text-weight-bold reserve-modal is-size-3 title-color">画像データ詳細</p>
          <button class="delete" aria-label="close" id="close"></button>
        </header>
        <%= form_with(model: @memory, url: resident_memory_path(@resident, @memory), method: :patch, local: true) do |f| %>
          <%= render partial: 'shared/error_messages', locals: { obj: @memory } %>
          <section class="modal-card-body image-position">
            <%= image_tag m.image0.url, id: "img_prev_0_#{memory_id}", class: "img-interval index-photo-size" if m.image0? %>
            <%= f.file_field :image0, class: "image_uploading_0_#{memory_id} modal-input" %>
          </section>
          <section class="modal-card-body content-back">
            <p class="is-pulled-left word-break"><span class="has-text-weight-bold span-title">画像名</span><%= url %></p>
            <p class="is-pulled-left word-break"><span class="has-text-weight-bold span-title">出来事の日付（行事日等）</span><%= l(m.event_date, format: :long) %></p>
            <p class="is-pulled-left word-break"><span class="has-text-weight-bold span-title">思い出画像タイトル</span><%= m.title %></p>
            <p class="is-pulled-left word-break"><span class="has-text-weight-bold span-title">ご家族へのメッセージ</span><%= m.message %></p>
          </section>
          <footer class="modal-card-foot footer-position res-footer">
            <%= link_to delete_image_resident_memories_path(@resident, memory_id: memory_id, column: column),
                        method: :delete, data: { confirm: "画像1(#{url})は削除できません。" }, class: "button is-medium delete-btn" do %>
              <span><i class="far fa-trash-alt"></i></span>
            <% end %>
            <%= f.hidden_field :image0_cache %> <!--変更なしの際のエラー解消-->
            <%= f.file_field :image0, class: "image_uploading_0_#{memory_id} drop-zone" %>
            <%= f.submit "\uf302 画像変更", class: "fa button img-update-btn" %>
          </footer>
        <% end %>
      </div>
    </div>

    <script>
      $(document).ready(function () {
        $("#<%= id_column %>").on("click", function () {
          $("div#<%= column_id %>").addClass("is-active");
        })
        $("#close, div.modal-background").on("click", function () {
          $("div#<%= column_id %>").removeClass("is-active");
        })
      });
    </script>

    <script>
      $(function() {
        function readURL(input) {
          if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
              $("#img_prev_0_<%= memory_id %>").attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
          }
        }
        $(".image_uploading_0_<%= memory_id %>").change(function(){
          readURL(this);
        });
      });
    </script>

  <% end %>

  <% if m.image1? %>
    <% memory_id = m.image1.url.split("/")[4].to_i %>
    <% column = m.image1.url.split("/")[3] %>
    <% id_column = m.image1.url.split("/")[4] + m.image1.url.split("/")[3] %>
    <% column_id = m.image1.url.split("/")[3] + m.image1.url.split("/")[4] %>
    <% url = m.image1.url.split("/")[5] %>
    <% @memory = @memories.find(memory_id) %>

    <a><%= image_tag m.image1.url, class: "img-interval index-photo-size", id: id_column if m.image1? %></a>

    <!-- 画像01 モーダル表示 -->
    <div class="modal" id="<%= column_id %>">
      <div class="modal-background"></div>
      <div class="modal-card modal-width">
        <header class="modal-card-head modal-title-back">
          <p class="modal-card-title is-half has-text-weight-bold reserve-modal is-size-3 title-color">画像データ詳細</p>
          <button class="delete" aria-label="close" id="close"></button>
        </header>
        <%= form_with(model: @memory, url: resident_memory_path(@resident, @memory), method: :patch, local: true) do |f| %>
          <%= render partial: 'shared/error_messages', locals: { obj: @memory } %>
          <section class="modal-card-body image-position">
            <%= image_tag m.image1.url, id: "img_prev_1_#{memory_id}", class: "img-interval index-photo-size" if m.image1? %>
            <%= f.file_field :image1, class: "image_uploading_1_#{memory_id} modal-input" %>
          </section>
          <section class="modal-card-body content-back">
            <p class="is-pulled-left word-break"><span class="has-text-weight-bold span-title">画像名</span><%= url %></p>
            <p class="is-pulled-left word-break"><span class="has-text-weight-bold span-title">出来事の日付（行事日等）</span><%= l(m.event_date, format: :long) %></p>
            <p class="is-pulled-left word-break"><span class="has-text-weight-bold span-title">思い出画像タイトル</span><%= m.title %></p>
            <p class="is-pulled-left word-break"><span class="has-text-weight-bold span-title">ご家族へのメッセージ</span><%= m.message %></p>
          </section>
          <footer class="modal-card-foot footer-position res-footer">
            <%= link_to delete_image_resident_memories_path(@resident, memory_id: memory_id, column: column),
                        method: :delete, data: { confirm: "画像2(#{url})を削除してよろしいですか？。" }, class: "button is-medium delete-btn" do %>
              <span><i class="far fa-trash-alt"></i></span>
            <% end %>
            <!--変更なしの際のエラー解消-->
            <%= f.hidden_field :image1_cache %>
            <%= f.file_field :image1, class: "image_uploading_1_#{memory_id} drop-zone" %>
            <%= f.submit "\uf044 更新", class: "fa button img-update-btn" %>
          </footer>
        <% end %>
      </div>
    </div>

    <script>
      $(document).ready(function () {
        $("#<%= id_column %>").on("click", function () {
          $("div#<%= column_id %>").addClass("is-active");
        })
        $("#close, div.modal-background").on("click", function () {
          $("div#<%= column_id %>").removeClass("is-active");
        })
      });
    </script>

    <script>
      $(function() {
        function readURL(input) {
          if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
              $("#img_prev_1_<%= memory_id %>").attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
          }
        }
        $(".image_uploading_1_<%= memory_id %>").change(function(){
          readURL(this);
        });
      });
    </script>

  <% end %>

  <% if m.image2? %>
    <% memory_id = m.image2.url.split("/")[4].to_i %>
    <% column = m.image2.url.split("/")[3] %>
    <% id_column = m.image2.url.split("/")[4] + m.image2.url.split("/")[3] %>
    <% column_id = m.image2.url.split("/")[3] + m.image2.url.split("/")[4] %>
    <% url = m.image2.url.split("/")[5] %>
    <% @memory = @memories.find(memory_id) %>

    <a><%= image_tag m.image2.url, class: "img-interval index-photo-size", id: id_column if m.image2? %></a>

    <!-- 画像02 モーダル表示 -->
    <div class="modal" id="<%= column_id %>">
      <div class="modal-background"></div>
      <div class="modal-card modal-width">
        <header class="modal-card-head modal-title-back">
          <p class="modal-card-title is-half has-text-weight-bold reserve-modal is-size-3 title-color">画像データ詳細</p>
          <button class="delete" aria-label="close" id="close"></button>
        </header>
        <%= form_with(model: @memory, url: resident_memory_path(@resident, @memory), method: :patch, local: true) do |f| %>
          <%= render partial: 'shared/error_messages', locals: { obj: @memory } %>
          <section class="modal-card-body image-position">
            <%= image_tag m.image2.url, id: "img_prev_2_#{memory_id}", class: "img-interval index-photo-size" if m.image2? %>
            <%= f.file_field :image2, class: "image_uploading_2_#{memory_id} modal-input" %>
          </section>
          <section class="modal-card-body content-back">
            <p class="is-pulled-left word-break"><span class="has-text-weight-bold span-title">画像名</span><%= url %></p>
            <p class="is-pulled-left word-break"><span class="has-text-weight-bold span-title">出来事の日付（行事日等）</span><%= l(m.event_date, format: :long) %></p>
            <p class="is-pulled-left word-break"><span class="has-text-weight-bold span-title">思い出画像タイトル</span><%= m.title %></p>
            <p class="is-pulled-left word-break"><span class="has-text-weight-bold span-title">ご家族へのメッセージ</span><%= m.message %></p>
          </section>
          <footer class="modal-card-foot footer-position res-footer">
            <%= link_to delete_image_resident_memories_path(@resident, memory_id: memory_id, column: column),
                        method: :delete, data: { confirm: "画像3(#{url})を削除してよろしいですか？。" }, class: "button is-medium delete-btn" do %>
              <span><i class="far fa-trash-alt"></i></span>
            <% end %>
            <%= f.hidden_field :image2_cache %> <!--変更なしの際のエラー解消-->
            <%= f.file_field :image2, class: "image_uploading_2_#{memory_id} drop-zone" %>
            <%= f.submit "\uf044 更新", class: "fa button img-update-btn" %>
          </footer>
        <% end %>
      </div>
    </div>

    <script>
      $(document).ready(function () {
        $("#<%= id_column %>").on("click", function () {
          $("div#<%= column_id %>").addClass("is-active");
        })
        $("#close, div.modal-background").on("click", function () {
          $("div#<%= column_id %>").removeClass("is-active");
        })
      });
    </script>

    <script>
      $(function() {
        function readURL(input) {
          if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
              $("#img_prev_2_<%= memory_id %>").attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
          }
        }
        $(".image_uploading_2_<%= memory_id %>").change(function(){
          readURL(this);
        });
      });
    </script>

  <% end %>

  <% if m.image3? %>
    <% memory_id = m.image3.url.split("/")[4].to_i %>
    <% column = m.image3.url.split("/")[3] %>
    <% id_column = m.image3.url.split("/")[4] + m.image3.url.split("/")[3] %>
    <% column_id = m.image3.url.split("/")[3] + m.image3.url.split("/")[4] %>
    <% url = m.image3.url.split("/")[5] %>
    <% @memory = @memories.find(memory_id) %>

    <a><%= image_tag m.image3.url, class: "img-interval index-photo-size", id: id_column if m.image3? %></a>

    <!-- 画像03 モーダル表示 -->
    <div class="modal" id="<%= column_id %>">
      <div class="modal-background"></div>
      <div class="modal-card modal-width">
        <header class="modal-card-head modal-title-back">
          <p class="modal-card-title is-half has-text-weight-bold reserve-modal is-size-3 title-color">画像データ詳細</p>
          <button class="delete" aria-label="close" id="close"></button>
        </header>
        <%= form_with(model: @memory, url: resident_memory_path(@resident, @memory), method: :patch, local: true) do |f| %>
          <%= render partial: 'shared/error_messages', locals: { obj: @memory } %>
          <section class="modal-card-body image-position">
            <%= image_tag m.image3.url, id: "img_prev_3_#{memory_id}", class: "img-interval index-photo-size" if m.image3? %>
            <%= f.file_field :image3, class: "image_uploading_3_#{memory_id} modal-input" %>
          </section>
          <section class="modal-card-body content-back">
            <p class="is-pulled-left word-break"><span class="has-text-weight-bold span-title">画像名</span><%= url %></p>
            <p class="is-pulled-left word-break"><span class="has-text-weight-bold span-title">出来事の日付（行事日等）</span><%= l(m.event_date, format: :long) %></p>
            <p class="is-pulled-left word-break"><span class="has-text-weight-bold span-title">思い出画像タイトル</span><%= m.title %></p>
            <p class="is-pulled-left word-break"><span class="has-text-weight-bold span-title">ご家族へのメッセージ</span><%= m.message %></p>
          </section>
          <footer class="modal-card-foot footer-position res-footer">
            <%= link_to delete_image_resident_memories_path(@resident, memory_id: memory_id, column: column),
                        method: :delete, data: { confirm: "画像4(#{url})を削除してよろしいですか？。" }, class: "button is-medium delete-btn" do %>
              <span><i class="far fa-trash-alt"></i></span>
            <% end %>
            <%= f.hidden_field :image3_cache %> <!--変更なしの際のエラー解消-->
            <%= f.file_field :image3, class: "image_uploading_3_#{memory_id} drop-zone" %>
            <%= f.submit "\uf044 更新", class: "fa button img-update-btn" %>
          </footer>
        <% end %>
      </div>
    </div>

    <script>
      $(document).ready(function () {
        $("#<%= id_column %>").on("click", function () {
          $("div#<%= column_id %>").addClass("is-active");
        })
        $("#close, div.modal-background").on("click", function () {
          $("div#<%= column_id %>").removeClass("is-active");
        })
      });
    </script>

    <script>
      $(function() {
        function readURL(input) {
          if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
              $("#img_prev_3_<%= memory_id %>").attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
          }
        }
        $(".image_uploading_3_<%= memory_id %>").change(function(){
          readURL(this);
        });
      });
    </script>

  <% end %>

  <% if m.image4? %>
    <% memory_id = m.image4.url.split("/")[4].to_i %>
    <% column = m.image4.url.split("/")[3] %>
    <% id_column = m.image4.url.split("/")[4] + m.image4.url.split("/")[3] %>
    <% column_id = m.image4.url.split("/")[3] + m.image4.url.split("/")[4] %>
    <% url = m.image4.url.split("/")[5] %>
    <% @memory = @memories.find(memory_id) %>

    <a><%= image_tag m.image4.url, class: "img-interval index-photo-size", id: id_column if m.image4? %></a>

    <!-- 画像04 モーダル表示 -->
    <div class="modal" id="<%= column_id %>">
      <div class="modal-background"></div>
      <div class="modal-card modal-width">
        <header class="modal-card-head modal-title-back">
          <p class="modal-card-title is-half has-text-weight-bold reserve-modal is-size-3 title-color">画像データ詳細</p>
          <button class="delete" aria-label="close" id="close"></button>
        </header>
        <%= form_with(model: @memory, url: resident_memory_path(@resident, @memory), method: :patch, local: true) do |f| %>
          <%= render partial: 'shared/error_messages', locals: { obj: @memory } %>
          <section class="modal-card-body image-position">
            <%= image_tag m.image4.url, id: "img_prev_4_#{memory_id}", class: "img-interval index-photo-size" if m.image4? %>
            <%= f.file_field :image4, class: "image_uploading_4_#{memory_id} modal-input" %>
          </section>
          <section class="modal-card-body content-back">
            <p class="is-pulled-left word-break"><span class="has-text-weight-bold span-title">画像名</span><%= url %></p>
            <p class="is-pulled-left word-break"><span class="has-text-weight-bold span-title">出来事の日付（行事日等）</span><%= l(m.event_date, format: :long) %></p>
            <p class="is-pulled-left word-break"><span class="has-text-weight-bold span-title">思い出画像タイトル</span><%= m.title %></p>
            <p class="is-pulled-left word-break"><span class="has-text-weight-bold span-title">ご家族へのメッセージ</span><%= m.message %></p>
          </section>
          <footer class="modal-card-foot footer-position res-footer">
            <%= link_to delete_image_resident_memories_path(@resident, memory_id: memory_id, column: column),
                        method: :delete, data: { confirm: "画像5(#{url})を削除してよろしいですか？。" }, class: "button is-medium delete-btn" do %>
              <span><i class="far fa-trash-alt"></i></span>
            <% end %>
            <%= f.hidden_field :image4_cache %> <!--変更なしの際のエラー解消-->
            <%= f.file_field :image4, class: "image_uploading_4_#{memory_id} drop-zone" %>
            <%= f.submit "\uf044 更新", class: "fa button img-update-btn" %>
          </footer>
        <% end %>
      </div>
    </div>

    <script>
      $(document).ready(function () {
        $("#<%= id_column %>").on("click", function () {
          $("div#<%= column_id %>").addClass("is-active");
        })
        $("#close, div.modal-background").on("click", function () {
          $("div#<%= column_id %>").removeClass("is-active");
        })
      });
    </script>

    <script>
      $(function() {
        function readURL(input) {
          if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
              $("#img_prev_4_<%= memory_id %>").attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
          }
        }
        $(".image_uploading_4_<%= memory_id %>").change(function(){
          readURL(this);
        });
      });
    </script>

  <% end %>

  <% if m.image5? %>
    <% memory_id = m.image5.url.split("/")[4].to_i %>
    <% column = m.image5.url.split("/")[3] %>
    <% id_column = m.image5.url.split("/")[4] + m.image5.url.split("/")[3] %>
    <% column_id = m.image5.url.split("/")[3] + m.image5.url.split("/")[4] %>
    <% url = m.image5.url.split("/")[5] %>
    <% @memory = @memories.find(memory_id) %>

    <a><%= image_tag m.image5.url, class: "img-interval index-photo-size", id: id_column if m.image5? %></a>

    <!-- 画像05 モーダル表示 -->
    <div class="modal" id="<%= column_id %>">
      <div class="modal-background"></div>
      <div class="modal-card modal-width">
        <header class="modal-card-head modal-title-back">
          <p class="modal-card-title is-half has-text-weight-bold reserve-modal is-size-3 title-color">画像データ詳細</p>
          <button class="delete" aria-label="close" id="close"></button>
        </header>
        <%= form_with(model: @memory, url: resident_memory_path(@resident, @memory), method: :patch, local: true) do |f| %>
          <%= render partial: 'shared/error_messages', locals: { obj: @memory } %>
          <section class="modal-card-body image-position">
            <%= image_tag m.image5.url, id: "img_prev_5_#{memory_id}", class: "img-interval index-photo-size" if m.image5? %>
            <%= f.file_field :image5, class: "image_uploading_5_#{memory_id} modal-input" %>
          </section>
          <section class="modal-card-body content-back">
            <p class="is-pulled-left word-break"><span class="has-text-weight-bold span-title">画像名</span><%= url %></p>
            <p class="is-pulled-left word-break"><span class="has-text-weight-bold span-title">出来事の日付（行事日等）</span><%= l(m.event_date, format: :long) %></p>
            <p class="is-pulled-left word-break"><span class="has-text-weight-bold span-title">思い出画像タイトル</span><%= m.title %></p>
            <p class="is-pulled-left word-break"><span class="has-text-weight-bold span-title">ご家族へのメッセージ</span><%= m.message %></p>
          </section>
          <footer class="modal-card-foot footer-position res-footer">
            <%= link_to delete_image_resident_memories_path(@resident, memory_id: memory_id, column: column),
                        method: :delete, data: { confirm: "画像6(#{url})を削除してよろしいですか？。" }, class: "button is-medium delete-btn" do %>
              <span><i class="far fa-trash-alt"></i></span>
            <% end %>
            <%= f.hidden_field :image5_cache %> <!--変更なしの際のエラー解消-->
            <%= f.file_field :image5, class: "image_uploading_5_#{memory_id} drop-zone" %>
            <%= f.submit "\uf044 更新", class: "fa button img-update-btn" %>
          </footer>
        <% end %>
      </div>
    </div>

    <script>
      $(document).ready(function () {
        $("#<%= id_column %>").on("click", function () {
          $("div#<%= column_id %>").addClass("is-active");
        })
        $("#close, div.modal-background").on("click", function () {
          $("div#<%= column_id %>").removeClass("is-active");
        })
      });
    </script>

    <script>
      $(function() {
        function readURL(input) {
          if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
              $("#img_prev_5_<%= memory_id %>").attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
          }
        }
        $(".image_uploading_5_<%= memory_id %>").change(function(){
          readURL(this);
        });
      });
    </script>

  <% end %>

  <% if m.image6? %>
    <% memory_id = m.image6.url.split("/")[4].to_i %>
    <% column = m.image6.url.split("/")[3] %>
    <% id_column = m.image6.url.split("/")[4] + m.image6.url.split("/")[3] %>
    <% column_id = m.image6.url.split("/")[3] + m.image6.url.split("/")[4] %>
    <% url = m.image6.url.split("/")[5] %>
    <% @memory = @memories.find(memory_id) %>

    <a><%= image_tag m.image6.url, class: "img-interval index-photo-size", id: id_column if m.image6? %></a>

    <!-- 画像06 モーダル表示 -->
    <div class="modal" id="<%= column_id %>">
      <div class="modal-background"></div>
      <div class="modal-card modal-width">
        <header class="modal-card-head modal-title-back">
          <p class="modal-card-title is-half has-text-weight-bold reserve-modal is-size-3 title-color">画像データ詳細</p>
          <button class="delete" aria-label="close" id="close"></button>
        </header>
        <%= form_with(model: @memory, url: resident_memory_path(@resident, @memory), method: :patch, local: true) do |f| %>
          <%= render partial: 'shared/error_messages', locals: { obj: @memory } %>
          <section class="modal-card-body image-position">
            <%= image_tag m.image6.url, id: "img_prev_6_#{memory_id}", class: "img-interval index-photo-size" if m.image6? %>
            <%= f.file_field :image6, class: "image_uploading_6_#{memory_id} modal-input" %>
          </section>
          <section class="modal-card-body content-back">
            <p class="is-pulled-left word-break"><span class="has-text-weight-bold span-title">画像名</span><%= url %></p>
            <p class="is-pulled-left word-break"><span class="has-text-weight-bold span-title">出来事の日付（行事日等）</span><%= l(m.event_date, format: :long) %></p>
            <p class="is-pulled-left word-break"><span class="has-text-weight-bold span-title">思い出画像タイトル</span><%= m.title %></p>
            <p class="is-pulled-left word-break"><span class="has-text-weight-bold span-title">ご家族へのメッセージ</span><%= m.message %></p>
          </section>
          <footer class="modal-card-foot footer-position res-footer">
            <%= link_to delete_image_resident_memories_path(@resident, memory_id: memory_id, column: column),
                        method: :delete, data: { confirm: "画像7(#{url})を削除してよろしいですか？。" }, class: "button is-medium delete-btn" do %>
              <span><i class="far fa-trash-alt"></i></span>
            <% end %>
            <%= f.hidden_field :image6_cache %> <!--変更なしの際のエラー解消-->
            <%= f.file_field :image6, class: "image_uploading_6_#{memory_id} drop-zone" %>
            <%= f.submit "\uf044 更新", class: "fa button img-update-btn" %>
          </footer>
        <% end %>
      </div>
    </div>

    <script>
      $(document).ready(function () {
        $("#<%= id_column %>").on("click", function () {
          $("div#<%= column_id %>").addClass("is-active");
        })
        $("#close, div.modal-background").on("click", function () {
          $("div#<%= column_id %>").removeClass("is-active");
        })
      });
    </script>

    <script>
      $(function() {
        function readURL(input) {
          if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
              $("#img_prev_6_<%= memory_id %>").attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
          }
        }
        $(".image_uploading_6_<%= memory_id %>").change(function(){
          readURL(this);
        });
      });
    </script>

  <% end %>

  <% if m.image7? %>
    <% memory_id = m.image7.url.split("/")[4].to_i %>
    <% column = m.image7.url.split("/")[3] %>
    <% id_column = m.image7.url.split("/")[4] + m.image7.url.split("/")[3] %>
    <% column_id = m.image7.url.split("/")[3] + m.image7.url.split("/")[4] %>
    <% url = m.image7.url.split("/")[5] %>
    <% @memory = @memories.find(memory_id) %>

    <a><%= image_tag m.image7.url, class: "img-interval index-photo-size", id: id_column if m.image7? %></a>

    <!-- 画像07 モーダル表示 -->
    <div class="modal" id="<%= column_id %>">
      <div class="modal-background"></div>
      <div class="modal-card modal-width">
        <header class="modal-card-head modal-title-back">
          <p class="modal-card-title is-half has-text-weight-bold reserve-modal is-size-3 title-color">画像データ詳細</p>
          <button class="delete" aria-label="close" id="close"></button>
        </header>
        <%= form_with(model: @memory, url: resident_memory_path(@resident, @memory), method: :patch, local: true) do |f| %>
          <%= render partial: 'shared/error_messages', locals: { obj: @memory } %>
          <section class="modal-card-body image-position">
            <%= image_tag m.image7.url, id: "img_prev_7_#{memory_id}", class: "img-interval index-photo-size" if m.image7? %>
            <%= f.file_field :image7, class: "image_uploading_7_#{memory_id} modal-input" %>
          </section>
          <section class="modal-card-body content-back">
            <p class="is-pulled-left word-break"><span class="has-text-weight-bold span-title">画像名</span><%= url %></p>
            <p class="is-pulled-left word-break"><span class="has-text-weight-bold span-title">出来事の日付（行事日等）</span><%= l(m.event_date, format: :long) %></p>
            <p class="is-pulled-left word-break"><span class="has-text-weight-bold span-title">思い出画像タイトル</span><%= m.title %></p>
            <p class="is-pulled-left word-break"><span class="has-text-weight-bold span-title">ご家族へのメッセージ</span><%= m.message %></p>
          </section>
          <footer class="modal-card-foot footer-position res-footer">
            <%= link_to delete_image_resident_memories_path(@resident, memory_id: memory_id, column: column),
                        method: :delete, data: { confirm: "画像8(#{url})を削除してよろしいですか？。" }, class: "button is-medium delete-btn" do %>
              <span><i class="far fa-trash-alt"></i></span>
            <% end %>
            <%= f.hidden_field :image7_cache %> <!--変更なしの際のエラー解消-->
            <%= f.file_field :image7, class: "image_uploading_7_#{memory_id} drop-zone" %>
            <%= f.submit "\uf044 更新", class: "fa button img-update-btn" %>
          </footer>
        <% end %>
      </div>
    </div>

    <script>
      $(document).ready(function () {
        $("#<%= id_column %>").on("click", function () {
          $("div#<%= column_id %>").addClass("is-active");
        })
        $("#close, div.modal-background").on("click", function () {
          $("div#<%= column_id %>").removeClass("is-active");
        })
      });
    </script>

    <script>
      $(function() {
        function readURL(input) {
          if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
              $("#img_prev_7_<%= memory_id %>").attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
          }
        }
        $(".image_uploading_7_<%= memory_id %>").change(function(){
          readURL(this);
        });
      });
    </script>

  <% end %>
<% end %>
<div class="bottom-control">&nbsp;</div>
