<% @memories.each do |m| %>
  <div class="card-float card-inline-block">
    <section class="photo-card card-inline-block">
      <%= image_tag m.image0.url, class: "card-photo-size" if m.image0.present? %>
      <div class="photo-card-content">
        <p class="photo-card-title"><%= m.title %></p>
        <p class="photo-card-text"><%= m.message %></p>
      </div>
      <div class="photo-card-link">
        <%= link_to resident_memory_path(@resident, m), class:"folder" do %>
          <i class="fas fa-folder-open fa-3x"></i>
        <% end %>
        <p class= photo-card-text">行事日: <%= l(m.event_date, format: :long) %></p>
      </div>
    </section>
  </div>
<% end %>