<%= form_with(model: @memory, url: resident_memories_path(@resident), method: :post, local: true) do |f| %>
  <%= render partial: 'shared/error_messages', locals: { obj: @memory } %>

  <!--image0-->
  <div class="card memory-card-position">
    <div class="card-image">
      <% if @memory.image0.present? %>
        <%= image_tag @memory.image0.url, id: "img_prev_0", class: "photo-size" %>
      <% else %>
        <%= image_tag "https://img-photo.s3-ap-northeast-1.amazonaws.com/uploads/content_image/NO_IMAGE.png", id: "img_prev_0", class: "photo-size" %>
      <% end %>
    </div>
    <div class="card-content card-drop-area">
      <div class="blank-area"></div>
      <div class="content">
        <%= f.file_field :image0, class: "image_uploading_0 drop-area-mandatory" %>
        <% if @memory.image0.present? %>
          <%= f.hidden_field :image0_cache %>
        <% end %>
      </div>
    </div>
  </div>

  <!--image1-->
  <div class="card memory-card-position">
    <div class="card-image">
      <% if @memory.image1.present? %>
        <%= image_tag @memory.image1.url, id: "img_prev_1", class: "photo-size" %>
      <% else %>
        <%= image_tag "https://img-photo.s3-ap-northeast-1.amazonaws.com/uploads/content_image/NO_IMAGE.png", id: "img_prev_1", class: "photo-size" %>
      <% end %>
    </div>
    <div class="card-content card-drop-area">
      <%= f.check_box :remove_image1, id: "img1_delete" %>
      <label for="img1_delete" class="check_position is-pulled-left">
        <p class="img-delete-label">上記画像を投稿しない</p>
      </label>
      <div class="content">
        <%= f.file_field :image1, class: "image_uploading_1 drop-area" %>
        <% if @memory.image1.present? %>
          <%= f.hidden_field :image1_cache %>
        <% end %>
      </div>
    </div>
  </div>

  <!--image2-->
  <div class="card memory-card-position">
    <div class="card-image">
      <% if @memory.image2.present? %>
        <%= image_tag @memory.image2.url, id: "img_prev_2", class: "photo-size" %>
      <% else %>
        <%= image_tag "https://img-photo.s3-ap-northeast-1.amazonaws.com/uploads/content_image/NO_IMAGE.png", id: "img_prev_2", class: "photo-size" %>
      <% end %>
    </div>
    <div class="card-content card-drop-area">
      <%= f.check_box :remove_image2, id: "img2_delete" %>
      <label for="img2_delete" class="check_position is-pulled-left">
        <p class="img-delete-label">上記画像を投稿しない</p>
      </label>
      <div class="content">
        <%= f.file_field :image2, class: "image_uploading_2 drop-area" %>
        <% if @memory.image2.present? %>
          <%= f.hidden_field :image2_cache %>
        <% end %>
      </div>
    </div>
  </div>

  <!--image3-->
  <div class="card memory-card-position">
    <div class="card-image">
      <% if @memory.image3.present? %>
        <%= image_tag @memory.image3.url, id: "img_prev_3", class: "photo-size" %>
      <% else %>
        <%= image_tag "https://img-photo.s3-ap-northeast-1.amazonaws.com/uploads/content_image/NO_IMAGE.png", id: "img_prev_3", class: "photo-size" %>
      <% end %>
    </div>
    <div class="card-content card-drop-area">
      <%= f.check_box :remove_image3, id: "img3_delete" %>
      <label for="img3_delete" class="check_position is-pulled-left">
        <p class="img-delete-label">上記画像を投稿しない</p>
      </label>
      <div class="content">
        <%= f.file_field :image3, class: "image_uploading_3 drop-area" %>
        <% if @memory.image3.present? %>
          <%= f.hidden_field :image3_cache %>
        <% end %>
      </div>
    </div>
  </div>

  <!--image4-->
  <div class="card memory-card-position">
    <div class="card-image">
      <% if @memory.image4.present? %>
        <%= image_tag @memory.image4.url, id: "img_prev_4", class: "photo-size" %>
      <% else %>
        <%= image_tag "https://img-photo.s3-ap-northeast-1.amazonaws.com/uploads/content_image/NO_IMAGE.png", id: "img_prev_4", class: "photo-size" %>
      <% end %>
    </div>
    <div class="card-content card-drop-area">
      <%= f.check_box :remove_image4, id: "img4_delete" %>
      <label for="img4_delete" class="check_position is-pulled-left">
        <p class="img-delete-label">上記画像を投稿しない</p>
      </label>
      <div class="content">
        <%= f.file_field :image4, class: "image_uploading_4 drop-area" %>
        <% if @memory.image4.present? %>
          <%= f.hidden_field :image4_cache %>
        <% end %>
      </div>
    </div>
  </div>

  <!--image5-->
  <div class="card memory-card-position">
    <div class="card-image">
      <% if @memory.image5.present? %>
        <%= image_tag @memory.image5.url, id: "img_prev_5", class: "photo-size" %>
      <% else %>
        <%= image_tag "https://img-photo.s3-ap-northeast-1.amazonaws.com/uploads/content_image/NO_IMAGE.png", id: "img_prev_5", class: "photo-size" %>
      <% end %>
    </div>
    <div class="card-content card-drop-area">
      <%= f.check_box :remove_image5, id: "img5_delete" %>
      <label for="img5_delete" class="check_position is-pulled-left">
        <p class="img-delete-label">上記画像を投稿しない</p>
      </label>
      <div class="content">
        <%= f.file_field :image5, class: "image_uploading_5 drop-area" %>
        <% if @memory.image5.present? %>
          <%= f.hidden_field :"image5_cache" %>
        <% end %>
      </div>
    </div>
  </div>

  <!--image6-->
  <div class="card memory-card-position">
    <div class="card-image">
      <% if @memory.image6.present? %>
        <%= image_tag @memory.image6.url, id: "img_prev_6", class: "photo-size" %>
      <% else %>
        <%= image_tag "https://img-photo.s3-ap-northeast-1.amazonaws.com/uploads/content_image/NO_IMAGE.png", id: "img_prev_6", class: "photo-size" %>
      <% end %>
    </div>
    <div class="card-content card-drop-area">
      <%= f.check_box :remove_image6, id: "img6_delete" %>
      <label for="img6_delete" class="check_position is-pulled-left">
        <p class="img-delete-label">上記画像を投稿しない</p>
      </label>
      <div class="content">
        <%= f.file_field :image6, class: "image_uploading_6 drop-area" %>
        <% if @memory.image6.present? %>
          <%= f.hidden_field :"image6_cache" %>
        <% end %>
      </div>
    </div>
  </div>

  <!--image7-->
  <div class="card memory-card-position">
    <div class="card-image">
      <% if @memory.image7.present? %>
        <%= image_tag @memory.image7.url, id: "img_prev_7", class: "photo-size" %>
      <% else %>
        <%= image_tag "https://img-photo.s3-ap-northeast-1.amazonaws.com/uploads/content_image/NO_IMAGE.png", id: "img_prev_7", class: "photo-size" %>
      <% end %>
    </div>
    <div class="card-content card-drop-area">
      <%= f.check_box :remove_image7, id: "img7_delete" %>
      <label for="img7_delete" class="check_position is-pulled-left">
        <p class="img-delete-label">上記画像を投稿しない</p>
      </label>
      <div class="content">
        <%= f.file_field :image7, class: "image_uploading_7 drop-area" %>
        <% if @memory.image7.present? %>
          <%= f.hidden_field :"image7_cache" %>
        <% end %>
      </div>
    </div>
  </div>

  <label class="media-left has-text-weight-bold">
    <h1 class="memory-title-mini">出来事の日付（行事日等）</h1>
  </label>
  <div class="media-content">
    <div class="content memory-label">
      <%= f.date_field :event_date, class: "fa input" %>
    </div>
  </div>
  <label class="media-left has-text-weight-bold">
    <h1 class="memory-title-mini">思い出画像タイトル</h1>
  </label>
  <div class="media-content">
    <div class="content memory-label">
      <%= f.text_field :title, :placeholder => "\uf303 タイトルを入力してください", class: "fa input" %>
    </div>
  </div>
  <label class="media-left has-text-weight-bold">
    <h1 class="memory-title-mini">ご家族へのメッセージ</h1>
  </label>
  <div class="media-content">
    <div class="content memory-label">
      <%= f.text_area :message, :placeholder => "\uf303 メッセージを入力してください", class: "fa input message-input" %>
    </div>
  </div>
  <%= f.submit "思い出アルバムを新規投稿する", class: "message-btn" %>
<% end %>

<script>
  for ( let i=0; i<8; i++ ){
    $(function() {
      function readURL(input) {
        if (input.files && input.files[0]) {
          var reader = new FileReader();
          reader.onload = function (e) {
            $(`#img_prev_${i}`).attr('src', e.target.result);
          }
          reader.readAsDataURL(input.files[0]);
        }
      }
      $(`.image_uploading_${i}`).change(function(){
          readURL(this);
      });
    });
  }
</script>
