<nav class="panel" id="memory-panel-style">
  <div class="notification">
    <div class="content has-text-centered">
      <div class="columns is-centered">
        <div class="column is-12 is-centered">
          <h1 class="memory-title">思い出アルバムの編集ができます。</h1>
          <small class="is-pulled-right">現在時刻 <%= l(Time.zone.now, format: :short) %></small>
          <h1 class="memory-title-mini">思い出アルバムの画像選定/編集</h1>
          <p class="has-text-left">ここから思い出アルバムに使用する画像を最大８枚まで選定/編集できます。</p>
          <%= form_with(model: @memory, url: resident_memory_path(@resident), method: :patch, local: true) do |f| %>
            <%= render partial: 'shared/error_messages', locals: { obj: @memory } %>
            <% num = 0  %>
            <% while num < 8 %>
              <div class="card memory-card-position">
                <div class="card-image">
                  <% if @memory.images[num].present? %>
                    <%= image_tag @memory.images[num].url, id: :"img_prev_#{num}", class: "photo-size" %>
                  <% else %>
                    <%= image_tag "https://img-photo.s3-ap-northeast-1.amazonaws.com/uploads/content_image/NO_IMAGE.png", id: :"img_prev_#{num}", class: "photo-size" %>
                  <% end %>
                </div>
                <div class="card-content card-drop-area">
                  <div class="content">
                    <%#= f.label :images, "\uf574", class: "fa image_input_comment" %>
                    <%= f.file_field :images, multiple: true, value: "upload", class: "image_uploading_#{num} drop-area" %>

                    <% if @memory.images[num].present? %>
                      <%= f.hidden_field :images, multiple: true, value: @memory.images[num].identifier %>
                    <% end %>
                  </div>
                </div>
              </div>
              <% num += 1 %>
            <% end %>

            <%= f.check_box :remove_images, id: "img_delete" %>

            <label class="media-left has-text-weight-bold">
              <h1 class="memory-title-mini">出来事の日付（行事日等）</h1>
            </label>
            <div class="media-content">
              <div class="content memory-label">
                <%= f.date_field :event_date, class: "fa input" %>
              </div>
            </div>
            <label class="media-left has-text-weight-bold">
              <h1 class="memory-title-mini">思い出画像タイトル</h1>
            </label>
            <div class="media-content">
              <div class="content memory-label">
                <%= f.text_field :title, :placeholder => "\uf303 タイトルを入力してください", class: "fa input" %>
              </div>
            </div>
            <label class="media-left has-text-weight-bold">
              <h1 class="memory-title-mini">ご家族へのメッセージ</h1>
            </label>
            <div class="media-content">
              <div class="content memory-label">
                <%= f.text_area :message, :placeholder => "\uf303 メッセージを入力してください", class: "fa input message-input" %>
              </div>
            </div>
            <%= f.submit "思い出アルバムを編集する", class: "message-btn" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</nav>

<script>
  for ( let i=0; i<8; i++ ){
    $(function() {
      function readURL(input) {
        if (input.files && input.files[0]) {
          var reader = new FileReader();
          reader.onload = function (e) {
            $(`#img_prev_${i}`).attr('src', e.target.result);
          }
          reader.readAsDataURL(input.files[0]);
        }
      }
      $(`.image_uploading_${i}`).change(function(){
          readURL(this);
      });
    });
  }
</script>
