<div class="glovalNavigation">
  <h1 class="has-text-weight-bold"><%= @resident.name %>さんの思い出アルバム</h1>
</div>

<div class="main-index photo-scroll">
  <div id="insert-photo">
    <%= link_to new_resident_memory_path(@resident), class: "button is-link is-pulled-right" do %>
      <i class="fas fa-images has-text-weight-bold">&ensp;新しい写真を投稿</i>
    <% end %>
  </div>
  <div class="content">

    <div class="cp_tab">
      <input type="radio" name="cp_tab" id="tab1_1" aria-controls="first_tab01" checked>
      <label for="tab1_1">全ての写真</label>
      <input type="radio" name="cp_tab" id="tab1_2" aria-controls="second_tab01">
      <label for="tab1_2">行事ごとの写真</label>

      <div class="cp_tabpanels">
        <div id="first_tab01" class="cp_tabpanel">
          <!--全てのの写真-->
          <% @memories.each do |m| %>
            <% if m.image0? %>
              <% memory_id = m.image0.url.split("/")[4]  %>
              <% column = m.image0.url.split("/")[3]  %>
              <%= link_to solo_image_resident_memories_path(@resident, memory_id: memory_id, column: column) do %>
                <%= m.image00 %>
              <% end %>
            <% end %>



            <%#= m.image01 %>
            <%#= m.image02 %>
            <%#= m.image03 %>
            <%#= m.image04 %>
            <%#= m.image05 %>
            <%#= m.image06 %>
            <%#= m.image07 %>
          <% end %>
        </div>
        <div id="second_tab01" class="cp_tabpanel">
          <% @memories.each do |m| %>

            <div class="card-float card-inline-block">
              <section class="photo-card card-inline-block">
                <%= m.card_image %>
                <div class="photo-card-content">
                  <p class="photo-card-title"><%= m.title %></p>
                  <p class="photo-card-text"><%= m.message %></p>
                </div>
                <div class="photo-card-link">
                  <%= link_to resident_memory_path(@resident, m), class:"folder" do %>
                    <i class="fas fa-folder-open fa-3x"></i>
                  <% end %>
                  <p class= photo-card-text">行事日: <%= l(m.event_date, format: :long) %></p>
                </div>
              </section>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

