<div class="glovalNavigation">
  <h1 class="has-text-weight-bold"><%= @resident.name %>さんの思い出アルバム</h1>
</div>

<div class="main-index photo-scroll">
  <div id="insert-photo">
    <%= link_to new_resident_memory_path( @resident), class:"button is-link is-pulled-right" do %>
      <i class="fas fa-images has-text-weight-bold">&ensp;新しい写真を投稿</i>
    <% end %>
  </div>

  <div class="content">
    <ul class="tab4">
      <li class="tab4__item"><span class="tab4__link on" data-tab-body="1">全ての写真</span></li>
      <li class="tab4__item"><span class="tab4__link" data-tab-body="2">行事ごとの写真</span></li>
    </ul>
    <div class="tab4-body">
      <div class="tab4-body__item tab4-body__item--1 on">
        <% num = 0  %>
        <% while num < 8 %>
          <% @memories.each do |m| %>
            <% if m.images? %>
              <%= image_tag m.images[num].url, id: :img_prev, class: "img-interval index-photo-size" if m.images[num].present? %>
            <% end %>
          <% end %>
          <% num += 1 %>
        <% end %>
      </div>

      <div class="tab4-body__item tab4-body__item--2 card-controller">
        <% @memories.each do |m| %>
          <div class="card-float" style="display: inline-block;">
            <section class="photo-card" style="display: inline-block">
              <%= image_tag m.images[0].url, id: :img_prev, class: "card-photo-size" if m.images[0].present? %>
              <div class="photo-card-content">
                <p class="photo-card-title"><%= m.title %></p>
                <p class="photo-card-text"><%= m.message %></p>
              </div>
              <div class="photo-card-link">
                <%= link_to resident_memory_path(@resident, m), class:"folder" do %>
                  <i class="fas fa-folder-open fa-3x"></i>
                <% end %>
                <p class="photo-card-text">行事日: <%= l(m.event_date, format: :long) %></p> <!--行事日入力カラム追加-->
              </div>
            </section>
          </div>
        <% end %>
      </div>

    </div>
  </div>
</div>

<script>
  document.addEventListener("turbolinks:load", function () {
    var $tab__link = $('.tab4__link')
    var $tab_body_item = $('.tab4-body__item')
    $tab__link.on('click', function (e) {
      var target = $(e.currentTarget)
      //タブの表示非表示
      $tab__link.removeClass('on')
      target.addClass('on')
      //タブの中身の表示非表示
      var num = target.data('tab-body')
      $tab_body_item.removeClass('on')
      $('.tab4-body__item--' + num).addClass('on')
    })
  })
</script>
