<h1>思い出写真一覧</h1>


<% @memories.each do |m| %>
  <% if m.images? %>


    <%= image_tag m.images[0].url, id: :img_prev, :size => '200x200' if m.images[0].present? %>
    <%= image_tag m.images[1].url, id: :img_prev, :size => '200x200' if m.images[1].present? %>
    <%= image_tag m.images[2].url, id: :img_prev, :size => '200x200' if m.images[2].present? %>
    <%= image_tag m.images[3].url, id: :img_prev, :size => '200x200' if m.images[3].present? %>
    <%= image_tag m.images[4].url, id: :img_prev, :size => '200x200' if m.images[4].present? %>
    <p>============</p>

  <% end %>

<% end %>