<div class="glovalNavigation">
  <h1 class="has-text-weight-bold"><%= @resident.name %>さんの思い出アルバム</h1>
</div>

<div class="main-show">
  <div class="content">
    <section class="photo-card-show">

      <!--画像部分-->
      <%= @memory.image00_s %>
      <%= @memory.image01_s %>
      <%= @memory.image02_s %>
      <%= @memory.image03_s %>
      <%= @memory.image04_s %>
      <%= @memory.image05_s %>
      <%= @memory.image06_s %>
      <%= @memory.image07_s %>

      <!--タイトル/メッセージ部分-->
      <div class="photo-card-link-show">
        <h4><%= @memory.title %></h4>
        <p><%= @memory.message %></p>
        <p class="photo-card-text-show">行事日: <%= l(@memory.event_date, format: :long) %>（最終投稿日: <%= l(@memory.updated_at, format: :long) %>）</p>
        <%= link_to edit_resident_memory_path(@resident, @memory) do %>
          <button type="button" class="button is-success is-light is-medium"><i class="fas fa-edit"></i></button>
        <% end %>
        <%= link_to resident_memory_path(@resident, @memory), method: :delete,
                    data: { confirm: "削除してよろしいですか？" }, class:"button is-danger is-light is-medium" do %>
          <i class="far fa-trash-alt"></i>
        <% end %>
        <%= link_to resident_memories_path(@resident), class:"button is-link is-light is-medium memories-index-btn" do %>
          <i class="fas fa-images"></i>&nbsp;思い出画像一覧
        <% end %>
      </div>

    </section>
  </div>
</div>
