<div class="glovalNavigation">
  <h1 class="has-text-weight-bold"><%= @memory.resident.name %>さんの思い出カード</h1>
</div>

<div class="main-show">

  <div class="content">
    <section class="photo-card-show">
        <% @memory.r_images.each do |ww| %>
          <%= image_tag ww.url, id: :img_prev, :size => '400x400', class: "img-interval" if @memory.r_images.present? %>
        <% end %>
      <div class="photo-card-link-show">
        <h4><%= @memory.title %></h4>
        <p><%= @memory.message %></p>
        <p class="photo-card-text-show">行事日: <%= l(@memory.event_date, format: :long) %>（最終投稿日: <%= l(@memory.updated_at, format: :long) %>）</p>
        <%= link_to edit_memory_path(@memory) do %>
          <button type="button" class="button is-success is-light is-medium"><i class="fas fa-edit"></i></button>
        <% end %>
        <%= link_to memory_path(@memory, resident_id: @memory.resident), method: :delete,
                    data: { confirm: "削除してよろしいですか？" }, class:"button is-danger is-light is-medium" do %>
          <i class="far fa-trash-alt"></i>
        <% end %>
      </div>
    </section>
  </div>

</div>





