<div class="glovalNavigation">
  <h1 class="has-text-weight-bold"><%= @resident.name %>さんの思い出アルバム</h1>
</div>

<div class="main-show">
  <div class="content">
    <section class="photo-card-show">

      <% num = 0  %>
        <% while num < 8 %>
        <%= image_tag @memory.images[num].url, id: :img_prev, class: "img-interval show-photo-size" if @memory.images[num].present? %>
        <% num += 1 %>
      <% end %>

      <div class="photo-card-link-show">
        <h4><%= @memory.title %></h4>
        <p><%= @memory.message %></p>
        <%#= @memory.images[0].identifier %>
        <p class="photo-card-text-show">行事日: <%= l(@memory.event_date, format: :long) %>（最終投稿日: <%= l(@memory.updated_at, format: :long) %>）</p>
        <%= link_to edit_resident_memory_path(@resident, @memory) do %>
          <button type="button" class="button is-success is-light is-medium"><i class="fas fa-edit"></i></button>
        <% end %>
        <%= link_to resident_memory_path(@resident, @memory), method: :delete,
                    data: { confirm: "削除してよろしいですか？" }, class:"button is-danger is-light is-medium" do %>
          <i class="far fa-trash-alt"></i>
        <% end %>
        <%= link_to resident_memories_path(@resident), class:"button is-link is-light is-medium" do %>
          <i class="fas fa-images"></i>&nbsp;思い出画像一覧
        <% end %>
      </div>

    </section>
  </div>
</div>
