<%= render partial: 'shared/facility_images', locals: { facility: current_facility} %>

  <div class="columns is-variable is-0 is-desktop facility-columns" style="margin-right: 0px; margin-top: -1.1rem;">
      <%= render 'shared/side_link' %>
    <div class="column is-10-desktop is-12-mobile" style="padding: 0px;">
      <div class="index-inquiry-title">
        <div class="hero-body">
          <div class="is-size-3 has-text-white has-text-weight-bold has-text-centered">お問い合わせ履歴</div>
        </div>
      </div>
      <div class="table-container">
        <table class="table is-bordered is-striped inquiry-table">
          <thead>
            <tr class="inquiry-tr is-size-5">
              <th class="inquiry-th">日付</th>
              <th class="inquiry-th">お名前</th>
              <th class="inquiry-th2">連絡先</th>
              <th class="inquiry-th2">内容</th>
            </tr>
          </thead>
          <tbody>
            <% @inquiry.each do |inquiry| %>
              <tr>
                <td class="has-text-centered"><%= l(inquiry.created_at, format: :long) %></td>
                <td><%= inquiry.name %></td>
                <td><%= inquiry.email %></td>
                <td><%= inquiry.message %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
