<div class="is-size-3 has-text-centered inquiry-title">
  <span>施設へお問い合わせ</span>
</div>
<div class="container is-fluid">
  <div class="columns">
    <div class="column is-8-desktop is-offset-2-desktop is-12-mobile is-8-tablet is-offset-2-tablet">
      <span class="inquiry-coment">サービス提供者が連絡を取れるようにする為に、連絡先などを記入してください。</span>

      <%= form_with(model: @inquiry, url: facility_inquiries_path(@facility), method: :post, local: true) do |f| %>
        <%= render partial: 'shared/error_messages', locals: { obj: @inquiry } %>
        <div class="inquiry-label-block"><%= f.label :name, "名前", class: "label inquiry-label" %></div><div class="inquiry-label-require">【必須】</div>
        <%= f.text_field :name, :placeholder => "名前を入力", class: "input is-medium inquiry-input-blank" %>

        <div class="inquiry-label-block"><%= f.label :email, "メールアドレス", class: "label inquiry-label" %></div><div class="inquiry-label-require">【必須】</div>
        <%= f.email_field :email, :placeholder => "メールアドレスを入力", class: "input is-medium" %>

        <div class="inquiry-notice">
          メールアドレスを間違えたり、ご利用のメールサービスに迷惑メールフィルタが設定されていると、
          サービス提供者が連絡を取ることができない可能性がございます。
          お間違いの無いようにご確認ください。
        </div>

        <div class="inquiry-label-block"><%= f.label :message, "お問い合わせ内容", class: "label inquiry-label" %></div><div class="inquiry-label-require">【必須】</div>
        <%= f.text_area :message, :placeholder => "お問い合わせ内容を入力", class: "textarea", rows: "7" %>

        <%= f.hidden_field :facility_id, :value => @facility.id %>

        <div class="inquiry-btn has-text-centered">
          <%= f.submit "送信", class: "button is-medium is-outlined is-success inquiry-submit-btn" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
