<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation" style="background: #efefef; box-shadow: 0 0.46875rem 2.1875rem rgba(4,9,20,0.03), 0 0.9375rem 1.40625rem rgba(4,9,20,0.03), 0 0.25rem 0.53125rem rgba(4,9,20,0.05), 0 0.125rem 0.1875rem rgba(4,9,20,0.03);">
  <div class="navbar-brand" style="background: #efefef;">
    <section class="navbar dark-top" style="background-color: #FFDEAD;">
      <div class="navbar-body" id="title-nav">
        <div class="container">
          <%= link_to root_path, class: "navbar-item" do %>
            <i class="fas fa-photo-video font-awe-video"></i>
            <h1 class="title-header s-2">
              <font color="#DAA520">O</font><font color="#fff">nli</font><font color="#FA8072">n</font><font color="#4682B4">e</font> <font color="#4DADA1">V</font><font color="#fff">isi</font><font color="#DF907C">t</font>
            </h1>
          <% end %>
        </div>
      </div>
    </section>
    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample" style="background-color: #FFDEAD; border-radius: 50%;">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-end">
      <div class="navbar-start has-text-weight-semibold">
        <!--全ユーザー閲覧可能-->
        <% if user_signed_in? || facility_signed_in? %>
          <% if user_signed_in? %>
            <p class="navbar-item">
              <%= link_to "TOP", root_path, class: "links" %>
            </p>
          <% elsif facility_signed_in? %>
            <p class="navbar-item">
              <%= link_to "HOME", facility_home_facility_path(id: current_facility), class: "links" %>
            </p>
          <% end %>
          <p class="navbar-item">
            <%= link_to_unless_current "お問い合わせ", inquiry_system_inquiries_path, class: "links" %>
          </p>
          <% if facility_signed_in? && current_facility.admin? %>
            <!--システム全体管理者のみ閲覧可能-->
            <p class="navbar-item">
              <%= link_to_unless_current "システム利用施設一覧", facilities_path, class: "links" %>
            </p>
          <% end %>
        <% end %>
      </div>

      <% if user_signed_in?  || facility_signed_in? %>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link has-text-weight-bold more">
            <!--ヘッダーのアイコン（ ユーザー ・ 施設 ）-->
            <% if user_signed_in? %>
              <% if current_user.icon? %>
                <%= image_tag current_user.icon.url, class: "header-icon" %>
              <% else %>
                <%= image_tag 'https://img-photo.s3-ap-northeast-1.amazonaws.com/uploads/content_image/user_default.png', class: "header-icon" %>
              <% end %>
            <% elsif facility_signed_in? %>
              <% if current_facility.icon? %>
                <%= image_tag current_facility.icon.url, class: "header-icon" %>
              <% else %>
                <%= image_tag 'https://img-photo.s3-ap-northeast-1.amazonaws.com/uploads/content_image/facility_default.png', class: "header-icon" %>
              <% end %>
            <% end %>
          </a>
          <div class="navbar-dropdown" style="background-color: #efefef;">
            <% if user_signed_in? %>
              <%= link_to "マイページ", user_path(current_user), :style=>"color: #595a5a;", class: "navbar-item has-text-weight-bold is-size-6" %>
            <% end %>
            <% if user_signed_in? %>
              <%= link_to "設定", edit_user_registration_path(resource_name), :style=>"color: #595a5a;", class: "navbar-item has-text-weight-bold is-size-6" %>
            <% elsif facility_signed_in? %>
              <%= link_to "設定", edit_facility_registration_path(anchor: 'top'), class: "navbar-item has-text-weight-bold is-size-6" %>
            <% end %>
            <hr class="navbar-divider">
              <%= link_to "ログアウト", sign_out_path, class: "navbar-item has-text-weight-bold is-size-6" %>
          </div>
        </div>
      <% else %>
        <div class="navbar-item" id="facility-login-nav">
          <div class="buttons">
            <p class="navbar-item has-text-weight-bold is-size-5">
              <font color="#828282">施設ログインはこちらから</font>
            </p>
            <%= link_to facility_session_path, class: "circle_spread_btn" do %>
              <i class="far fa-user-circle fa-2x"></i>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</nav>

<script>
  $(document).ready(function() {
    $(".navbar-burger").click(function() {
      $(".navbar-burger").toggleClass("is-active");
      $(".navbar-menu").toggleClass("is-active");
    });
  });
</script>
