<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation" style="background: #efefef; box-shadow: 0 0.46875rem 2.1875rem rgba(4,9,20,0.03), 0 0.9375rem 1.40625rem rgba(4,9,20,0.03), 0 0.25rem 0.53125rem rgba(4,9,20,0.05), 0 0.125rem 0.1875rem rgba(4,9,20,0.03);">
  <div class="navbar-brand" style="background: #efefef;">
    <section class="navbar dark-top" style="background-color: #FFDEAD;">
      <div class="navbar-body">
        <div class="container">
          <%= link_to root_path, class: "navbar-item" do %>
            <i class="fas fa-photo-video fa-2x font-awe-video"></i>
            <h1 class="is-size-3 s-2" style="font-family: 'Quicksand', sans-serif;">
              <font color="#DAA520">O</font><font color="#fff">nli<font color="#FA8072">n</font></font><font color="#4682B4">e</font> <font color="#4DADA1">V</font><font color="#fff">isi</font><font color="#DF907C">t</font>
            </h1>
          <% end %>
        </div>
      </div>
    </section>
    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample" style="background-color: #FFDEAD; border-radius: 50%; margin-top: 12px;">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-end">
      <div class="navbar-start has-text-weight-semibold">
        <!--全ユーザー閲覧可能-->
        <% if user_signed_in? || facility_signed_in? %>
          <% if facility_signed_in? %>
            <p class="navbar-item">
              <%= link_to facility_home_facility_path(id: current_facility), class: "links" do %>
                <span class="icon">
                  <i class="fas fa-home"></i>
                </span>&nbsp;
              <% end %>
            </p>
          <% else %>
            <p class="navbar-item">
              <%= link_to root_path, class: "links" do %>
                <span class="icon">
                  <i class="fas fa-home"></i>
                </span>&nbsp;
              <% end %>
            </p>
          <% end %>

          <%if facility_signed_in? %>
            <p class="navbar-item">
                <%= link_to_unless_current "利用者一覧", facility_residents_path(facility_id: current_facility), class: "links" %>
            </p>
          <% end %>

          <% if user_signed_in? %>
          <!--家族のみ閲覧可-->
            <p class="navbar-item">
              <%= link_to_unless_current "予約", "#", class: "links" %>
            </p>

            <!--家族のみ閲覧可-->
            <p class="navbar-item">
              <%= link_to_unless_current "ビデオ通話", "#", class: "links" %>
            </p>

          <% elsif facility_signed_in? && current_facility.facility_admin == true %>
            <!--管理者のみ閲覧可能-->
            <p class="navbar-item">
              <%= link_to_unless_current "ご家族一覧", facility_users_path(facility_id: current_facility), class: "links" %>
            </p>

          <!--管理者のみ閲覧可能-->
            <p class="navbar-item">
              <%= link_to_unless_current "予約状況一覧", "#", class: "links" %>
            </p>

            <!--管理者のみ閲覧可能-->
            <p class="navbar-item">
              <%= link_to_unless_current "お知らせ", facility_informations_path(facility_id: current_facility), class: "links" %>
            </p>
          <% end %>

            <!--全ユーザー閲覧可能-->
          <p class="navbar-item">
            <%= link_to_unless_current "お問い合わせ", "#", class: "links" %>
          </p>

          <!--<% if facility_signed_in? && current_facility.admin== false && current_facility.facility_admin == true %>-->
            <!--管理者のみ閲覧可能-->
            <!--<p class="navbar-item">
              <%= link_to_unless_current "お知らせ", facility_informations_path(facility_id: current_facility), class: "links" %>
            </p>
          <% end %>-->

          <% if facility_signed_in? && current_facility.admin? %>
            <!--システム全体管理者のみ閲覧可能-->
            <p class="navbar-item">
              <%= link_to_unless_current "システム利用施設一覧", facilities_path, class: "links" %>
            </p>
          <% end %>
        <% end %>
      </div>

      <% if user_signed_in?  || facility_signed_in? %>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link has-text-weight-bold more">
        <% if facility_signed_in? %>
          <% if current_facility.facility_admin == true %>
            <div class="admin-icon">
              <i class="fas fa-user-circle fa-2x"></i>
            </div>
          <% elsif current_facility.facility_admin == false %>
            <div class="general-icon">
              <i class="fas fa-user-circle fa-2x"></i>
            </div>
          <% end %>
        <% else %>
          <font color="#4DADA1"><i class="fas fa-user-circle fa-2x"></i></font>
        <% end %>
        </a>
        <div class="navbar-dropdown" style="background-color: #efefef;">
          <a class="navbar-item has-text-weight-bold is-size-6">
            <% if user_signed_in? %>
            <%= link_to "マイページ", user_path(current_user), :style=>"color: #595a5a;", class: "navbar-item has-text-weight-bold is-size-6" %>
            <% elsif facility_signed_in? %>
            <%= link_to "マイページ", facility_path(current_facility), :style=>"color: #595a5a;", class: "navbar-item has-text-weight-bold is-size-6" %>
            <% end %>
          </a>
          <a class="navbar-item has-text-weight-bold is-size-6">
            <% if user_signed_in? %>
            <%= link_to "設定", edit_user_registration_path(resource_name), :style=>"color: #595a5a;", class: "navbar-item has-text-weight-bold is-size-6" %>
            <% elsif facility_signed_in? %>
            <%= link_to "設定", edit_facility_registration_path(resource_name), :style=>"color: #595a5a;", class: "navbar-item has-text-weight-bold is-size-6" %>
            <% end %>
          </a>
          <hr class="navbar-divider">
          <%= link_to "ログアウト", sign_out_path, :style=>"color: #595a5a;", class: "navbar-item has-text-weight-bold is-size-6" %>
        </div>
      </div>
      <% else %>
      <div class="navbar-item">
        <div class="buttons">
          <p class="navbar-item has-text-weight-bold is-size-5">
            <font color ="#828282">管理者はこちらから</font>
          </p>
          <%= link_to facility_session_path, class: "circle_spread_btn" do %>
            <i class="far fa-user-circle fa-2x" style="padding-top: 9px;"></i>
          <% end %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</nav>

<script>
  document.addEventListener('DOMContentLoaded', () => {

    // Get all "navbar-burger" elements
    const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

    // Check if there are any navbar burgers
    if ($navbarBurgers.length > 0) {

      // Add a click event on each of them
      $navbarBurgers.forEach(el => {
        el.addEventListener('click', () => {

          // Get the target from the "data-target" attribute
          const target = el.dataset.target;
          const $target = document.getElementById(target);

          // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
          el.classList.toggle('is-active');
          $target.classList.toggle('is-active');

        });
      });
    }

  });
</script>
