<nav class="navbar is-link" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <section class="navbar is-dark" style="padding: 5px;">
      <div class="navbar-body">
        <div class="container">
          <%= link_to root_path, class: "navbar-item" do %>
            <i class="fas fa-photo-video fa-2x fa-border" style="margin-right: 10px; color: paleturquoise;"></i>
            <h1 class="title is-8" style="font-family: Georgia; color: paleturquoise">Online Visit</h1>
          <% end %>
        </div>
      </div>
    </section>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">

    <div class="navbar-end">
      <div class="navbar-start has-text-weight-bold" style="font-size: 20px;">
        <!--全ユーザー閲覧可能-->
        <p class="navbar-item">
          <%= link_to_unless_current "トップ", root_path, class: "links" %>
        </p>

        <!--家族のみ閲覧可-->
        <p class="navbar-item">
          <%= link_to_unless_current "予約", "#", class: "links" %>
        </p>

        <!--家族のみ閲覧可-->
        <p class="navbar-item">
          <%= link_to_unless_current "ビデオ通話", "#", class: "links" %>
        </p>

        <!--adminと職員のみ閲覧可能-->
        <p class="navbar-item">
          <%= link_to_unless_current "予約状況一覧", "#", class: "links" %>
        </p>

        <!--adminと職員のみ閲覧可能-->
        <p class="navbar-item">
          <%= link_to_unless_current "ご家族一覧", users_path, class: "links" %>
        </p>

        <!--adminと職員のみ閲覧可能-->
        <p class="navbar-item">
          <%= link_to_unless_current "入居者一覧", "#", class: "links" %>
        </p>

        <!--全ユーザー閲覧可能-->
        <p class="navbar-item">
          <%= link_to_unless_current "お問い合わせ", "#", class: "links" %>
        </p>

        <!--adminのみ閲覧可能-->
        <p class="navbar-item">
          <%= link_to_unless_current "お知らせ", "#", class: "links" %>
        </p>
      </div>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link has-text-weight-bold" style="color: paleturquoise;">
          More
        </a>
        <div class="navbar-dropdown">
          <a class="navbar-item">
            マイページ
          </a>
          <a class="navbar-item">
            設定
          </a>
          <hr class="navbar-divider">
          <a class="navbar-item">
            ログアウト
          </a>
        </div>
      </div>

      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-primary">
            <strong>新規登録</strong>
          </a>
          <a class="button is-light">
            ログイン
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>

<style>

</style>