<div class="main-content">
  <aside>
    <nav class="">
      <div class="">
        <p class="edit-link">アカウント</p>
        <hr class="edit-hr">
        <a class="panel-tab is-active user-aside-link" onclick="openTab(event,'Web')">アカウント設定</a>
        <a class="panel-tab user-aside-link" onclick="openTab(event,'Aud')">パスワード変更</a>
        <p class="edit-link">施設</phas-text-weight-bold>
        <hr class="edit-hr">
        <a class="panel-tab user-aside-link" onclick="openTab(event,'Faci')">登録施設変更</a>
        <p class="edit-link">入居者</p>
        <hr class="edit-hr">
        <a class="panel-tab user-aside-link" onclick="openTab(event,'Resi')">登録入居者変更</a>
      </div>
    </nav>
  </aside>
  <main>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "users/shared/error_messages", resource: resource %>
    <article class="panel is-success">
      <div id="Web" class="content-tab" >
        <div>
          <table class="table is-fullwidth is-narrow user-edit-table" id="u-edit-table">
            <thead>
              <tr>
                <th><abbr title="Position"></abbr></th>
                <td></td>
              </tr>
            </thead>
            <tfoot>
              <tr>
                <th><abbr title="Position"></abbr></th>
                <td><%= f.submit "更新", class: "button is-success is-fullwidth new-btn has-text-weight-bold edit-tfoot" %>
                </td>
              </tr>
            </tfoot>
            <tbody>
              <tr>
                <th>名前</th>
                <td>山本　太郎</td>
              </tr>
              <tr>
                <th>メールアドレス</th>
                <td><%= f.email_field :email, autocomplete: "email", class: "fa input is-info" %>
                </td>
              </tr>
              <tr>
                <th>電話番号</th>
                <td>080-4990-4484</td>
              </tr>
              <tr clas>
                <th>住所</th>
                <td>千葉県佐倉市００−００</td>
              </tr>
              <tr>
                <th>現在のプロフィール画像</th>
                <td>
                  <div class="user-icon-edits">
                    <%= user_icon_edit(@user) %>
                  </div>
                </td>
              </tr>
              <tr>
                <th>プロフィール画像を変更</th>
                <td>
                  <div class="container">
                    <%= f.file_field :image, value: "upload", class: "user_img", style: "
                      height:150px;
                      width:100%;
                      border-style: dashed;
                      border-width:2px;margin: 20px 0 20px 0;padding:10px;
                      text-align: center;
                      border-radius: 5px;
                      color: #DEDEDE;
                      text-decoration: none;
                      font-size: 15px;" %>
                    <%= f.hidden_field :image_cache %>
                  </div>
                </td>
              </tr>
              <% if @user.persisted? && @user.image? %>
                <tr>
                  <th>画像を削除</th>
                  <td>
                    <div style="margin-top:10px;">
                      <%= f.check_box :remove_image, id: "icon_delete" %>
                      <label for="icon_delete" class="check_position has-text-weight-bold" id="img_lavel">
                      </label>
                    </div>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>

      <div id="Aud" class="content-tab" style="display:none">
        <table class="table is-fullwidth is-narrow user-edit-table" id="u-edit-table">
          <thead>
            <tr>
              <th><abbr title="Position"></abbr></th>
              <td></td>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th><abbr title="Position"></abbr></th>
              <td>
                <%= f.submit "更新", class: "button is-success is-fullwidth new-btn has-text-weight-bold edit-tfoot" %>
              </td>
            </tr>
          </tfoot>
          <tbody>
            <tr>
              <th>パスワード</th>
              <td>
              <%= f.password_field :password, :placeholder => "\uf13e パスワードを入力", autocomplete: "current-password", class: "fa input is-info" %>
              <% if @minimum_password_length %>
                <br />
              <% end %>
              </td>
            </tr>
            <tr>
              <th>パスワード確認</th>
              <td>
              <%= f.password_field :password_confirmation, :placeholder => "\uf13e パスワードの確認", autocomplete: "current-password", class: "fa input is-info" %>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div id="Faci" class="content-tab" style="display:none">
        <p>登録施設変更画面</p>
      </div>
      <div id="Resi" class="content-tab" style="display:none">
        <p>登録入居者変更画面</p>
      </div>
    </article>
    <% end %>
  </main>
</div>

<script>
  function openTab(evt, tabName) {
    var i, x, tablinks;
    x = document.getElementsByClassName("content-tab");
    for (i = 0; i < x.length; i++) {
      x[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("panel-tab");
    for (i = 0; i < x.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" is-active", "");
    }
    document.getElementById(tabName).style.display = "block";
    evt.currentTarget.className += " is-active";
  }
</script>
<script type="text/javascript">
  $(function() {
    function readURL(input) {
        if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function (e) {
    $('#img_prev').attr('src', e.target.result);
        }
        reader.readAsDataURL(input.files[0]);
        }
    }
    $(".user_img").change(function(){
        readURL(this);
    });
  });
</script>
