<body class="image-layout">
  <section class="hero login-hero-size">
    <div class="container">
      <article class="media">
        <div class="media-content">
          <div class="content has-text-centered">
            <div class="login-title">
              <strong class="new-title">ご家族様情報・編集</strong>
            </div>
          </div>
          <div class="button-position">
            <div class="columns is-centered">
              <div class="column is-6 top-btn-position">
                <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
                  <%= render "users/shared/error_messages", resource: resource %>

                  <div class="edit-field">
                    <%= f.label :email, class: "label" %><br />
                    <%= f.email_field :email, :placeholder => "\uf0e0 メールアドレスを入力してください", autofocus: true, autocomplete: "email", class: "fa input is-medium is-info input-top", :size=>"100px" %>
                  </div>

                  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
                  <% end %>

                  <div class="field">
                    <p class="is-size-6">パスワードの変更はこちらから（<span class="under">6文字以上</span>で入力）</p>
                    <%= f.label :password %><br />
                    <%= f.password_field :password, :placeholder => "\uf13e パスワードを入力", autocomplete: "current-password", class: "fa input is-medium is-info input-top" %>
                    <% if @minimum_password_length %>
                      <br />
                    <% end %>
                  </div>

                  <div class="edit-field">
                    <%= f.label :password_confirmation %><br />
                    <%= f.password_field :password_confirmation, :placeholder => "\uf13e パスワードの確認", autocomplete: "current-password", class: "fa input is-medium is-info input-top" %>
                  </div>

                  <div class="actions">
                    <%= f.submit "更新", class: "button is-success is-medium is-fullwidth new-btn has-text-weight-bold" %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </article>
    </div>
  </section>
</body>
