<body class="image-layout">
  <section class="hero is-primary hero-size" >
    <div class="container">
      <article class="media">
        <div class="media-content">
          <div class="content has-text-centered">
            <div class="signup-title">
              <strong class="new-title">新規登録</strong>
            </div>            
          </div>
            <div class="button-position">
              <div class="columns is-centered">
                <div class="column is-6 top-btn-position">
                <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                  <%= render "users/shared/error_messages", resource: resource %>
                
                  <div class="field">
                    <%= f.label :name, "あなたのお名前", class: "label" %><br />
                    <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "input is-medium input-top", :size=>"100px" %>
                  </div>
                  
                  <div class="field">
                    <%= f.label :email, class: "label" %><br />
                    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input is-medium input-top" %>
                  </div>
                
                  <div class="field">
                    <%= f.label :password, class: "label" %><br />
                    <%= f.password_field :password, autocomplete: "new-password", class: "input is-medium input-top" %>
                  </div>
                
                  <div class="field">
                    <%= f.label :password_confirmation, "パスワード再確認", class: "label" %><br />
                    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "input is-medium input-top" %>
                  </div>
                
                  <div class="actions">
                    <%= f.submit "新規登録", class: "button is-info is-medium is-fullwidth new-btn" %>
                  </div>
                <% end %>
                
                </div>
              </div>
            </div>
        </div>
      </article>
      <div class="columns is-centered">
        <div class="column">
        </div>
      </div>
    </div>
  </section>
</body>


<<<<<<< HEAD
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
=======
  <div class="field">
    <%= f.label :name %><br/>
    <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
  </div>
  
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>
>>>>>>> ecd45e7de24372928a473d4a3ceb028dce72fb28

<script>
    $(document).ready(function() {
        $("#open").on("click", function() {
            $("div.modal").addClass("is-active");
        })

        $("#close, div.modal-background").on("click", function() {
            $("div.modal").removeClass("is-active");
        })
    });
</script>

