<body class="image-layout">
  <section class="hero login-hero-size" >
    <div class="container">
      <article class="media">
        <div class="media-content">
          <div class="content has-text-centered">
            <div class="signup-title">
              <strong class="new-title">新規登録</strong>
            </div>
          </div>
            <div class="button-position">
              <div class="columns is-centered">
                <div class="column is-6 top-btn-position">
                <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                  <%= render "users/shared/error_messages", resource: resource %>

                  <div class="field">
                    <%= f.label :name, "あなたのお名前", class: "label" %><br />
                    <%= f.text_field :name, :placeholder => "\uf304 お名前を入力してください", autofocus: true, autocomplete: "name", class: "fa input is-medium input-top", :size=>"100px" %>
                  </div>

                  <div class="field">
                    <%= f.label :email, class: "label" %><br />
                    <%= f.email_field :email, :placeholder => "\uf0e0 メールアドレスを入力してください", autofocus: true, autocomplete: "email", class: "fa input is-medium input-top" %>
                  </div>

                  <div class="field">
                    <%= f.label :password, class: "label" %><br />
                    <%= f.password_field :password, :placeholder => "\uf13e パスワードを入力してください", autocomplete: "new-password", class: " fa input is-medium input-top" %>
                  </div>

                  <div class="field">
                    <%= f.label :password_confirmation, "パスワード再確認", class: "label" %><br />
                    <%= f.password_field :password_confirmation, :placeholder => "\uf13e パスワードを再入力してください", autocomplete: "new-password", class: "fa input is-medium input-top" %>
                  </div>

                  <div class="field">
                    <!%= f.label :address, "あなたの住所", class: "label" %><br />
                    <!%= f.text_field :address, :placeholder => "\uf2b9 住所を入力してください", autocomplete: "address", class: "fa input is-medium input-top" %>
                  </div>

                  <div class="field">
                    <%= f.label :postcode, '郵便番号', class: "label" %><br />
                    <%= f.text_field :postcode, autocomplete: 'postcode', class: 'fa input is-medium input-top', id: "address_zipcode" %>
                  </div>

                  <div class="field">
                    <%= f.label :prefecture_name, '都道府県', class: "label" %><br />
                    <%= f.collection_select :prefecture_code, JpPrefecture::Prefecture.all, :name, :name, { prompt: '選択してください' }, class: 'fa input is-medium input-top' %>
                  </div>

                  <div class="field">
                    <%= f.label :address_city, '市区町村', class: "label" %><br />
                    <%= f.text_field :address_city, autocomplete: 'address_city', class: 'fa input is-medium input-top', id:"address_city" %>
                  </div>

                  <div class="field">
                    <%= f.label :address_street, '番地', class: "label" %><br />
                    <%= f.text_field :address_street, autocomplete: 'address_street', class: 'fa input is-medium input-top', id: "address_street" %>
                  </div>

                  <div class="field">
                    <%= f.label :address_building, '建物', class: "label" %><br />
                    <%= f.text_field :address_building, autocomplete: 'address_building', class: 'fa input is-medium input-top' %>
                  </div>
                  

                  <div class="field">
                    <%= f.label :phone, "電話番号", class: "label" %><br />
                    <%= f.text_field :phone, :placeholder => "\uf098電話番号を入力してください", autocomplete: "phone", class: "fa input is-medium input-top" %>
                  </div>

                  <div class="actions">
                    <%= f.submit "新規登録", class: "button is-link is-medium is-fullwidth new-btn has-text-weight-bold" %>
                  </div>
                <% end %>

                </div>
              </div>
            </div>
        </div>
      </article>
      <div class="columns is-centered">
        <div class="column">
        </div>
      </div>
    </div>
  </section>
</body>


